@model KeWeiOMS.Domain.OrderBuyerType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
        $('#c_FristBuyOn').datebox();


        $('#c_ListBuyOn').datebox();


    });
    
</script>

@using (Html.BeginForm("Create", "OrderBuyer", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyerName,"客户名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyerName,new{@id="c_BuyerName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyerEmail,"客户邮件:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyerEmail,new{@id="c_BuyerEmail"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyCount,"客户购买次数:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyCount,new{@id="c_BuyCount"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyAmount,"客户购买金额:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyAmount,new{@id="c_BuyAmount"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.FristBuyOn,"第一次购买时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.FristBuyOn,new{@id="c_FristBuyOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ListBuyOn,"最后一次购买时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ListBuyOn,new{@id="c_ListBuyOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Remark,"客户备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Remark,new{@id="c_Remark"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyerType,"客户类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyerType,new{@id="c_BuyerType"})
		</td>
	</tr>


</table>
</fieldset>
}
