@model KeWeiOMS.Domain.OrderBuyerType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
        $('#e_FristBuyOn').datebox();


        $('#e_ListBuyOn').datebox();


    });
</script>
@using (Html.BeginForm("Edit", "OrderBuyer", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyerName,"客户名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyerName,new{@id="e_BuyerName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyerEmail,"客户邮件:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyerEmail,new{@id="e_BuyerEmail"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyCount,"客户购买次数:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyCount,new{@id="e_BuyCount"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyAmount,"客户购买金额:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyAmount,new{@id="e_BuyAmount"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.FristBuyOn,"第一次购买时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.FristBuyOn,new{@id="e_FristBuyOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ListBuyOn,"最后一次购买时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ListBuyOn,new{@id="e_ListBuyOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Remark,"客户备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Remark,new{@id="e_Remark"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyerType,"客户类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyerType,new{@id="e_BuyerType"})
		</td>
	</tr>


    
</table>
</fieldset>
}
