@model KeWeiOMS.Domain.ProjectType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {
        $('#c_ProjectManager').combobox({
            url: '@Url.Action("ListQ","User")',
                     panelHeight: 100,
                     mode: 'remote',
                     valueField: 'Realname',
                     textField: 'Realname',
                     editable: true,
                     required: true
                 });

        $('#c_ProjectName').validatebox({ required: true });

		
        $('#c_BeginDate').datebox({required:true});


        $('#c_EndDate').datebox({ required: true });

        $('#c_NeedDay').validatebox({required:true});

        $('#c_RealEndDate').datebox();

        $('#c_Status').combobox({
            required: true,
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            editable: false,
            data: [{ id: "未开始", text: "未开始" }, { id: "执行中", text: "执行中" }, { id: "暂停中", text: "暂停中" }, { id: "已完成", text: "已完成" }]
        });
    });
    
</script>

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">

	<tr>
		<td>
            @Html.LabelFor(model => model.ProjectName,"项目名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ProjectName,new{@id="c_ProjectName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="c_Status"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ProjectManager,"项目负责人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ProjectManager,new{@id="c_ProjectManager"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BeginDate,"项目开始时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BeginDate,new{@id="c_BeginDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EndDate,"预计完成时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EndDate,new{@id="c_EndDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.NeedDay,"工期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.NeedDay,new{@id="c_NeedDay"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.RealEndDate,"实际完成时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.RealEndDate,new{@id="c_RealEndDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Evaluate,"评价:")
		</td>
		<td>
            @Html.TextAreaFor(model => model.Evaluate,new{@id="c_Evaluate"})
		</td>
	</tr>


</table>
</fieldset>
}
