@model IEnumerable<KeWeiOMS.Domain.ProductCategoryType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {

            $('#dg').treegrid({
                url: '@Url.Action("ALLList", "ProductCategory")',
                idField: 'Id',
                treeField: 'Name'
            });

        });

        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "ProductCategory")';

            $('#c_dlg').load(url_str, function () {
                $(this).dialog({
                    title: '新建',
                    modal: true,
                    loadingMessage: '正在加载...',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
                            ajaxAdd();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#c_dlg').dialog('close');
                        }
                    }]
                });
            }).dialog('open');;
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Edit", "ProductCategory")/' + id;
                $('#e_dlg').load(url, function () {
                    $(this).dialog({
                        title: '编辑',
                        modal: true,
                        loadingMessage: '正在加载...',
                        buttons: [{
                            text: '提交',
                            iconCls: 'icon-ok',
                            handler: function () {
                                ajaxEdit();
                            }
                        }, {
                            text: '取消',
                            handler: function () {
                                $('#e_dlg').dialog('close');
                            }
                        }]
                    });
                }).dialog('open');
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "ProductCategory")', 'c_dlg', 'dg', 't');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "ProductCategory")', 'e_dlg', 'dg', 't');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "ProductCategory")/' + id;
            
                delData(url, 'dg', 't');

            }
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }

    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" fit="true">
            <thead>
                <tr>
                    <th field="Name" width="100">名称
                    </th>
                    <th field="SortCode" width="100">排序
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
        </div>

        <div id="c_dlg"></div>
        <div id="e_dlg"></div>

    </div>
</body>
