@model KeWeiOMS.Domain.LanguageType
@{
    Layout = null;
}
<html>
<head>
    <title></title>
    <script type="text/javascript">
        $(function () {

        });
    </script>
    <style type="text/css">
        input {
            width: 200px;
        }

        textarea {
            width: 200px;
            height: 60px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Edit", "Language", FormMethod.Post, new { id = "e_form" }))
    {
        <fieldset>
            <table class="editForm">
                <tr>
                    @*		<td>
                            @Html.LabelFor(model => model.Id,"主键:")
                        </td>*@
                    <td style="display:none">
                        @Html.TextBoxFor(model => model.Id, new { @id = "e_Id" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Language, KeWeiOMS.Web.Language.GetString("语言") + ":")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Language, new { @class = "width" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.NativeLanguage, KeWeiOMS.Web.Language.GetString("母语") + ":")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.NativeLanguage, new { @class = "width" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Text, KeWeiOMS.Web.Language.GetString("文本") + ":")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Text, new { @class = "width" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Enable, KeWeiOMS.Web.Language.GetString("启用") + ":")
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.Enable, new { @class = "width" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Note, KeWeiOMS.Web.Language.GetString("备注") + ":")
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Note, new { @class = "width" })
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</body>
</html>