@model IEnumerable<KeWeiOMS.Domain.AccountType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "Account")',
                pageNumber: 1,
                toolbar: '#toolbar',
                rownumbers: true,
                fitColumns: true,
                singleSelect: true,
                pagination: true,
                fit: true,
                pageSize: 20,
                pageList: [20, 40, 60, 80, 100]
            });
            
        });

        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "Account")';
            showdlg(url_str, 'c_dlg', ajaxAdd);
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Account")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Account")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Account")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Delete", "Account")/' + id;
                delData(url, 'dg');
            }
        }


        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }

        function ShowOp(v, r, i) {
            return '<a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'showData("' + v + '")\'>查看明细</a> <a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'showLData("' + v + '")\'>渠道划分</a>';
        }
        var code;

        function showData(v) {
            var url_str = '/AccountFee/Index/' + v;
            $('#s_dlg').load(url_str, function () {
                $(this).dialog({
                    title: '运费设置',
                    iconCls: 'icon-save',
                    modal: true,
                    width: 800,
                    height: 400,
                    loadingMessage: '正在加载...',
                });
            }).dialog('open');
        }
        function showLData(v) {
            var url_str = '/LogisticsAllocation/Index/' + v;
            $('#l_dlg').load(url_str, function () {
                $(this).dialog({
                    title: '渠道划分',
                    iconCls: 'icon-save',
                    modal: true,
                    width: 800,
                    height: 400,
                    loadingMessage: '正在加载...',
                });
            }).dialog('open');
        }

        function doSearch() {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            $("#dg").datagrid("load", {
                search: search
            });
        }
    </script>
    <div region="center">
        <table id="dg">
            <thead>
                <tr>
                  
                    <th field="AccountName" width="200" sortable="true">账户名称
                    </th>

                  

                    <th field="Platform" width="100" sortable="true">平台
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'AccountName'">帐户名称</div>
            <div data-options="name:'Description'">描述</div>
            <div data-options="name:'Manager'">负责人</div>
        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>
        <div id="s_dlg"></div>
        <div id="l_dlg"></div>
    </div>
</body>
