@model IEnumerable<KeWeiOMS.Domain.AccountType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "Account")',
                pageNumber: 1,
                pageSize: 20,
                pageList: [20, 40, 60, 80, 100]
            });
            $('#s_dlg').hide();
        });

        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "Account")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Account")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Account")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Account")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Delete", "Account")/' + id;
                delData(url, 'dg');
            }
        }


            //获取选中行
            function getselectedRow() {
                var row = $('#dg').datagrid('getSelected');
                if (row != undefined) {
                    if (row.hasOwnProperty('Id')) {
                        var id = row['Id'];
                        return id;
                    }
                }
                $.messager.show({
                    title: '提示',
                    msg: '请选择行',
                    timeout: 3000,
                    showType: 'slide'
                });
                return (undefined);
            }

            function ShowOp(v, r, i) {
                return '<a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'showData("' + v + '")\'>查看明细</a>';
            }
            var code;

            function showData(v) {
                $('#s_dlg').show();
                code = v;
                $('#s_dlg').dialog({
                    title: '字典明细',
                    height: 400,
                    width: 600,
                    loadingMessage: '正在加载...'
                }).dialog('open');
                $('#dg2').datagrid({
                    url: '@Url.Action("List", "AccountFee")/',
                    queryParams: { code: v },
                    onClickRow: onClickRow
                });
                $('#s_dlg').dialog('open');
            }

            var editIndex = undefined;
            function endEditing() {
                if (editIndex == undefined) {
                    return true;
                }
                var iscon = true;
                if ($('#dg2').datagrid('validateRow', editIndex)) {
                    $('#dg2').datagrid('endEdit', editIndex);
                    $.post("/AccountFee/Save/", $('#dg2').datagrid("getRows")[editIndex], function (rsp) {
                        if (rsp.IsSuccess) {
                            alert('');
                            $.messager.alert("提示", "提交成功！");
                        } else {
                            $.messager.alert("提示", rsp.Result);
                            iscon = false;
                        }
                    }, "JSON").error(function () {
                        $.messager.alert("提示", "提交错误了！");
                    });
                    if (iscon) {
                        editIndex = undefined;
                        $('#dg2').datagrid("reload");
                        return true;
                    }
                } else {
                    return false;
                }
            }

            function onClickRow(index) {
                if (editIndex != index) {
                    if (endEditing()) {
                        $('#dg2').datagrid('selectRow', index)
                                .datagrid('beginEdit', index);
                        editIndex = index;
                    } else {
                        $('#dg2').datagrid('selectRow', editIndex);
                    }
                }
            }

            function s_add() {
                if (endEditing()) {
                    $('#dg2').datagrid('appendRow', { AccountId: code });
                    editIndex = $('#dg2').datagrid('getRows').length - 1;
                    $('#dg2').datagrid('selectRow', editIndex)
                            .datagrid('beginEdit', editIndex);
                }
            }

            function s_del() {
                var ids = [];
                var rows = $('#dg2').datagrid('getSelections');
                for (var i = 0; i < rows.length; i++) {
                    $.ajax({
                        url: '/AccountFee/Delete/' + rows[i].Id,
                    });
                }
                $('#dg2').datagrid("reload");
            }

            function accept() {
                if (endEditing()) {
                    $('#dg2').datagrid('acceptChanges');
                }
            }
            function doSearch() {
                search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
                $("#dg").datagrid("load", {
                    search: search
                });
            }
    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" singleselect="true" pagination="true">
            <thead>
                <tr>
                    <th field="Id" width="100" sortable="true" formatter="ShowOp">操作
                    </th>
                    <th field="AccountName" width="200" sortable="true">账户名称
                    </th>

                    <th field="AccountUrl" width="100" sortable="true">平台网址
                    </th>

                    <th field="Platform" width="100" sortable="true">平台
                    </th>

                    <th field="Status" width="100" sortable="true">状态
                    </th>

                    <th field="Description" width="100" sortable="true">描述
                    </th>

                    <th field="Manager" width="100" sortable="true">负责人
                    </th>

                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'AccountName'">帐户名称</div>
            <div data-options="name:'Description'">描述</div>
            <div data-options="name:'Manager'">负责人</div>
        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>
        <div id="s_dlg">
            <table id="dg2" class="easyui-datagrid"
                toolbar="#toolbar2"
                rownumbers="true" fitcolumns="true" singleselect="true">
                <thead>
                    <tr>
                        <th field="Id" width="100" data-options="hidden:true">操作
                        </th>
                        <th field="AccountId" width="100" data-options="hidden:true">操作
                        </th>
                        <th field="AmountBegin" width="100" data-options="editor:{type:'numberbox',options:{precision:1}}">总金额开始
                        </th>

                        <th field="AmountEnd" width="100" data-options="editor:{type:'numberbox',options:{precision:1}}">总金额结束
                        </th>

                        <th field="FeeFormula" width="100" data-options="editor:'text'">公式
                        </th>

                        <th field="FeeName" width="100" data-options="editor:{  
                            type:'combobox',  
                            options:{  
                                valueField: 'id',
                                textField: 'text',
                                panelHeight: 'auto',
                                required: true,
                                data: [{ id: '手续费', text: '手续费' }, { id: '交易费', text: '交易费' }, { id: '其他费', text: '其他费' }]
                            }  
                        }">费用名称
                        </th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar2">
                <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="s_add();">新建</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="s_del();">删除</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="accept();">保存</a>
            </div>
        </div>
    </div>
</body>
