<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/easyUI/themes/icon.css")" rel="stylesheet"  type="text/css"  />
    <link href="@Url.Content("~/Scripts/easyUI/themes/gray/easyui.css")" rel="stylesheet" type="text/css"  />

    <script src="@Url.Content("~/Scripts/easyUI/jquery-1.8.0.min.js")"></script>
   
    <script src="@Url.Content("~/Scripts/easyUI/jquery.easyui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/date.js")"></script>
    <script src="@Url.Content("~/Scripts/easyUI/locale/easyui-lang-zh_CN.js")"></script>
  
</head>

<body>
    @RenderBody()
</body>
</html>
