@model KeWeiOMS.Domain.PermissionType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
        $('#c_CreateOn').datebox();

        $('#c_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        $('#c_ModifiedOn').datebox();

        $('#c_ModifiedBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


		
        //入库表单校验
        $("#c_form").validate({
			submitHandler: function (form) {
                        ajaxAdd();
			}
		});
    });
    
</script>

@using (Html.BeginForm("Create", "Permission", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ResourceCategory,"资料类别（主体）:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ResourceCategory,new{@id="c_ResourceCategory"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ResourceId,"资源主键（主体）:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ResourceId,new{@id="c_ResourceId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PermissionId,"操作权限主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PermissionId,new{@id="c_PermissionId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PermissionConstraint,"权限约束表达式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PermissionConstraint,new{@id="c_PermissionConstraint"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Enabled,"有效:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Enabled,new{@id="c_Enabled"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.DeletionStateCode,"删除标记:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DeletionStateCode,new{@id="c_DeletionStateCode"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Description,"备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Description,new{@id="c_Description"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"创建日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="c_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"创建用户:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="c_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateUserId,"创建用户主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateUserId,new{@id="c_CreateUserId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedOn,"修改日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedOn,new{@id="c_ModifiedOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedBy,"修改用户:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedBy,new{@id="c_ModifiedBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedUserId,"修改用户主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedUserId,new{@id="c_ModifiedUserId"})
		</td>
	</tr>


</table>
</fieldset>
}
