@model KeWeiOMS.Domain.SendPackageType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
        $('#e_CreateOn').datebox();

        $('#e_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


    });
</script>
@using (Html.BeginForm("Edit", "SendPackage", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PackageName,"PackageName:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PackageName,new{@id="e_PackageName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"CreateOn:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"CreateBy:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PCount,"PCount:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PCount,new{@id="e_PCount"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PWeight,"PWeight:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PWeight,new{@id="e_PWeight"})
		</td>
	</tr>


    
</table>
</fieldset>
}
