@model KeWeiOMS.Domain.PurchaseTroubleType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {
        $('#t_TroubleType').combobox({
            url: '@Url.Action("GetDataByCode", "Dictionary")/PurchaseTrouble',
                    valueField: 'DicValue',
                    textField: 'FullName',
                    panelHeight: 200,
                    width: 150
                });
        $('#t_TroubleType').combobox("setValue", "未收到");
    });
    
</script>

@using (Html.BeginForm("Create", "PurchaseTrouble", FormMethod.Post, new { id = "t_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"问题状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="t_Status",@readonly="readonly"})
		</td>	
        <td>
            @Html.LabelFor(model => model.PurchaseId,"采购计划Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PurchaseId,new{@id="t_PurchaseId",@readonly="readonly"})
		</td>
	</tr>

    <tr>
		<td>
            @Html.LabelFor(model => model.PurchaseCode,"采购计划编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PurchaseCode,new{@id="t_PurchaseCode",@readonly="readonly"})
		</td>	
         <td>
            @Html.LabelFor(model => model.SKU,"SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="t_SKU",@readonly="readonly"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Qty,"数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="t_Qty",@readonly="readonly"})
		</td>
        <td>
            @Html.LabelFor(model => model.Price,"单价:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Price,new{@id="t_Price",@readonly="readonly"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Freight,"运费:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Freight,new{@id="t_Freight",@readonly="readonly"})
		</td>
        <td>
            @Html.LabelFor(model => model.Supplier,"供应商:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Supplier,new{@id="t_Supplier",@readonly="readonly"})
		</td>
	</tr>
	<tr>
		<td>
            @Html.LabelFor(model => model.LogisticsMode,"物流方式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticsMode,new{@id="t_LogisticsMode",@readonly="readonly"})
		</td>
       <td>
            @Html.LabelFor(model => model.LogisticsCode,"快递单:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticsCode,new{@id="t_LogisticsCode",@readonly="readonly"})
		</td>
	</tr>



	<tr>
		<td>
            @Html.LabelFor(model => model.BuyOn,"购买时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyOn,new{@id="t_BuyOn",@readonly="readonly"})
		</td>

		<td>
            @Html.LabelFor(model => model.ReceiveOn,"到货时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReceiveOn,new{@id="t_ReceiveOn",@readonly="readonly"})
		</td>
	</tr>


	<tr>
		<td>
            @Html.LabelFor(model => model.TroubleType,"问题类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TroubleType,new{@id="t_TroubleType"})
		</td>
	</tr>

	<tr>
		<td >
            @Html.LabelFor(model => model.TroubleDetail,"问题描述:")
		</td>
		<td colspan="3">
            @Html.TextAreaFor(model => model.TroubleDetail,new{@id="t_TroubleDetail",@style="width:400px;height:50px"})
		</td>
	</tr>

@*	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"创建人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="c_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"创建时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="c_CreateOn"})
		</td>
	</tr>
	<tr>
		<td>
            @Html.LabelFor(model => model.DealBy,"处理人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DealBy,new{@id="c_DealBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.DealOn,"处理时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DealOn,new{@id="c_DealOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SolutionType,"解决方式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SolutionType,new{@id="c_SolutionType"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SolutionDetail,"解决描述:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SolutionDetail,new{@id="c_SolutionDetail"})
		</td>
	</tr>*@



</table>
</fieldset>
}
