@model KeWeiOMS.Domain.PurchaseTroubleType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>KeWeiOMS.Domain.PurchaseTroubleType</title>
</head>
<body>
<fieldset>
    <legend>KeWeiOMS.Domain.PurchaseTroubleType</legend>
    <div class="display-label">主键</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">问题状态</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">采购计划Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseId)
    </div>

    <div class="display-label">采购计划编号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseCode)
    </div>

    <div class="display-label">SKU</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKU)
    </div>

    <div class="display-label">数量</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qty)
    </div>

    <div class="display-label">单价</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">运费</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Freight)
    </div>

    <div class="display-label">供应商</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier)
    </div>

    <div class="display-label">物流方式</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogisticsMode)
    </div>

    <div class="display-label">快递单</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogisticsCode)
    </div>

    <div class="display-label">购买时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuyOn)
    </div>

    <div class="display-label">到货时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReceiveOn)
    </div>

    <div class="display-label">问题类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TroubleType)
    </div>

    <div class="display-label">问题描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TroubleDetail)
    </div>

    <div class="display-label">创建人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">创建时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateOn)
    </div>

    <div class="display-label">处理人</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DealBy)
    </div>

    <div class="display-label">处理时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DealOn)
    </div>

    <div class="display-label">解决方式</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SolutionType)
    </div>

    <div class="display-label">解决描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SolutionDetail)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
