@model KeWeiOMS.Domain.PurchaseTroubleType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值

        $('#e_SolutionType').combobox({
            url: '@Url.Action("GetDataByCode", "Dictionary")/PurchaseTroubleDeal',
                    valueField: 'DicValue',
                    textField: 'FullName',
                    panelHeight: 200,
                    width: 150
                });
        $('#e_SolutionType').combobox("setValue","重发")
    });
</script>
@using (Html.BeginForm("Edit", "PurchaseTrouble", FormMethod.Post, new { id = "e_form" }))
{
<fieldset style="border:0">
<table class="editForm">
	<tr>
@*		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

@*	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"问题状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="e_Status"})
		</td>
	</tr>*@

	<tr>
@*		<td>
            @Html.LabelFor(model => model.PurchaseId,"采购计划Id:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.PurchaseId,new{@id="e_PurchaseId"})
		</td>	
        	<td>
            @Html.LabelFor(model => model.PurchaseCode,"采购计划编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PurchaseCode,new{@id="e_PurchaseCode",@readonly="readonly"})
		</td>	
       <td>
            @Html.LabelFor(model => model.SKU,"SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="e_SKU",@readonly="readonly"})
		</td>	
	</tr>

	<tr>
         <td>
            @Html.LabelFor(model => model.Qty,"数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="e_Qty",@readonly="readonly"})
		</td>		
        <td>
            @Html.LabelFor(model => model.Price,"单价:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Price,new{@id="e_Price",@readonly="readonly"})
		</td>	
	</tr>

	<tr>

        <td>
            @Html.LabelFor(model => model.Freight,"运费:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Freight,new{@id="e_Freight",@readonly="readonly"})
		</td>	
       	<td>
            @Html.LabelFor(model => model.Supplier,"供应商:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Supplier,new{@id="e_Supplier",@readonly="readonly"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LogisticsMode,"物流方式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticsMode,new{@id="e_LogisticsMode",@readonly="readonly"})
		</td>
        <td>
            @Html.LabelFor(model => model.LogisticsCode,"快递单:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticsCode,new{@id="e_LogisticsCode",@readonly="readonly"})
		</td>
	</tr>


	<tr>
		<td>
            @Html.LabelFor(model => model.BuyOn,"购买时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyOn,new{@id="e_BuyOn",@readonly="readonly"})
		</td>
        <td>
            @Html.LabelFor(model => model.ReceiveOn,"到货时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReceiveOn,new{@id="e_ReceiveOn",@readonly="readonly"})
		</td>
	</tr>


	<tr>
		<td>
            @Html.LabelFor(model => model.TroubleType,"问题类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TroubleType,new{@id="e_TroubleType",@readonly="readonly"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.TroubleDetail,"问题描述:")
		</td>
		<td colspan="3">
            @Html.TextAreaFor(model => model.TroubleDetail,new{@id="e_TroubleDetail",@style="width:400px;height:50px",@readonly="readonly"})
		</td>
	</tr>

	<tr>
@*		<td>
            @Html.LabelFor(model => model.CreateBy,"创建人:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>

	<tr>
@*		<td>
            @Html.LabelFor(model => model.CreateOn,"创建时间:")
		</td>*@
		<td  style="display:none">
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>
	<tr>
		<td>
            @Html.LabelFor(model => model.SolutionType,"解决方式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SolutionType,new{@id="e_SolutionType"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SolutionDetail,"解决描述:")
		</td>
		<td colspan="3">
            @Html.TextAreaFor(model => model.SolutionDetail,new{@id="e_SolutionDetail",@style="width:400px;height:50px"})
		</td>
	</tr>


    
</table>
</fieldset>
}
