@model KeWeiOMS.Domain.OrderPackRecordType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	        $('#e_PackBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });

        $('#e_ScanBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        $('#e_PackOn').datebox();


    });
</script>
@using (Html.BeginForm("Edit", "OrderPackRecord", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OId,"订单ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OId,new{@id="e_OId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OrderNo,"订单:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderNo,new{@id="e_OrderNo"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PackBy,"包装人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PackBy,new{@id="e_PackBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ScanBy,"扫描人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ScanBy,new{@id="e_ScanBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PackOn,"包装时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PackOn,new{@id="e_PackOn"})
		</td>
	</tr>


    
</table>
</fieldset>
}
