@model KeWeiOMS.Domain.LogisticsAllocationType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>KeWeiOMS.Domain.LogisticsAllocationType</title>
</head>
<body>
<fieldset>
    <legend>KeWeiOMS.Domain.LogisticsAllocationType</legend>
    <div class="display-label">主键标识</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">划分类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllocationType)
    </div>

    <div class="display-label">账户ID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AId)
    </div>

    <div class="display-label">查询SQL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuerySql)
    </div>

    <div class="display-label">承运商</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogisticsMode)
    </div>

    <div class="display-label">开始</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NBegin)
    </div>

    <div class="display-label">结束</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NEnd)
    </div>

    <div class="display-label">内容</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">优先级</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortCode)
    </div>

    <div class="display-label">CreateBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">CreateOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateOn)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
