@model KeWeiOMS.Domain.OrderAddressType
@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {


    });
   
</script>

@using (Html.BeginForm("Create", "OrderAddress", FormMethod.Post, new { id = "c_form" }))
{
 
    <fieldset>
        <table class="editForm">


            <tr>
                <td>
                    @Html.LabelFor(model => model.Addressee, "收件人:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.Addressee, new { @id = "c_Addressee" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Tel, "电话:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Tel, new { @id = "c_Tel" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Phone, "手机:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Phone, new { @id = "c_Phone" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Street, "街道:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.Street, new { @id = "c_Street" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.County, "区:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.County, new { @id = "c_County" })
                </td>
                <td>
                    @Html.LabelFor(model => model.City, "市:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.City, new { @id = "c_City" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Province, "省:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Province, new { @id = "c_Province" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Country, "国家:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Country, new { @id = "c_Country" })
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.CountryCode, "国家代码:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.CountryCode, new { @id = "c_CountryCode" })
                </td>
            </tr>


        </table>
    </fieldset>
}
