
@model IEnumerable<KeWeiOMS.Domain.OrderAddressType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","OrderAddress")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });
        $("#txtEndDate").datebox("setValue", getStartDate(-1));
        $("#txtStartDate").datebox("setValue", getStartDate(7));
    });
<<<<<<< HEAD:KeWeiOMS.Web/Views/OrderAddress/Index.cshtml

    //新建
    function c_dlg() {
        var url_str = '@Url.Action("Create","OrderAddress")';
		
        $('#c_dlg').load(url_str, function () {
            $(this).dialog({
                title: '新建',
				modal:true,
				loadingMessage:'正在加载...',
                buttons: [{
                    text: '提交',
                    iconCls: 'icon-ok',
                    handler: function () {
                        ajaxAdd();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#c_dlg').dialog('close');
                    }
                }]
            });
        }).dialog('open');;
    }

    //编辑框
    function e_dlg() {
        var id = getselectedRow();
        if (id != undefined) {
            var url = '@Url.Action("Edit","OrderAddress")/' + id;
            $('#e_dlg').load(url, function () {
                $(this).dialog({
                    title: '编辑',
					modal:true,
					loadingMessage:'正在加载...',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
							ajaxEdit();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#e_dlg').dialog('close');
                        }
                    }]
                });
            }).dialog('open');
        }
    }

	//异步新建提交
        function ajaxAdd() {
            $('#c_form').form('submit', {
                url: '@Url.Action("Create","OrderAddress")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                 
                    if (!result.IsSuccess) {
                       $.messager.show({
							title: '提示',
							msg: '保存失败:' + result.ErrorMsg,
							timeout: 0,
							showType: 'slide'
						});
                    } else {
                        $('#c_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title: '提示',
                            msg: '保存成功',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                }
            });
        }
		//异步修改提交
        function ajaxEdit() {
            $('#e_form').form('submit', {
                url: '@Url.Action("Edit","OrderAddress")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                 
                    if (!result.IsSuccess) {
                       $.messager.show({
							title: '提示',
							msg: '保存失败:' + result.ErrorMsg,
							timeout: 0,
							showType: 'slide'
						});
                    } else {
                        $('#e_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title: '提示',
                            msg: '保存成功',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                }
            });
        }
   

    //删除
    function del() {
        var id = getselectedRow();
        if (id != undefined) {
            $.messager.confirm('确认', '确定删除?', function (r) {
                if (r) {
                    var url = '@Url.Action("Delete","OrderAddress")/' + id;
                    $.post(url, function () {
                    }).success(function (data) {
                        var msgstr = "删除成功";
                      if (!data.IsSuccess){
                            msgstr = "删除失败" + data;
							$.messager.show({
	                            title: '提示',
	                            msg: msgstr,
								 timeout: 0,
	                            showType: 'slide'
                        	});
                        }else{
	                        $.messager.show({
	                            title: '提示',
	                            msg: msgstr,
	                            timeout: 3000,
	                            showType: 'slide'
	                        });
						}

                        $('#dg').datagrid('reload');
                    }) .error(function () {
                            $.messager.alert('错误', '删除发生错误');
                        });

                }
            });
        }
    }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
   
=======

    function toExcel() {
        $('#dg').datagrid('loading');
        var postUrl = "/Order/ExportDown/1";
        $.ajax({
            url: '@Url.Action("ToExcel", "EbayMessage")/',
            success: function (result) {

                $.messager.show({
                    title: '提示',
                    msg: result.Msg,
                    timeout: 0,
                    showType: 'slide',
                })
                location.href = postUrl;
                $('#dg').datagrid('reload');
            }
        })
    }

    function doSearch() {
        search = $('#txtStartDate').datebox("getValue") + "&" + $('#txtEndDate').datebox("getValue") + "$" + $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
        $("#dg").datagrid("load", {
            search: search
        });
    }

    function syn() {
        $('#dg').datagrid("loading");
        $.ajax({
            url: '@Url.Action("Syn", "EbayMessage")',
             success: function (result) {
                 if (result.IsSuccess) {
                     $.messager.show({
                         title: '提示',
                         msg: result.Msg,
                         timeout: 0,
                         showType: 'slide',
                     })
                 }
                 else {
                     $.messager.show({
                         title: '提示',
                         msg: result.Msg,
                         timeout: 0,
                         showType: 'slide'
                     })
                 }
                 $('#dg').datagrid('reload');
             }
         })
     }
>>>>>>> ebay 信息:KeWeiOMS.Web/Views/EbayMessage/Index.cshtml
</script>
<div region="center">
<table id="dg" class="easyui-datagrid" 
           toolbar="#toolbar"  
           rownumbers="true" fitColumns="true" singleSelect="true" pagination="true" fit="true">  
        <thead>  
<<<<<<< HEAD:KeWeiOMS.Web/Views/OrderAddress/Index.cshtml
        <tr>
            <th field="Id" width="100">
                主键
            </th>

            <th field="BId" width="100">
                客户Id
            </th>

            <th field="Addressee" width="100">
                收件人
            </th>

            <th field="Tel" width="100">
                电话
            </th>

            <th field="Phone" width="100">
                手机
            </th>

            <th field="Street" width="100">
                街道
            </th>

            <th field="County" width="100">
                区
            </th>

            <th field="City" width="100">
                市
            </th>

            <th field="Province" width="100">
                省
            </th>

            <th field="Country" width="100">
                国家
            </th>

            <th field="CountryCode" width="100">
                国家代码
            </th>

=======
        <tr>

            <th field="MessageId" width="100">
                消息Id
            </th>

            <th field="MessageType" width="100">
                消息类型
            </th>

            <th field="QuestionType" width="100">
                问题类型
            </th>

            <th field="SenderEmail" width="100">
                买家邮箱
            </th>

            <th field="SenderID" width="100">
                买家账号
            </th>

            <th field="Subject" width="100">
                消息主题
            </th>

            <th field="Body" width="100">
                消息内容
            </th>

            <th field="MessageStatus" width="100">
                消息状态
            </th>

            <th field="ItemId" width="100">
                商品编号
            </th>

            <th field="CreationDate" width="100">
                问题创建时间
            </th>

            <th field="CreateOn" width="100">
                同步时间
            </th>

>>>>>>> ebay 信息:KeWeiOMS.Web/Views/EbayMessage/Index.cshtml

    	</tr>
		</thead>
		</table>
        <div id="toolbar">
       <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="syn();">同步</a>  
                开始时间：<input type="text" id="txtStartDate" class="easyui-datebox" style="width:100px" readonly="readonly"  />&nbsp;
                结束时间：<input type="text" id="txtEndDate" class="easyui-datebox" readonly="readonly" style="width:100px"/>&nbsp;&nbsp;
		  <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
          <a href="#" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="toExcel();">导出数据</a> 
        </div> 
        		<div id="mm" style="width: 120px">
            <div data-options="name:'SenderEmail'">买家邮箱</div>
            <div data-options="name:'SenderID'">买家账号</div>
            <div data-options="name:'Body'">消息主题</div>
            <div data-options="name:'SenderID'">消息内容</div>
            <div data-options="name:'ItemId'">商品编号</div>

        </div>
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>

</div>
</body>
