@model KeWeiOMS.Domain.PurchasePlanType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		        $('#c_BuyBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });

        $('#c_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        $('#c_CreateOn').datebox();


        $('#c_BuyOn').datebox();


        $('#c_SendOn').datebox();


        $('#c_ReceiveOn').datebox();

        $('#c_Status').combobox({
            valueField:'id',
            textField:'text',
            panelHeight: 80,
            editable:false,
            data: [{ id: 0, text: "已采购" }, { id: 1, text: "已发货" }, { id: 2, text: "已收到" }]
        });

        $('#c_Suppliers').combobox({
            url: '@Url.Action("GetSuppliers","PurchasePlan")',
            valueField: 'SuppliersName',
            textField: 'SuppliersName',
        });

        $('#c_PlanNo').validatebox({
            required:true
        })
        $('#c_SKU').validatebox({
            required: true
        })
    });
    function SeachSKU() {
        var sku = $("#c_SKU").attr("value");
        $.getJSON('@Url.Action("SearchSKU","PurchasePlan")/' + sku, function (json) {
            if (json)
            { 
                $("#c_ProductName").attr("value", json[0].ProductName);
                $("#c_PicUrl").attr("value", json[0].PicUrl);
                $("#c_ProductUrl").attr("value", json[0].SPicUrl);
            }
        })
    }
    
</script>

@using (Html.BeginForm("Create", "PurchasePlan", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
@*	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>*@

	<tr>
		<td>
            @Html.LabelFor(model => model.PlanNo,"计划编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PlanNo,new{@id="c_PlanNo"})
		</td>
        		<td>
            @Html.LabelFor(model => model.PicUrl,"图片链接:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PicUrl,new{@id="c_PicUrl"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="c_SKU",onblur="SeachSKU()"})
		</td>
        <td>
            @Html.LabelFor(model => model.ProductUrl,"产品链接:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ProductUrl,new{@id="c_ProductUrl" })
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Price,"单价:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Price,new{@id="c_Price"})
		</td>
         <td>
            @Html.LabelFor(model => model.Status,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="c_Status"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Qty,"数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="c_Qty"})
		</td>
@*        		<td>
            @Html.LabelFor(model => model.BuyOn,"采购时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyOn,new{@id="c_BuyOn"})
		</td>*@        		<td>
            @Html.LabelFor(model => model.SendOn,"发货时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SendOn,new{@id="c_SendOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Freight,"运费:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Freight,new{@id="c_Freight"})
		</td>
        <td>
            @Html.LabelFor(model => model.ReceiveOn,"到货时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReceiveOn,new{@id="c_ReceiveOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ProductName,"名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ProductName,new{@id="c_ProductName"})
		</td>

	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Suppliers,"供应商:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Suppliers,new{@id="c_Suppliers"})
		</td>
	</tr>

	<tr>
@*		<td>
            @Html.LabelFor(model => model.SId,"供应商ID:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.SId,new{@id="c_SId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LogisticsMode,"发货方式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticsMode,new{@id="c_LogisticsMode"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.TrackCode,"运单号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TrackCode,new{@id="c_TrackCode"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PostStatus,"物流状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PostStatus,new{@id="c_PostStatus"})
		</td>
	</tr>

@*	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="c_Status"})
		</td>
	</tr>
	
	<tr>
		<td>
            @Html.LabelFor(model => model.BuyBy,"采购人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyBy,new{@id="c_BuyBy"})
		</td>
	</tr>

<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"生成人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="c_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"生成时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="c_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.BuyOn,"采购时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BuyOn,new{@id="c_BuyOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SendOn,"发货时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SendOn,new{@id="c_SendOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReceiveOn,"到货时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReceiveOn,new{@id="c_ReceiveOn"})
		</td>
	</tr>*@


</table> 
</fieldset>
}
