
@model IEnumerable<KeWeiOMS.Domain.EmailMessageType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","EmailMessage")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });

    });

	//新建
        function c_dlg() {
            var url_str = '@Url.Action("Create","EmailMessage")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
        function e_dlg() {
            var url = '@Url.Action("Edit","EmailMessage")/' + id;
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Module")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "EmailMessage")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "EmailMessage")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Delete", "EmailMessage")/' + id;
                delData(url, 'dg');

            }
        }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
     function doSearch() {
                search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
                $("#dg").datagrid("load", {
                    search: search
                });
      }
</script>
<div region="center">
<table id="dg" class="easyui-datagrid" 
           toolbar="#toolbar"  
           rownumbers="true" fitColumns="true" singleSelect="true" pagination="true" fit="true">  
        <thead>  
        <tr>
            <th field="MessageId" width="100">
                邮件编号
            </th>

            <th field="OrderExNo" width="100">
                订单编号
            </th>

            <th field="RserverDate" width="100">
                接收时间
            </th>

            <th field="CreateOn" width="100">
                创建时间
            </th>
    	</tr>
		</thead>
		</table>
        <div id="toolbar">
@*        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del();">删除</a>  *@
		  <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
            <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="ShowAdvanced();">Advanced</a>
        </div> 
		<div id="mm" style="width: 120px">
            <div data-options="name:'MessageId'">邮件编号</div>
            <div data-options="name:'OrderExNo'">订单编号</div>
            <div data-options="name:'RserverDate'">接收时间</div>
            <div data-options="name:'CreateOn'">创建时间</div>

        </div>
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>

</div>
</body>
