@model IEnumerable<KeWeiOMS.Domain.EbayType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "Ebay")',
                toolbar: '#toolbar',
                rownumbers: true,
                fitColumns: true,
                singleSelect: true,
                pagination: true,
                fit: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
            });

            $('#aa').combobox({
                url: '/Account/AccountList/Ebay',
                valueField: 'id',
                textField: 'text',
                width: 150
            });
            $('#aa').combobox("setValue", "ALL");
    });

    //新建
    function c_dlg() {
        var url_str = '@Url.Action("Create", "Ebay")';
        showdlg(url_str, 'c_dlg', ajaxAdd);
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            var url = '@Url.Action("Edit","Ebay")/' + id;
        if (id != undefined) {
            showdlg(url, 'e_dlg', ajaxEdit)
        }
    }


        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Ebay")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Ebay")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "Ebay")/' + id;
                delData(url, 'dg');

            }
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }

        function toExcel() {
            search = getSearch();
            $('#dg').datagrid('loading');
            var postUrl = "/Order/ExportDown/1";
            $.ajax({
                url: '@Url.Action("ToExcel", "Ebay")/',
            type: 'post',
            data: 'search=' + encodeURIComponent(search),
            success: function (result) {
                $.messager.show({
                    title: '提示',
                    msg: result.ErrorMsg,
                    timeout: 0,
                    showType: 'slide'
                });
                location.href = postUrl;
                $('#dg').datagrid('reload');
            }
        });
    }
        function getSearch()
        {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            if ($('#aa').combobox("getText") != "ALL")
            {
                search += "Account&" + $('#aa').combobox("getText") + "^";
            }
            return search;
        }
        function doSearch() {
            search = getSearch();
            $("#dg").datagrid("load", {
                search: search
            });
        }

    function url(v, r, i) {
        return '<a href="' + r.ProductUrl + '"  target="_blank"  class="easyui-linkbutton" ><img src="' + v + '" height="100px" width="100px" /></a>'
    }

    function syn() {
        $('#dg').datagrid('loading');
        $.ajax({
            url: '@Url.Action("Syn", "Ebay")/',
            type: 'post',
            data: 'id=' +$('#aa').combobox("getText"),
             success: function (result) {
                 if (result.IsSuccess) {
                     $.messager.show({
                         title: '提示',
                         msg: result.ErrorMsg,
                         timeout: 0,
                         showType: 'slide'
                     })
                 }
                 else {
                     $.messager.show({
                         title: '提示',
                         msg: result.ErrorMsg,
                         timeout: 0,
                         showType: 'slide'
                     })
                 }
                 $('#dg').datagrid('reload');
             }
         })
     }
    </script>
    <div region="center">
        <table id="dg">
            <thead>
                <tr>
                    <th field="ItemId" width="100" sortable="true">编号
                    </th>
                    <th field="SKU" width="100" sortable="true">SKU
                    </th>
                    <th field="Status" width="100" sortable="true">状态
                    </th>
                    <th field="ItemTitle" width="100" sortable="true">标题
                    </th>
                    <th field="PicUrl" width="100" formatter="url" sortable="true">图片链接
                    </th>
                    <th field="Currency" width="30" sortable="true">货币
                    </th>
                    <th field="Price" width="30" sortable="true">价格
                    </th>
                    <th field="StartNum" width="30" sortable="true">初始数量
                    </th>

                    <th field="NowNum" width="30" sortable="true">Now
                    </th>
                    <th field="UnPeiQty" width="30" sortable="true">库存
                    </th>


                    <th field="CreateOn" width="100" formatter="getDate" sortable="true">同步时间
                    </th>

                    <th field="Account" width="100" sortable="true">账号
                    </th>


                </tr>
            </thead>
        </table>
        <div id="toolbar">   
           账户<input id="aa" type="text">
		  <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
            <a href="#" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="syn();">同步</a><a href="#" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="toExcel();">导出数据</a>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'ItemId'">编号</div>
            <div data-options="name:'ItemTitle'">标题</div>
            <div data-options="name:'Account'">账号</div>

        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>

    </div>
</body>
