@model KeWeiOMS.Domain.EbayMessageType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
        $('#c_CreationDate').datebox();


        $('#c_CreateOn').datebox();


    });
    
</script>

@using (Html.BeginForm("Create", "EbayMessage", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MessageId,"消息Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MessageId,new{@id="c_MessageId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MessageType,"消息类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MessageType,new{@id="c_MessageType"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.QuestionType,"问题类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.QuestionType,new{@id="c_QuestionType"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SenderEmail,"买家邮箱:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SenderEmail,new{@id="c_SenderEmail"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SenderID,"买家Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SenderID,new{@id="c_SenderID"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Subject,"消息主题:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Subject,new{@id="c_Subject"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Body,"消息内容:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Body,new{@id="c_Body"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MessageStatus,"消息状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MessageStatus,new{@id="c_MessageStatus"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ItemId,"商品编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ItemId,new{@id="c_ItemId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreationDate,"问题创建时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreationDate,new{@id="c_CreationDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"同步时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="c_CreateOn"})
		</td>
	</tr>


</table>
</fieldset>
}
