@model KeWeiOMS.Domain.EbayMessageType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>KeWeiOMS.Domain.EbayMessageType</title>
</head>
<body>
<fieldset>
    <legend>KeWeiOMS.Domain.EbayMessageType</legend>
    <div class="display-label">主键</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">消息Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageId)
    </div>

    <div class="display-label">消息类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageType)
    </div>

    <div class="display-label">问题类型</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionType)
    </div>

    <div class="display-label">买家邮箱</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SenderEmail)
    </div>

    <div class="display-label">买家Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SenderID)
    </div>

    <div class="display-label">消息主题</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">消息内容</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">消息状态</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageStatus)
    </div>

    <div class="display-label">商品编号</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ItemId)
    </div>

    <div class="display-label">问题创建时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">同步时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateOn)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
