@model KeWeiOMS.Domain.LogisticsAreaType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
    });
</script>
@using (Html.BeginForm("Edit", "LogisticsArea", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.AreaName,"分区名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AreaName,new{@id="e_AreaName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LId,"承运商ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LId,new{@id="e_LId"})
		</td>
	</tr>


    
</table>
</fieldset>
}
