
@model IEnumerable<KeWeiOMS.Domain.LogisticsAreaType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("GetByLId","LogisticsArea")',
            toolbar: '#toolbar',
            rownumbers: true,
            fitColumns: true,
            singleSelect: true,
            pagination: true,
            fit: true,
            columns: [[
               { field: 'AreaName', title: '分区名称', width: 100 },
               {
                   field: 'Id', title: '操作', width: 200, formatter: function (value) {
                       return '<a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'refrshCountry(' + value + ')\'>设置国家</a> <a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'GetFreightList(' + value + ')\'>设置运费</a> <a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'delArea(' + value + ')\'>删除</a>';
                   }
               }
            ]]
        });

    });


	//新建
        function c_dlg() {
            var url_str = '@Url.Action("Create","LogisticsArea")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
    function e_dlg() {
        var id = getselectedRow();
            var url = '@Url.Action("Edit","LogisticsArea")/' + id;
            if (id != undefined) {
                var url = '@Url.Action("Edit", "LogisticsArea")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "LogisticsArea")', 'c_dlg', 'dg');
        }
        //异步修改提交
    function ajaxEdit() {
        formPost('e_form', '@Url.Action("Edit", "LogisticsArea")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "LogisticsArea")/' + id;
            
                delData(url, 'dg');

            }
        }

    function delArea(id)
    {
        var url = '@Url.Action("Delete", "LogisticsArea")/' + id;
        delData(url, 'dg');
    }
    function refrshCountry(id)
    {
        var url_str = '@Url.Action("SetCountry","LogisticsAreaCountry")/'+id;
        $('#setc_dlg').load(url_str, function () {
            $(this).dialog({
                title: '设置国家',
                iconCls:'icon-save',
                modal: true,
                loadingMessage: '正在加载...',
            });
        }).dialog('open');
    }
    function GetFreightList(id) {
        var url_str = '@Url.Action("SetFreight","LogisticsFreight")/' + id;
        $('#setf_dlg').load(url_str, function () {
            $(this).dialog({
                title: '设置运费',
                iconCls: 'icon-save',
                modal: true,
                loadingMessage: '正在加载...',
            });
        }).dialog('open');
    }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
   
</script>
<div region="center">
<table id="dg">  
@*        <thead>  
        <tr>
            <th field="Id" width="100">
                主键
            </th>

            <th field="AreaName" width="100">
                分区名称
            </th>

            <th field="LId" width="100">
                承运商ID
            </th>


    	</tr>
		</thead>*@
		</table>
        <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        </div> 
        
    <div id="c_dlg"></div>
     <div id="e_dlg"></div>
    <div id="setc_dlg"></div>
    <div id="setf_dlg"></div>

</div>
</body>
