@model KeWeiOMS.Domain.LogisticsType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
        $('#e_CreateOn').datebox();


    });
</script>
@using (Html.BeginForm("Edit", "Logistic", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LogisticsName,"承运商名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticsName,new{@id="e_LogisticsName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LogisticsCode,"承运商代码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticsCode,new{@id="e_LogisticsCode"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.HasTrackCode,"是否有追踪码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.HasTrackCode,new{@id="e_HasTrackCode"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CodeLength,"追踪码长度:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CodeLength,new{@id="e_CodeLength"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Remark,"备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Remark,new{@id="e_Remark"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"添加时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>


    
</table>
</fieldset>
}
