
@model IEnumerable<KeWeiOMS.Domain.SoresAddType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","SoresAdd")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });

    });


	//新建
        function c_dlg() {
            var url_str = '@Url.Action("Create","SoresAdd")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
    function e_dlg() {
            var id = getselectedRow();
            var url = '@Url.Action("Edit","SoresAdd")/' + id;
            if (id != undefined) {
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "SoresAdd")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "SoresAdd")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "SoresAdd")/' + id;
                delData(url, 'dg');

            }
        }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
     function doSearch() {
                search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
                $("#dg").datagrid("load", {
                    search: search
                });
      }
</script>
<div region="center">
<table id="dg" class="easyui-datagrid" 
           toolbar="#toolbar"  
           rownumbers="true" fitColumns="true" singleSelect="true" pagination="true" fit="true">  
        <thead>  
        <tr>
            <th field="WorkDate" width="100" formatter="getDate">
                日期时间
            </th>

            <th field="Worker" width="100">
                人员
            </th>

            <th field="Sore" width="100">
                分数
            </th>

            <th field="Hours" width="100">
                小时
            </th>

            <th field="WorkType" width="100">
                类型
            </th>

            <th field="CreateBy" width="100">
                创建人
            </th>

            <th field="CreateOn" width="100" formatter="getDate">
                创建时间
            </th>
    	</tr>
		</thead>
		</table>
        <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del();">删除</a>  
		  <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div> 
		<div id="mm" style="width: 120px">
            <div data-options="name:'User'">人员</div>
            <div data-options="name:'WorkType'">类型</div>
            <div data-options="name:'CreateBy'">创建人</div>
        </div>
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>

</div>
</body>
