@model KeWeiOMS.Domain.DisputeType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('#e_Status').combobox({
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            editable: false,
            data: [{ id: "解决中", text: "解决中" }, { id: "已解决", text: "已解决" }]
        });
        $('#e_DisputeCategory').combobox({
            url: '@Url.Action("GetDataByCode", "Dictionary")/DisputeClass',
            valueField: 'DicValue',
            textField: 'FullName',
            panelHeight: 200,
            width: 150
        });
        $('#e_SolveBy').combobox({
            url: '@Url.Action("ListQ","User")',
                    panelHeight: 100,
                    mode: 'remote',
                    valueField: 'Realname',
                    textField: 'Realname',
                    editable: true,
                    disabled: true
                });
        $("#e_RefundAmount").attr({
        });
        $('#e_Solution').combobox({
            url: '@Url.Action("GetDataByCode", "Dictionary")/DisputeSolution',
            valueField: 'DicValue',
            textField: 'FullName',
            panelHeight: 200,
            width: 150
        });
        $('#e_LogisticMessage').combobox({
            url: '@Url.Action("GetDataByCode", "Dictionary")/LogisticMessageType',
                    valueField: 'DicValue',
                    textField: 'FullName',
                    panelHeight: 'auto',
                    width: 150
        });
        $('#e_DisputesType').combobox({
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            disabled: true,
            data: [{ id: "纠纷", text: "纠纷" }, { id: "邮件记事", text: "邮件记事" }]
        });
        $('#e_AmountType').combobox({
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            data: [{ id: "平台退款", text: "平台退款" }, { id: "PayPal退款", text: "PayPal退款" }]
        });
    });
</script>
@using (Html.BeginForm("Edit", "Dispute", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
<tr>
@*		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>*@
		<td style ="display :none">
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
    	<td style ="display :none">
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OrderNo,"订单号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderNo,new{@id="e_OrderNo",@readonly="readonly"})
		</td>
        <td>
            @Html.LabelFor(model => model.OrderExNo,"平台订单号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderExNo,new{@id="e_OrderExNo",@readonly="readonly"})
		</td>
	</tr>
    <tr>		
        <td>
            @Html.LabelFor(model => model.Platform,"平台:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Platform,new{@id="e_Platform",@readonly="readonly"})
		</td>	
		<td>
            @Html.LabelFor(model => model.Account,"账户:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Account,new{@id="e_Account",@readonly="readonly"})
		</td>
	</tr>
    <tr>
		<td style ="display:none">
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
        </tr>
    	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"商品SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="e_SKU",@readonly="readonly"})
		</td>
            		<td>
            @Html.LabelFor(model => model.GenerateOn,"下单时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.GenerateOn,new{@id="e_GenerateOn",@readonly="readonly"})
		</td>
	</tr>
    <tr>
		<td>
            @Html.LabelFor(model => model.Qty,"Qty:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="e_Qty",@readonly="readonly"})
		</td>
        	<td>
            @Html.LabelFor(model => model.SendOn,"发货时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SendOn,new{@id="e_SendOn",@readonly="readonly"})
		</td>
	</tr>
    	<tr>        
        <td>
            @Html.LabelFor(model => model.CurrencyCode,"货币:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CurrencyCode,new{@id="e_CurrencyCode",@readonly="readonly"})
		</td>
		<td>
            @Html.LabelFor(model => model.Amount,"金额:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Amount,new{@id="e_Amount",@readonly="readonly"})
		</td>		

	</tr>

    	<tr>
		<td>
            @Html.LabelFor(model => model.LogisticsMode,"物流方式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticsMode,new{@id="e_LogisticsMode",@readonly="readonly"})
		</td>		
            <td>
            @Html.LabelFor(model => model.TrackCode,"追踪码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TrackCode,new{@id="e_TrackCode",@readonly="readonly"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.DisputeOn,"纠纷时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DisputeOn,new{@id="e_DisputeOn",@readonly="readonly"})
		</td>
	</tr>

        <tr>
         <td>
            @Html.LabelFor(model => model.DisputesType,"纠纷类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DisputesType,new{@id="e_DisputesType",@readonly="readonly"})
		</td>
		<td>
            @Html.LabelFor(model => model.DisputeCategory,"纠纷原因:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DisputeCategory,new{@id="e_DisputeCategory",@readonly="readonly"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="e_Status", onblur="Solution()"})
		</td>
        <td>
            @Html.LabelFor(model => model.LogisticMessage,"物流状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogisticMessage,new{@id="e_LogisticMessage"})
		</td>		
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Solution,"解决方式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Solution,new{@id="e_Solution"})
		</td>		
        <td style="display:none">
            @Html.TextBoxFor(model => model.SolveOn,new{@id="e_SolveOn"})
		</td>
	</tr>
    	<tr>
		<td>
            @Html.LabelFor(model => model.AmountType,"退款方式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AmountType,new{@id="e_AmountType"})
		</td>		
		<td>
            @Html.LabelFor(model => model.RefundAmount,"退款金额:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.RefundAmount,new{@id="e_RefundAmount"})
		</td>
	</tr>
    	<tr>
		<td>
            @Html.LabelFor(model => model.EmailAccount,"账号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EmailAccount,new{@id="e_EmailAccount"})
		</td>		
		<td>
            @Html.LabelFor(model => model.TransactionNo,"交易号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TransactionNo,new{@id="e_TransactionNo"})
		</td>
	</tr>
</table>
</fieldset>
}
