
@model IEnumerable<KeWeiOMS.Domain.DisputeType>
@{
    ViewBag.Title = "纠纷列表-Index";
}
<script src="@Url.Content("~/Scripts/easyUI/datagrid-detailview.js")"></script>
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#type').combobox({
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            data: [{ id: "ALL", text: "ALL" }, { id: "纠纷", text: "纠纷" }, { id: "邮件记事", text: "邮件记事" }]
        });
        $('#type').combobox("setValue", "ALL");
        $('#dg').datagrid({
            url: '@Url.Action("List","Dispute")',
            toolbar: '#toolbar',
            rownumbers: true,
            queryParams: { "type":"纠纷"},
            fitColumns: true,
            singleSelect: true,
            pagination: true,
            fit: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100],
            columns: [[
                       {
                           field: 'Id', width: 100, formatter: function (v, r, i) {
                               var html=""
                               if (r.Status != '已解决') {
                                   if (r.Status != '解决中')
                                       html = '<a href="javascript:void(0);" onclick="Deal(' + v + ')"><font color="#FF0000">解决</font></a>';
                                   else
                                       html = '<a href="javascript:void(0);" onclick="Deal(' + v + ')">解决</a>';
                                   return html;
                               }
                               return '已解决';
                           }
                       },
                       { field: 'DisputesType', title: '类型', width: 60, sortable: true },
                        { field: 'OrderNo', title: '订单号', width: 80, sortable: true },
                        {
                            field: 'Platform', title: '平台', width: 120, sortable: true,
                            formatter: function (v, r, i) {
                                return "平台：" + v + "<br>" + '账户:' + r.Account+ "<br>" + '平台单号:' + r.OrderExNo ;
                            }
                        },
                        { field: 'DisputeCategory', title: '纠纷原因', width: 60, sortable: true },
                        { field: 'SKU', title: '商品编号', width: 60, sortable: true },
                        {
                            field: 'LogisticsMode', title: '物流方式', width: 120, sortable: true,
                            formatter: function (v, r, i) {
                                return "物流方式：" + v + "<br>" + '追踪码:' + r.TrackCode;
                            }
                        },
                        {field: 'Status', title: '状态', width: 60, sortable: true },
                        { field: 'Solution', title: '处理方式', width: 60, sortable: true },
                        { field: 'LogisticMessage', title:'物流信息',width: 60, sortable: true },
                        {
                            field: 'CreateBy', title: '管理人员', width: 100, sortable: true,
                            formatter: function (v, r, i) {
                                return "添加人：" + v + "<br>" + '解决人:' + r.SolveBy;
                            }
                        },
                        {
                            field: 'CreateOn', title: '时间', width: 100, sortable: true,
                            formatter: function (v, r, i) {
                                return '创建时间:' + getDate(v) + "<br>" + '下单时间:' + getDate(r.GenerateOn) + "<br>" + '发货时间:' + getDate(r.SendOn) + "<br>" + '纠纷时间:' + getDate(r.DisputeOn) + "<br>" + '解决时间:' + getDate(r.SolveOn) + "<br>";
                            }
                        }]],
            view: detailview,
            detailFormatter: function (index, row) {
                return '<div style="padding:2px"><table id="ddv-' + index + '" style="padding:5px 0"></table></div>';
            },
            onExpandRow: function (index, row) {
                $('#ddv-' + index).datagrid({
                    fitColumns: true,
                    singleSelect: true,
                    rownumbers: true,
                    loadMsg: '',
                    height: 'auto',
                    url: '@Url.Action("GetRecord", "Dispute")/'+row.Id,
                    columns: [[

                            { field: 'DealType', title: '操作类型', width: 100 },
                            { field: 'Content', title: '操作内容', width: 400 },
                            {field: 'CreateBy', title: '处理人', width: 100 },
                            {
                                field: 'CreateOn', title: '处理时间', width: 200, formatter: function (value) {
                                    return getDate(value);
                                }
                            }
                    ]],
                    onResize: function () {
                        $('#dg').datagrid('fixDetailRowHeight', index);
                    },
                    onLoadSuccess: function () {
                        setTimeout(function () {
                            $('#dg').datagrid('fixDetailRowHeight', index);
                        }, 0);
                    }
                });
                $('#dg').datagrid('fixDetailRowHeight', index);
            }
        });
        $("#cc").datebox({
            parser: myparser
        });
        $("#cc2").datebox({
            parser: myparser
        });
        //$('#cc').datebox("setValue", getStartDate(7));
        //$('#cc2').datebox("setValue", getStartDate(-1));
        $('#reason').combobox({
            url: '@Url.Action("GetDataByCode", "Dictionary")/DisputeClass',
                    valueField: 'DicValue',
                    textField: 'FullName',
                    panelHeight: 200,
                    width: 150
                });
        $('#reason').combobox("setValue", "ALL");
        $('#status').combobox({
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            editable: false,
            data: [{ id: "未解决", text: "未解决" }, { id: "解决中", text: "解决中" }, { id: "已解决", text: "已解决" }]
        });
        $('#status').combobox("setValue", "ALL");
        $('#case').combobox({
            valueField: 'id',
            textField: 'text',
            panelHeight: 'auto',
            editable: false,
            data: [{ id: 0, text: "ALL" }, { id: 1, text: "创建12小时未回复" }, { id: 2, text: "处理三天未解决" }],
            onChange: function (record) {
                if (record==0)
                    return;
                var search ="";
                if (record== 1)
                    search += "Status_es&未解决^CreateOn_et&" + getStartDateTime(12, "m") + "^";
                if (record== 2)
                    search += "Status_es&解决中^SolveOn_et&" + getStartDateTime(3, "d") + "^";

                $("#dg").datagrid("load", {
                    search: search
                });
            }
        });
        $('#case').combobox("setValue", 0);
        $('#pp').combobox({
            url: '/Home/Platform/1',
            valueField: 'id',
            textField: 'text',
            width: 100,
            panelHeight: 'auto',
            onChange: changePlatform
        });
        $('#pp').combobox("setValue", "ALL");
    });
    function myparser(s) {
        if (!s) return new Date();
        var ss = s.split('-');
        var y = parseInt(ss[0], 10);
        var m = parseInt(ss[1], 10);
        var d = parseInt(ss[2], 10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
            return new Date(y, m - 1, d);
        } else {
            return new Date();
        }
    }


	//新建
        function c_dlg() {
            var url_str = '@Url.Action("Create","Dispute")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

    //编辑框
 @*    function e_dlg() {
       var id = getselectedRow();
        var url = '@Url.Action("Edit","Dispute")/' + id;
            if (id != undefined) {
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }*@

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Dispute")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Dispute")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "Dispute")/' + id;
                delData(url, 'dg');

            }
        }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
     function doSearch() {
         var search = getSearch();
                $("#dg").datagrid("load", {
                    search: search
                });
     }
     function getSearch() {
         var search = "CreateOn_st&" + $('#cc').datebox("getValue") + "^CreateOn_et&" + $('#cc2').datebox("getValue") + "^" + $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
         var r = $('#reason').combobox("getText");
         if (r != "ALL" && r != "") {
             search += "DisputeCategory&"+ r + "^";
         }
         var s = $('#status').combobox("getText");
         if (s != "ALL" && s != "") {
             search += "Status&" + s + "^";
         }
         var p = $('#pp').combobox("getText");
         if (p != "ALL" && p != "") {
             search += "Platform&" + p + "^";
         }
         var a = $('#aa').combobox("getText");
         if (a != "ALL" && a != "") {
             search += "Account&" + a + "^";
         }
         //var t = $('#type').combobox("getText");
         //if (t != "ALL" && t != "") {
         //    search += "DisputesType&" + t + "^";
         //}
         return search;
     }

     function toExcel() {
         search = getSearch();
         $('#dg').datagrid('loading');
         var postUrl = "/Order/ExportDown/1";
         $.ajax({
             url: '@Url.Action("ToExcel", "Dispute")/',
            type: 'post',
            data: 'search=' + encodeURIComponent(search),
            success: function (result) {
                $.messager.show({
                    title: '提示',
                    msg: result.ErrorMsg,
                    timeout: 0,
                    showType: 'slide'
                });
                location.href = postUrl;
                $('#dg').datagrid('reload');
            }
        });
    }

     function Deal(value) {
         var url = '@Url.Action("Edit","Dispute")/' + value;
                     showdlg(url, 'e_dlg', ajaxEdit)

     }
    function todispute(value) {
       $.ajax({
           url: '@Url.Action("ToDispute","Dispute")/' + value,
           success: function (result) {
               if (result) {
                   if (result.IsSuccess) {
                       alert("操作成功");
                       $('#dg').datagrid('reload');
                   }
                   else {
                       alert("操作成功" + result.ErrorMsg);
                   }
               }
           }
        })
    }
    function changePlatform(n, o) {
        $('#aa').combotree({
            url: '/Home/AccountList/' + n,
            valueField: 'id',
            textField: 'text',
            width: 150
        });
        $('#aa').combotree("setValue", "ALL");
    }
</script>
<div region="center">
<table id="dg">  
        <thead>  
        <tr>
    	</tr>
		</thead>
		</table>
        <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
@*        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>*@
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
            开始<input id="cc" type="text">
            结束<input id="cc2" type="text">
            平台<input type="text" id="pp" />
            账户<input type="text" id="aa" />
            纠纷原因<input id="reason" type="text">
            纠纷状态<input id="status" type="text">           
		  <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
           <a href="#" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="toExcel();">导出数据</a>
           纠纷情况<input id="case" type="text">
        </div> 
		<div id="mm" style="width: 120px">
            <div data-options="name:'OrderNo'">订单号</div>
            <div data-options="name:'OrderExNo'">平台订单号</div>
            <div data-options="name:'Account'">账户</div>
            <div data-options="name:'SKU'">商品SKU</div>
            <div data-options="name:'CreateBy'">添加人</div>
            <div data-options="name:'SolveBy'">解决人</div>
        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>
</div>
</body>
