
@model IEnumerable<KeWeiOMS.Domain.DisputeType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","Dispute")',
            toolbar: '#toolbar',
            rownumbers: true,
            fitColumns: true,
            singleSelect: true,
            pagination: true,
            fit: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100],
            columns: [[
    { field: 'OrderNo', title: '订单号', width: 100, sortable: true },
    {
        field: 'Platform', title: '平台', width: 100, sortable: true,
        formatter: function (v, r, i) {
            return "平台：" + v + "<br>" + '平台单号:' + r.OrderExNo + "<br>" + '账户:' + r.Account;
        }
    },
    { field: 'DisputeCategory', title: '纠纷类型', width: 100, sortable: true },
    { field: 'SKU', title: '商品编号', width: 100, sortable: true },
    {
        field: 'LogisticsMode', title: '物流方式', width: 100, sortable: true,
        formatter: function (v, r, i) {
            return "物流方式：" + v + "<br>" + '追踪码:' + r.TrackCode;
        }
    },
    {
        field: 'Status', title: '状态', width: 100, sortable: true,
        formatter: function (value) {
            if (value == 0) { return "未解决" }
            if (value == 1) { return "已解决" }
        }
    },
    { field: 'Solution', title: '处理方式', width: 100, sortable: true },
    {
        field: 'CreateBy', title: '管理人员', width: 100, sortable: true,
        formatter: function (v, r, i) {
            return "添加人：" + v + "<br>" + '解决人:' + r.SolveBy;
        }
    },
    {
        field: 'CreateOn', title: '时间', width: 100, sortable: true,
        formatter: function (v, r, i) {
            return '创建时间:' + getDate(v) + "<br>" + '下单时间:' + getDate(r.GenerateOn) + "<br>" + '发货时间:' + getDate(r.SendOn) + "<br>" + '纠纷时间:' + getDate(r.DisputeOn) + "<br>" + '解决时间:' + getDate(r.SolveOn) + "<br>";
        }
    }]]
        });

    });


	//新建
        function c_dlg() {
            var url_str = '@Url.Action("Create","Dispute")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

    //编辑框
    function e_dlg() {
        var id = getselectedRow();
        var url = '@Url.Action("Edit","Dispute")/' + id;
            if (id != undefined) {
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Dispute")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Dispute")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "Dispute")/' + id;
                delData(url, 'dg');

            }
        }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
     function doSearch() {
                search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
                $("#dg").datagrid("load", {
                    search: search
                });
      }

</script>
<div region="center">
<table id="dg">  
        <thead>  
        <tr>
@*            <th field="Id" width="100">
                主键
            </th>

            <th field="OrderNo" width="100" sortable="true">
                订单号
            </th>

            <th field="OrderExNo" width="100" sortable="true">
                平台订单号
            </th>

            <th field="Platform" width="100" sortable="true">
                平台
            </th>

            <th field="Account" width="100" sortable="true">
                账户
            </th>

            <th field="CreateOn" width="100" sortable="true">
                创建时间
            </th>

            <th field="GenerateOn" width="100" sortable="true">
                下单时间
            </th>

            <th field="SendOn" width="100" sortable="true">
                发货时间
            </th>

            <th field="DisputeOn" width="100" sortable="true">
                纠纷时间
            </th>

            <th field="SolveOn" width="100" sortable="true">
                解决时间
            </th>

            <th field="Amount" width="100" sortable="true">
                金额
            </th>

            <th field="CurrencyCode" width="100" sortable="true">
                货币
            </th>

            <th field="SKU" width="100" sortable="true">
                商品SKU
            </th>

            <th field="Qty" width="100" sortable="true">
                Qty
            </th>

            <th field="LogisticsMode" width="100" sortable="true">
                物流方式
            </th>

            <th field="Status" width="100" sortable="true">
                状态
            </th>

            <th field="DisputeCategory" width="100" sortable="true">
                纠纷分类
            </th>

            <th field="Solution" width="100" sortable="true">
                解决方式
            </th>

            <th field="RefundAmount" width="100" sortable="true">
                退款金额
            </th>

            <th field="CreateBy" width="100" sortable="true">
                添加人
            </th>

            <th field="SolveBy" width="100" sortable="true">
                解决人
            </th>*@


    	</tr>
		</thead>
		</table>
        <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del();">删除</a>  
		  <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
          @*  <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="ShowAdvanced();">Advanced</a>*@
        </div> 
		<div id="mm" style="width: 120px">
            <div data-options="name:'OrderNo'">订单号</div>
            <div data-options="name:'OrderExNo'">平台订单号</div>
            <div data-options="name:'Account'">账户</div>
            <div data-options="name:'SKU'">商品SKU</div>
            <div data-options="name:'CreateBy'">添加人</div>
            <div data-options="name:'SolveBy'">解决人</div>
        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>

</div>
</body>
