@model KeWeiOMS.Domain.UserSetupType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
        $('#e_CreateOn').datebox();

        $('#e_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


    });
</script>
@using (Html.BeginForm("Edit", "UserSetup", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SetupID,"SetupID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SetupID,new{@id="e_SetupID"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SetupName,"SetupName:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SetupName,new{@id="e_SetupName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.UId,"UId:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.UId,new{@id="e_UId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.RealName,"RealName:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.RealName,new{@id="e_RealName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"CreateON:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"CreateBy:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>


    
</table>
</fieldset>
}
