@model KeWeiOMS.Domain.OrderRecordType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
        $('#c_CreateOn').datebox();

        $('#c_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


    });
    
</script>

@using (Html.BeginForm("Create", "OrderRecord", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OId,"订单ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OId,new{@id="c_OId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OrderNo,"订单名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderNo,new{@id="c_OrderNo"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"操作时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="c_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.RecordType,"操作类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.RecordType,new{@id="c_RecordType"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Content,"操作内容:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Content,new{@id="c_Content"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"操作人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="c_CreateBy"})
		</td>
	</tr>


</table>
</fieldset>
}
