@model KeWeiOMS.Domain.PrintTemplateType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
    });
    
</script>

@using (Html.BeginForm("Create", "PrintTemplate", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
@*	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键标识:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>*@

	<tr>
		<td>
            @Html.LabelFor(model => model.Code,"模板代码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Code,new{@id="c_Code"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.TempName,"模板名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TempName,new{@id="c_TempName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.TempType,"模板分类:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TempType,new{@id="c_TempType"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Content,"模板内容:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Content,new{@id="c_Content"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Description,"描述:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Description,new{@id="c_Description"})
		</td>
	</tr>


</table>
</fieldset>
}
