@model KeWeiOMS.Domain.SuppliersProductType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
    });
    
</script>

@using (Html.BeginForm("Create", "SuppliersProduct", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SId,"供应商:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SId,new{@id="c_SId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="c_SKU"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Price,"价格:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Price,new{@id="c_Price"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Web,"Web:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Web,new{@id="c_Web"})
		</td>
	</tr>


</table>
</fieldset>
}
