@model KeWeiOMS.Domain.ProductIsInfractionType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
    });
</script>
@using (Html.BeginForm("Edit", "ProductIsInfraction", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OldSKU,"主编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OldSKU,new{@id="e_OldSKU"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="e_SKU"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Platform,"平台:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Platform,new{@id="e_Platform"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Isinfraction,"是否侵权:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Isinfraction,new{@id="e_Isinfraction"})
		</td>
	</tr>


    
</table>
</fieldset>
}
