@model KeWeiOMS.Domain.BeforePeiScanType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	        $('#e_PeiBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });

        $('#e_CreatBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        $('#e_CreateOn').datebox();


    });
</script>
@using (Html.BeginForm("Edit", "BeforePeiScan", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OId,"订单Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OId,new{@id="e_OId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OrderNo,"订单号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderNo,new{@id="e_OrderNo"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PeiBy,"配货人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PeiBy,new{@id="e_PeiBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreatBy,"创建人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreatBy,new{@id="e_CreatBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"创建时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>


    
</table>
</fieldset>
}
