
@model IEnumerable<KeWeiOMS.Domain.BeforePeiScanType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","BeforePeiScan")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });
        $("#txtEndDate").datebox("setValue", getStartDate(-1));
        $("#txtStartDate").datebox("setValue", getStartDate(7));
    });


	//新建
        function c_dlg() {
            var url_str = '@Url.Action("Create","BeforePeiScan")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
        function e_dlg() {
            var url = '@Url.Action("Edit","BeforePeiScan")/' + id;
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Module")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "BeforePeiScan")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "BeforePeiScan")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "BeforePeiScan")/' + id;
                alert(1);
                delData(url, 'dg');

            }
        }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
    function doSearch() {
                search = getSearch();
                $("#dg").datagrid("load", {
                    search: search
                });
     }
     function getSearch() {
         search = "CreateOn_st&" + $('#txtStartDate').datebox("getValue") + "^CreateOn_et&" + $('#txtEndDate').datebox("getValue") + "^" + $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
         return search;
     }
     function toExcel() {
         search = getSearch();
         $('#dg').datagrid('loading');
         var postUrl = "/Order/ExportDown/1";
         $.ajax({
             url: '@Url.Action("ToExcel", "BeforePeiScan")/',
                type: 'post',
                data: 'search=' + encodeURIComponent(search),
                success: function (result) {
                    $.messager.show({
                        title: '提示',
                        msg: result.ErrorMsg,
                        timeout: 0,
                        showType: 'slide'
                    });
                    location.href = postUrl;
                    $('#dg').datagrid('reload');
                }
            });
        }
</script>
<div region="center">
<table id="dg" class="easyui-datagrid" 
           toolbar="#toolbar"  
           rownumbers="true" fitColumns="true" singleSelect="true" pagination="true" fit="true">  
        <thead>  
        <tr>
            <th field="OrderNo" width="100">
                订单号
            </th>

            <th field="PeiBy" width="100">
                配货人
            </th>

            <th field="CreatBy" width="100">
                创建人
            </th>

            <th field="CreateOn" width="100" formatter="getDate">
                创建时间
            </th>
    	</tr>
		</thead>
		</table>
        <div id="toolbar">
@*        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del();">删除</a>  *@
		 开始时间：<input type="text" id="txtStartDate" class="easyui-datebox" style="width:100px"  />&nbsp;
        结束时间：<input type="text" id="txtEndDate" class="easyui-datebox" style="width:100px"/>&nbsp;&nbsp;
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
            <a href="#" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="toExcel();">导出数据</a>
        </div> 
		<div id="mm" style="width: 120px">
            <div data-options="name:'OrderNo'">订单号</div>
            <div data-options="name:'PeiBy'">配货人</div>
            <div data-options="name:'CreatBy'">创建人</div>
        </div>
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>
</div>
</body>
