@model IEnumerable<KeWeiOMS.Domain.OrganizeType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').treegrid({
                url: '@Url.Action("List", "Organize")',
                idField: 'Id',
                treeField: 'FullName'
            });

        });

        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "Organize")';

            $('#c_dlg').load(url_str, function () {
                $(this).dialog({
                    title: '新建',
                    modal: true,
                    loadingMessage: '正在加载...',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
                            ajaxAdd();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#c_dlg').dialog('close');
                        }
                    }]
                });
            }).dialog('open');;
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Organize")/' + id;
            $('#e_dlg').load(url, function () {
                $(this).dialog({
                    title: '编辑',
                    modal: true,
                    loadingMessage: '正在加载...',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
                            ajaxEdit();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#e_dlg').dialog('close');
                        }
                    }]
                });
            }).dialog('open');
        }
    }

    //异步新建提交
    function ajaxAdd() {
        $('#c_form').form('submit', {
            url: '@Url.Action("Create", "Organize")',
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
             
                if (!result.IsSuccess) {
                    $.messager.show({
                        title: '提示',
                        msg: '保存失败:' + result.ErrorMsg,
                        timeout: 0,
                        showType: 'slide'
                    });
                } else {
                    $('#c_dlg').dialog('close');
                    $('#dg').treegrid('reload');
                    $.messager.show({
                        title: '提示',
                        msg: '保存成功',
                        timeout: 2000,
                        showType: 'slide'
                    });
                }
            }
        });
        }
        //异步修改提交
        function ajaxEdit() {
            $('#e_form').form('submit', {
                url: '@Url.Action("Edit", "Organize")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                 
                    if (!result.IsSuccess) {
                        $.messager.show({
                            title: '提示',
                            msg: '保存失败:' + result.ErrorMsg,
                            timeout: 0,
                            showType: 'slide'
                        });
                    } else {
                        $('#e_dlg').dialog('close');
                        $('#dg').treegrid('reload');
                        $.messager.show({
                            title: '提示',
                            msg: '保存成功',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                }
            });
        }


        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                $.messager.confirm('确认', '确定删除?', function (r) {
                    if (r) {
                        var url = '@Url.Action("Delete", "Organize")/' + id;
                        $.post(url, function () {
                        }).success(function (data) {
                            var msgstr = "删除成功";
                          if (!data.IsSuccess){
                                msgstr = "删除失败" + data;
                                $.messager.show({
                                    title: '提示',
                                    msg: msgstr,
                                    timeout: 0,
                                    showType: 'slide'
                                });
                            } else {
                                $.messager.show({
                                    title: '提示',
                                    msg: msgstr,
                                    timeout: 3000,
                                    showType: 'slide'
                                });
                            }

                            $('#dg').datagrid('reload');
                        }).error(function () {
                            $.messager.alert('错误', '删除发生错误');
                        });

                    }
                });
            }
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }

    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" pagination="true" fit="true">
            <thead>
                <tr>
                    <th field="FullName" width="100">名称
                    </th>
                    <th field="ShortName" width="100">简称
                    </th>
                    <th field="Code" width="100">编号
                    </th>





                    <th field="DeletionStateCode" width="100">删除标记
                    </th>

                    <th field="SortCode" width="100">排序码
                    </th>

                    <th field="Description" width="100">备注
                    </th>

                    <th field="CreateOn" width="100" formatter="getDate">创建日期
                    </th>

                    <th field="CreateBy" width="100">创建用户
                    </th>


                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
        </div>

        <div id="c_dlg"></div>
        <div id="e_dlg"></div>

    </div>
</body>
