@model KeWeiOMS.Domain.AliMessageTypeType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
        $('#e_CreateOn').datebox();


        $('#e_SynOn').datebox();

        $('#e_ReplayBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        $('#e_ReplayOn').datebox();


        $('#e_UploadOn').datebox();


    });
</script>
@using (Html.BeginForm("Edit", "AliMessageType", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MId,"MId:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MId,new{@id="e_MId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.HaveFile,"HaveFile:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.HaveFile,new{@id="e_HaveFile"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OrderUrl,"OrderUrl:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderUrl,new{@id="e_OrderUrl"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OrderId,"OrderId:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderId,new{@id="e_OrderId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReceiverLoginId,"ReceiverLoginId:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReceiverLoginId,new{@id="e_ReceiverLoginId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReceiverName,"ReceiverName:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReceiverName,new{@id="e_ReceiverName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.FileUrl,"FileUrl:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.FileUrl,new{@id="e_FileUrl"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ProductId,"ProductId:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ProductId,new{@id="e_ProductId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Content,"Content:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Content,new{@id="e_Content"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SenderName,"SenderName:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SenderName,new{@id="e_SenderName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SenderLoginId,"SenderLoginId:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SenderLoginId,new{@id="e_SenderLoginId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ProductUrl,"ProductUrl:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ProductUrl,new{@id="e_ProductUrl"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ProductName,"ProductName:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ProductName,new{@id="e_ProductName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.IsRead,"IsRead:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.IsRead,new{@id="e_IsRead"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.TypeId,"TypeId:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TypeId,new{@id="e_TypeId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MessageType,"MessageType:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MessageType,new{@id="e_MessageType"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.RelationId,"RelationId:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.RelationId,new{@id="e_RelationId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"CreateOn:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SynOn,"SynOn:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SynOn,new{@id="e_SynOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Shop,"Shop:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Shop,new{@id="e_Shop"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReplayBy,"ReplayBy:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReplayBy,new{@id="e_ReplayBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.IsReplay,"IsReplay:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.IsReplay,new{@id="e_IsReplay"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReplayContent,"ReplayContent:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReplayContent,new{@id="e_ReplayContent"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReplayOn,"ReplayOn:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReplayOn,new{@id="e_ReplayOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.IsUpload,"IsUpload:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.IsUpload,new{@id="e_IsUpload"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.UploadOn,"UploadOn:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.UploadOn,new{@id="e_UploadOn"})
		</td>
	</tr>


    
</table>
</fieldset>
}
