
@model IEnumerable<KeWeiOMS.Domain.AliMessageTypeType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","AliMessageType")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });

    });


	//新建
        function c_dlg() {
            var url_str = '@Url.Action("Create","AliMessageType")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
        function e_dlg() {
            var url = '@Url.Action("Edit","AliMessageType")/' + id;
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Module")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "AliMessageType")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "AliMessageType")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Delete", "AliMessageType")/' + id;
                alert(1);
                delData(url, 'dg');

            }
        }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
     function doSearch() {
                search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
                $("#dg").datagrid("load", {
                    search: search
                });
      }
    function ShowAdvanced() {
    showSrarch('@Url.Action("Search", "AliMessageType")', 's_dlg', 'dg');
      }		

</script>
<div region="center">
<table id="dg" class="easyui-datagrid" 
           toolbar="#toolbar"  
           rownumbers="true" fitColumns="true" singleSelect="true" pagination="true" fit="true">  
        <thead>  
        <tr>
            <th field="Id" width="100">
                Id
            </th>

            <th field="MId" width="100">
                MId
            </th>

            <th field="HaveFile" width="100">
                HaveFile
            </th>

            <th field="OrderUrl" width="100">
                OrderUrl
            </th>

            <th field="OrderId" width="100">
                OrderId
            </th>

            <th field="ReceiverLoginId" width="100">
                ReceiverLoginId
            </th>

            <th field="ReceiverName" width="100">
                ReceiverName
            </th>

            <th field="FileUrl" width="100">
                FileUrl
            </th>

            <th field="ProductId" width="100">
                ProductId
            </th>

            <th field="Content" width="100">
                Content
            </th>

            <th field="SenderName" width="100">
                SenderName
            </th>

            <th field="SenderLoginId" width="100">
                SenderLoginId
            </th>

            <th field="ProductUrl" width="100">
                ProductUrl
            </th>

            <th field="ProductName" width="100">
                ProductName
            </th>

            <th field="IsRead" width="100">
                IsRead
            </th>

            <th field="TypeId" width="100">
                TypeId
            </th>

            <th field="MessageType" width="100">
                MessageType
            </th>

            <th field="RelationId" width="100">
                RelationId
            </th>

            <th field="CreateOn" width="100">
                CreateOn
            </th>

            <th field="SynOn" width="100">
                SynOn
            </th>

            <th field="Shop" width="100">
                Shop
            </th>

            <th field="ReplayBy" width="100">
                ReplayBy
            </th>

            <th field="IsReplay" width="100">
                IsReplay
            </th>

            <th field="ReplayContent" width="100">
                ReplayContent
            </th>

            <th field="ReplayOn" width="100">
                ReplayOn
            </th>

            <th field="IsUpload" width="100">
                IsUpload
            </th>

            <th field="UploadOn" width="100">
                UploadOn
            </th>


    	</tr>
		</thead>
		</table>
        <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del();">删除</a>  
		  <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
            <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="ShowAdvanced();">Advanced</a>
        </div> 
		<div id="mm" style="width: 120px">
                        <div data-options="name:'Id'">Id</div>
            <div data-options="name:'MId'">MId</div>
            <div data-options="name:'HaveFile'">HaveFile</div>
            <div data-options="name:'OrderUrl'">OrderUrl</div>
            <div data-options="name:'OrderId'">OrderId</div>
            <div data-options="name:'ReceiverLoginId'">ReceiverLoginId</div>
            <div data-options="name:'ReceiverName'">ReceiverName</div>
            <div data-options="name:'FileUrl'">FileUrl</div>
            <div data-options="name:'ProductId'">ProductId</div>
            <div data-options="name:'Content'">Content</div>
            <div data-options="name:'SenderName'">SenderName</div>
            <div data-options="name:'SenderLoginId'">SenderLoginId</div>
            <div data-options="name:'ProductUrl'">ProductUrl</div>
            <div data-options="name:'ProductName'">ProductName</div>
            <div data-options="name:'IsRead'">IsRead</div>
            <div data-options="name:'TypeId'">TypeId</div>
            <div data-options="name:'MessageType'">MessageType</div>
            <div data-options="name:'RelationId'">RelationId</div>
            <div data-options="name:'CreateOn'">CreateOn</div>
            <div data-options="name:'SynOn'">SynOn</div>
            <div data-options="name:'Shop'">Shop</div>
            <div data-options="name:'ReplayBy'">ReplayBy</div>
            <div data-options="name:'IsReplay'">IsReplay</div>
            <div data-options="name:'ReplayContent'">ReplayContent</div>
            <div data-options="name:'ReplayOn'">ReplayOn</div>
            <div data-options="name:'IsUpload'">IsUpload</div>
            <div data-options="name:'UploadOn'">UploadOn</div>

        </div>
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>

</div>
</body>
