@model KeWeiOMS.Domain.MachinesOldType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
        $('#c_StartDateOld').datebox();


        $('#c_EndDateOld').datebox();


    });
    
</script>

@using (Html.BeginForm("Create", "MachinesOld", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MachineId,"设备Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MachineId,new{@id="c_MachineId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.StatusOld,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.StatusOld,new{@id="c_StatusOld"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.UserNameOld,"使用者:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.UserNameOld,new{@id="c_UserNameOld"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.StartDateOld,"开始使用时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.StartDateOld,new{@id="c_StartDateOld"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EndDateOld,"结束始用时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EndDateOld,new{@id="c_EndDateOld"})
		</td>
	</tr>


</table>
</fieldset>
}
