@model KeWeiOMS.Domain.ModuleType
@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {
        $('#c_ParentId').combotree({
            url: '/Module/ParentList',
            valueField: 'Id',
            textField: 'FullName',
            required: true,
            width: 150
        });

    });

</script>

@using (Html.BeginForm("Create", "Module", FormMethod.Post, new { id = "c_form" }))
{
    <fieldset>
        <table class="editForm">

            <tr>
                <td>
                    @Html.LabelFor(model => model.ParentId, "父节点主键:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ParentId, new { @id = "c_ParentId" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Code, "编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @id = "c_Code" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.FullName, "名称:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.FullName, new { @id = "c_FullName" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.ImageIndex, "图标编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ImageIndex, new { @id = "c_ImageIndex" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.NavigateUrl, "导航地址:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.NavigateUrl, new { @id = "c_NavigateUrl" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.SortCode, "排序码:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.SortCode, new { @id = "c_SortCode" })
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.Description, "备注:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { @id = "c_Description" })
                </td>
            </tr>




        </table>
    </fieldset>
}
