@model KeWeiOMS.Domain.ModuleType
@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

        $('#c_ParentId').combobox({
            url: '/Module/ParentList',
            valueField: 'Id',
            textField: 'FullName',
            panelHeight: 'auto'
        });
    });

</script>

@using (Html.BeginForm("Create", "Module", FormMethod.Post, new { id = "c_form" }))
{
    <fieldset>
        <table class="editForm">


            <tr>
                <td>
                    @Html.LabelFor(model => model.ParentId, "父节点主键:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ParentId, new { @id = "c_ParentId" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Code, "编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @id = "c_Code" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.FullName, "名称:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.FullName, new { @id = "c_FullName" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Category, "菜单分类:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Category, new { @id = "c_Category" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.ImageIndex, "图标编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ImageIndex, new { @id = "c_ImageIndex" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.SelectedImageIndex, "选中状态图标编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.SelectedImageIndex, new { @id = "c_SelectedImageIndex" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.NavigateUrl, "导航地址:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.NavigateUrl, new { @id = "c_NavigateUrl" })
                </td>
            </tr>




            <tr>
                <td>
                    @Html.LabelFor(model => model.IsMenu, "是菜单:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.IsMenu, new { @id = "c_IsMenu" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Expand, "展开状态:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Expand, new { @id = "c_Expand" })
                </td>
            </tr>




        </table>
    </fieldset>
}
