@model IEnumerable<KeWeiOMS.Domain.ModuleType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').treegrid({
                toolbar: '#toolbar',
                rownumbers: true,
                fitColumns: true,
                singleSelect: true,
                pagination: true,
                fit: true,
                url: '@Url.Action("ALLList", "Module")',
                idField: 'Id',
                treeField: 'FullName'
            });

        });

        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "Module")';
            showdlg(url_str, 'c_dlg', ajaxAdd);
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Module")/' + id;
               
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Module")', 'c_dlg', 'dg', 't');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Module")', 'e_dlg', 'dg', 't');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "Module")/' + id;
            
                delData(url, 'dg', 't');

            }
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }
    </script>
    <div region="center">
        <table id="dg">
            <thead>
                <tr>
                    <th field="FullName" width="100">名称
                    </th>

                    <th field="Code" width="100">编号
                    </th>

                    <th field="ImageIndex" width="100">图标编号
                    </th>

                    <th field="NavigateUrl" width="100">导航地址
                    </th>

                    <th field="SortCode" width="100">排序码
                    </th>

                    <th field="Description" width="100">备注
                    </th>

                    <th field="CreateOn" formatter="getDate" width="100">创建日期
                    </th>

                    <th field="CreateBy" width="100">创建用户
                    </th>


                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>                
        </div>

        <div id="c_dlg"></div>
        <div id="e_dlg"></div>
    </div>
</body>
