@model KeWeiOMS.Domain.MachineType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
        $('#c_StartDate').datebox();


        $('#c_EndDate').datebox();


    });
    
</script>

@using (Html.BeginForm("Create", "Machine", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Code,"编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Code,new{@id="c_Code"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Name,"名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Name,new{@id="c_Name"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="c_Status"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.UserName,"使用者:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.UserName,new{@id="c_UserName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.StartDate,"开始使用时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.StartDate,new{@id="c_StartDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EndDate,"结束始用时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EndDate,new{@id="c_EndDate"})
		</td>
	</tr>


</table>
</fieldset>
}
