@model KeWeiOMS.Domain.StockInType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {
        $('#e_WId').combogrid({
            required: true,
            editable: false,
            panelWidth: 410,
            idField: 'Id',
            textField: 'WName',
            required: true,
            url: '/Warehouse/QList',
            fit: true,
            columns: [[
                { field: 'Id', title: 'Id', width: 100 },
                { field: 'WCode', title: '仓库代码', width: 100 },
                { field: 'WName', title: '仓库名称', width: 100 },
                { field: 'Address', title: '仓位地址', width: 100 }

            ]]

        })
        $('#e_SKU').combogrid({
            required: true,
            panelWidth: 410,
            mode: 'remote',
            idField: 'SKU',
            textField: 'SKU',
            required: true,
            url: '/Product/ListQ',
            fit: true,
            columns: [[
                { field: 'SKU', title: 'SKU', width: 100 },
                { field: 'ProductName', title: 'Title', width: 200 },
                { field: 'Standard', title: '规格', width: 100 }
            ]]

        })
        $('#e_SKU').combogrid("setText", '@ViewData["sku"]');
        $('#e_InType').combobox({
            url: '@Url.Action("GetIntType","Dictionary")',
            valueField: 'FullName',
            textField: 'FullName',
            panelHeight: 'auto',
            editable: true,
            required: true
        });
        $('#e_Price').numberbox({
            precision: 2,
            required: true,
            onChange: function () {
                nozero();
            }
        });
        $('#e_Qty').numberbox({
            required: true,
            onChange: function () {
                Qtynozero();
            }
        });
    });
    function nozero() {
        var num = $('#e_Price').attr("value");
        if (num != "" & num <= 0) {
            alert("金额输入有误");
            $('#e_Price').numberbox("setValue", "");
        }
    }
    function Qtynozero() {
        var num = $('#e_Qty').attr("value");
        if (num != "" & num <= 0) {
            alert("数量输入有误");
            $('#e_Qty').numberbox("setValue", "");
        }
    }
</script>

@using (Html.BeginForm("Edit", "StockIn", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		@*<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.WId,"入库仓库:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.WId,new{@id="e_WId"})
		</td>
        <td style="display:none">
            @Html.TextBoxFor(model => model.WName,new{@id="e_WName"})
        </td>
	</tr>
	<tr>
		<td>
            @Html.LabelFor(model => model.InType,"入库类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.InType,new{@id="e_InType"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"商品:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="e_SKU"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Qty,"数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="e_Qty"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Price,"金额:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Price,new{@id="e_Price"})
		</td>
	</tr>

	<tr>
@*		<td>
            @Html.LabelFor(model => model.SourceQty,"原有库存:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.SourceQty,new{@id="c_SourceQty"})
		</td>
	</tr>

	<tr>
@*		<td>
            @Html.LabelFor(model => model.CreateBy,"入库人:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.CreateBy,new{@id="c_CreateBy"})
		</td>
	</tr>

	<tr>
@*		<td>
            @Html.LabelFor(model => model.CreateOn,"入库时间:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.CreateOn,new{@id="c_CreateOn"})
		</td>
	</tr>


	<tr>
		<td>
            @Html.LabelFor(model => model.Memo,"备忘:")
		</td>
		<td>
            @Html.TextAreaFor(model => model.Memo,new{@id="e_Memo",style="resize:none"})
		</td>
	</tr>


</table>
</fieldset>
}
