@model KeWeiOMS.Domain.WarehouseStockType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
        $('#e_UpdateOn').datebox();


    });
</script>
@using (Html.BeginForm("Edit", "WarehouseStock", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.WId,"仓库ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.WId,new{@id="e_WId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Warehouse,"仓库:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Warehouse,new{@id="e_Warehouse"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PId,"商品ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PId,new{@id="e_PId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"商品SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="e_SKU"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Title,"商品名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Title,new{@id="e_Title"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Qty,"盘点数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="e_Qty"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.UpdateOn,"更新时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.UpdateOn,new{@id="e_UpdateOn"})
		</td>
	</tr>


    
</table>
</fieldset>
}
