@model IEnumerable<KeWeiOMS.Domain.WarehouseStockType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "WarehouseStock")',
                pageNumber: 1,
                pageSize: 20,
                pageList: [20, 40, 60, 80, 100]
            });

        });


        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "WarehouseStock")';
            showdlg(url_str, 'c_dlg', ajaxAdd);
        }

        //编辑框
        function e_dlg() {
            var url = '@Url.Action("Edit", "WarehouseStock")/' + id;
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Module")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit);
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "WarehouseStock")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "WarehouseStock")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Delete", "WarehouseStock")/' + id;

                delData(url, 'dg');
            }
        }

        function exportdt() {
            var postUrl = "/Order/ExportDown/1";
            jQuery.ajax({
                url: "/WarehouseStock/Export/",
                type: "post",
                success: function (sss) {
                    location.href = postUrl;
                }
            });
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }
        function GetImg(v, r, i) {
            return '<img  src=' + v + '  height="64px" width="64px" />';
        }

        function doSearch() {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            $("#dg").datagrid("load", {
                search: search
            });
        }

    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" pagination="true" fit="true">
            <thead>
                <tr>
                    <th field="Warehouse" width="100">仓库
                    </th>
                    <th field="Pic" width="100" formatter="GetImg">Pic
                    </th>
                    <th field="SKU" width="100">商品SKU
                    </th>

                    <th field="Title" width="100">商品名称
                    </th>

                    @*<th field="Qty" width="100">数量
                        
                    </th>*@
                    <th field="UnPeiQty" width="100">未配货数量
                        
                    </th>

                    <th field="UpdateOn" width="100" formatter="getDate ">更新时间
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="exportdt();">导出</a>
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'SKU'">商品SKU</div>
            <div data-options="name:'Title'">商品名称</div>

        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>
        <div id="s_dlg"></div>

    </div>
</body>
