@model KeWeiOMS.Domain.ModulesType
@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

        //这里写新建时初始化控件的值
        $('#c_CreateOn').datebox();

        $('#c_ModifiedOn').datebox();

        //入库表单校验
        $("#c_form").validate({
            submitHandler: function (form) {
                ajaxAdd();
            }
        });
    });

</script>

@using (Html.BeginForm("Create", "Default2", FormMethod.Post, new { id = "c_form" }))
{
    <fieldset>
        <table class="editForm">

            <tr>
                <td>
                    @Html.LabelFor(model => model.ParentId, "ParentId:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ParentId, new { @id = "c_ParentId" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Code, "Code:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @id = "c_Code" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.FullName, "FullName:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.FullName, new { @id = "c_FullName" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Category, "Category:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Category, new { @id = "c_Category" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.ImageIndex, "ImageIndex:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ImageIndex, new { @id = "c_ImageIndex" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.SelectedImageIndex, "SelectedImageIndex:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.SelectedImageIndex, new { @id = "c_SelectedImageIndex" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.NavigateUrl, "NavigateUrl:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.NavigateUrl, new { @id = "c_NavigateUrl" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Target, "Target:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Target, new { @id = "c_Target" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.IsPublic, "IsPublic:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.IsPublic, new { @id = "c_IsPublic" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.IsMenu, "IsMenu:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.IsMenu, new { @id = "c_IsMenu" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Expand, "Expand:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Expand, new { @id = "c_Expand" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.PermissionItemCode, "PermissionItemCode:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PermissionItemCode, new { @id = "c_PermissionItemCode" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.PermissionScopeTables, "PermissionScopeTables:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PermissionScopeTables, new { @id = "c_PermissionScopeTables" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.AllowEdit, "AllowEdit:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.AllowEdit, new { @id = "c_AllowEdit" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.AllowDelete, "AllowDelete:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.AllowDelete, new { @id = "c_AllowDelete" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.SortCode, "SortCode:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.SortCode, new { @id = "c_SortCode" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.DeletionStateCode, "DeletionStateCode:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.DeletionStateCode, new { @id = "c_DeletionStateCode" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Enabled, "Enabled:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Enabled, new { @id = "c_Enabled" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Description, "Description:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { @id = "c_Description" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.CreateOn, "CreateOn:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CreateOn, new { @id = "c_CreateOn" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.CreateUserId, "CreateUserId:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CreateUserId, new { @id = "c_CreateUserId" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.CreateBy, "CreateBy:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CreateBy, new { @id = "c_CreateBy" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.ModifiedOn, "ModifiedOn:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModifiedOn, new { @id = "c_ModifiedOn" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.ModifiedUserId, "ModifiedUserId:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModifiedUserId, new { @id = "c_ModifiedUserId" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.ModifiedBy, "ModifiedBy:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModifiedBy, new { @id = "c_ModifiedBy" })
                </td>
            </tr>


        </table>
    </fieldset>
}
