@model KeWeiOMS.Domain.ModulesType

@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
         $('#e_CreateOn').datebox();

        $('#e_ModifiedOn').datebox();

        //表单校验
        $("#e_form").validate({
			submitHandler: function (form) {
                        ajaxEdit();
			}
		});


    });
</script>
@using (Html.BeginForm("Edit", "Default2", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
        @Html.HiddenFor(model => model.Id)

        
		<tr>
			<td>
            @Html.LabelFor(model => model.ParentId,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.ParentId,new{@id="e_ParentId"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.Code,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.Code,new{@id="e_Code"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.FullName,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.FullName,new{@id="e_FullName"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.Category,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.Category,new{@id="e_Category"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.ImageIndex,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.ImageIndex,new{@id="e_ImageIndex"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.SelectedImageIndex,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.SelectedImageIndex,new{@id="e_SelectedImageIndex"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.NavigateUrl,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.NavigateUrl,new{@id="e_NavigateUrl"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.Target,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.Target,new{@id="e_Target"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.IsPublic,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.IsPublic,new{@id="e_IsPublic"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.IsMenu,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.IsMenu,new{@id="e_IsMenu"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.Expand,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.Expand,new{@id="e_Expand"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.PermissionItemCode,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.PermissionItemCode,new{@id="e_PermissionItemCode"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.PermissionScopeTables,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.PermissionScopeTables,new{@id="e_PermissionScopeTables"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.AllowEdit,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.AllowEdit,new{@id="e_AllowEdit"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.AllowDelete,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.AllowDelete,new{@id="e_AllowDelete"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.SortCode,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.SortCode,new{@id="e_SortCode"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.DeletionStateCode,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.DeletionStateCode,new{@id="e_DeletionStateCode"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.Enabled,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.Enabled,new{@id="e_Enabled"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.Description,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.Description,new{@id="e_Description"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.CreateOn,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.CreateUserId,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.CreateUserId,new{@id="e_CreateUserId"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.CreateBy,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.ModifiedOn,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.ModifiedOn,new{@id="e_ModifiedOn"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.ModifiedUserId,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.ModifiedUserId,new{@id="e_ModifiedUserId"})
			</td>
		</tr>
        
		<tr>
			<td>
            @Html.LabelFor(model => model.ModifiedBy,"")
			</td>
			<td>
            @Html.TextBoxFor(model => model.ModifiedBy,new{@id="e_ModifiedBy"})
			</td>
		</tr>
    
</table>
</fieldset>
}

