@model IEnumerable<KeWeiOMS.Domain.ModulesType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","Moudle")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });

    });

    //新建
    function c_dlg() {
        var url_str = '@Url.Action("Create","Moudle")';
		
        $('#c_dlg').load(url_str, function () {
            $(this).dialog({
                title: '新建',
				modal:true,
				loadingMessage:'正在加载...',
                buttons: [{
                    text: '提交',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $('#c_form').submit();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#c_dlg').dialog('close');
                    }
                }]
            });
        }).show();
    }

    //编辑框
    function e_dlg() {
        var id = getselectedRow();
        if (id != undefined) {
            var url = '@Url.Action("Edit","Default2")/' + id;

   
            $('#e_dlg').load(url, function () {
                $(this).dialog({
                    title: '编辑',
					modal:true,
					loadingMessage:'正在加载...',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
							$('#e_form').submit();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#e_dlg').dialog('close');
                        }
                    }]
                });
            }).show();
        }
    }

//异步新建提交
    function ajaxAdd() {
        $('#c_form').ajaxSubmit({
            url: '@Url.Action("Create","Default2")',
            beforeSubmit: function () {
                if ($('#c_form').form('validate') != true) {
                    return false;
                }
                if ($("#c_form").valid() != true) {
                    return false;
                }
                return true;
            },
            success: function (data) {
                if (data == true) {
                    $('#c_dlg').dialog('close');
                    $('#dg').datagrid('reload');
                    $.messager.show({
                        title: '提示',
                        msg: '保存成功',
                        timeout: 2000,
                        showType: 'slide'
                    });
                } else {
                    $.messager.show({
                        title: '提示',
                        msg: '保存失败:' + data,
						 timeout: 0,
                        showType: 'slide'
                    });
                }
            }
        });

        return false;
    }
    //异步编辑提交
    function ajaxEdit() {
        $('#e_form').ajaxSubmit({
            url: '@Url.Action("Edit","Default2")',
            beforeSubmit: function () {
                if ($('#e_form').form('validate') != true) {
                    return false;
                }
                if ($("#e_form").valid() != true) {
                    return false;
                }
                return true;
            },
            success: function (data) {
                if (data == true) {
                    $('#e_dlg').dialog('close');
                    $('#dg').datagrid('reload');
                    $.messager.show({
                        title: '提示',
                        msg: '保存成功',
                        timeout: 2000,
                        showType: 'slide'
                    });
                } else {
                    $.messager.show({
                        title: '提示',
                        msg: '保存失败:' + data,
						 timeout: 0,
                        showType: 'slide'
                    });
                }
            }
        });

        return false;
    }

    //删除
    function del() {

        var id = getselectedRow();

        if (id != undefined) {
            $.messager.confirm('确认', '确定删除?', function (r) {
                if (r) {
                    var url = '@Url.Action("Delete","Default2")/' + id;
                    $.post(url, function () {

                    }).success(function (data) {
                        var msgstr = "删除成功";
                        if (data != true) {
                            msgstr = "删除失败" + data;
							$.messager.show({
	                            title: '提示',
	                            msg: msgstr,
								 timeout: 0,
	                            showType: 'slide'
                        	});
                        }else{
	                        $.messager.show({
	                            title: '提示',
	                            msg: msgstr,
	                            timeout: 3000,
	                            showType: 'slide'
	                        });
						}

                        $('#dg').datagrid('reload');
                    }) .error(function () {
                            $.messager.alert('错误', '删除发生错误');
                        });

                }
            });
        }
    }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
   
</script>
<div region="center">
<table id="dg" class="easyui-datagrid" 
           toolbar="#toolbar"  
           rownumbers="true" fitColumns="true" singleSelect="true" pagination="true" fit="true">  
        <thead>  
        <tr>
            <th field="ParentId" width="100">
                ParentId
            </th>
            <th field="Code" width="100">
                Code
            </th>
            <th field="FullName" width="100">
                FullName
            </th>
            <th field="Category" width="100">
                Category
            </th>
            <th field="ImageIndex" width="100">
                ImageIndex
            </th>
            <th field="SelectedImageIndex" width="100">
                SelectedImageIndex
            </th>
            <th field="NavigateUrl" width="100">
                NavigateUrl
            </th>
            <th field="Target" width="100">
                Target
            </th>
            <th field="IsPublic" width="100">
                IsPublic
            </th>
            <th field="IsMenu" width="100">
                IsMenu
            </th>
            <th field="Expand" width="100">
                Expand
            </th>
            <th field="PermissionItemCode" width="100">
                PermissionItemCode
            </th>
            <th field="PermissionScopeTables" width="100">
                PermissionScopeTables
            </th>
            <th field="AllowEdit" width="100">
                AllowEdit
            </th>
            <th field="AllowDelete" width="100">
                AllowDelete
            </th>
            <th field="SortCode" width="100">
                SortCode
            </th>
            <th field="DeletionStateCode" width="100">
                DeletionStateCode
            </th>
            <th field="Enabled" width="100">
                Enabled
            </th>
            <th field="Description" width="100">
                Description
            </th>
            <th field="CreateOn" width="100">
                CreateOn
            </th>
            <th field="CreateUserId" width="100">
                CreateUserId
            </th>
            <th field="CreateBy" width="100">
                CreateBy
            </th>
            <th field="ModifiedOn" width="100">
                ModifiedOn
            </th>
            <th field="ModifiedUserId" width="100">
                ModifiedUserId
            </th>
            <th field="ModifiedBy" width="100">
                ModifiedBy
            </th>
    	</tr>
		</thead>
		</table>
        <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del();">删除</a>  
        </div> 
        
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>

</div>
</body>
