@model KeWeiOMS.Domain.StockOutType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	        $('#e_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        $('#e_CreateOn').datebox();


    });
</script>
@using (Html.BeginForm("Edit", "StockOut", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OrderNo,"订单编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderNo,new{@id="e_OrderNo"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="e_SKU"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Qty,"数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="e_Qty"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SourceQty,"原有库存:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SourceQty,new{@id="e_SourceQty"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.WId,"仓库ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.WId,new{@id="e_WId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"出库人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"出库时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>


    
</table>
</fieldset>
}
