@model KeWeiOMS.Domain.StockOutType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	        $('#e_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });

	        $("#e_OrderNo").validatebox({
	            required: true,
	        });
        $('#e_CreateOn').datebox();
        $('#e_WId').combogrid({
            required: true,
            panelWidth: 410,
            mode: 'remote',
            idField: 'Id',
            textField: 'Id',
            required: true,
            url: '/Warehouse/QList',
            fit: true,
            columns: [[
                { field: 'Id', title: 'Id', width: 100 },
                { field: 'WCode', title: '仓库代码', width: 100 },
                { field: 'WName', title: '仓库名称', width: 100 },
                { field: 'Address', title: '仓位地址', width: 100 }

            ]]

        })

        $('#e_SKU').combogrid({
            required: true,
            panelWidth: 410,
            mode: 'remote',
            idField: 'SKU',
            textField: 'SKU',
            required: true,
            url: '/Product/ListQ',
            fit: true,
            columns: [[
                { field: 'SKU', title: 'SKU', width: 100 },
                { field: 'ProductName', title: 'Title', width: 200 },
                { field: 'Standard', title: '规格', width: 100 }

            ]]

        })
        $('#e_SKU').combogrid("setText", '@ViewData["sku"]');

    });
</script>
@using (Html.BeginForm("Edit", "StockOut", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
@*		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OrderNo,"订单编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OrderNo,new{@id="e_OrderNo"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="e_SKU"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Qty,"数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="e_Qty"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SourceQty,"原有库存:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SourceQty,new{@id="e_SourceQty"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.WId,"仓库ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.WId,new{@id="e_WId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"出库人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"出库时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>


    
</table>
</fieldset>
}
