@model IEnumerable<KeWeiOMS.Domain.StockOutType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "StockOut")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });
        $('#StartDate').datebox();
        $('#EndDate').datebox();
        $('#StartDate').datebox("setValue", getStartDate(3));
        $('#EndDate').datebox("setValue", getStartDate(-1));
    });

    //æ–°å»º
    function c_dlg() {
        var url_str = '@Url.Action("Create", "StockOut")';
        $('#c_dlg').load(url_str, function () {
            $(this).dialog({
                title: 'æ–°å»º',
                modal:true,
                loadingMessage:'æ­£åœ¨åŠ è½½...',
                buttons: [{
                    text: 'æäº¤',
                    iconCls: 'icon-ok',
                    handler: function () {
                        ajaxAdd();
                    }
                }, {
                    text: 'å–æ¶ˆ',
                    handler: function () {
                        $('#c_dlg').dialog('close');
                    }
                }]
            });
        }).dialog('open');;
    }

    //ç¼–è¾‘æ¡
    function e_dlg() {
        var id = getselectedRow();
        if (id != undefined) {
            var url = '@Url.Action("Edit", "StockOut")/' + id;
            $('#e_dlg').load(url, function () {
                $(this).dialog({
                    title: 'ç¼–è¾‘',
                    modal:true,
                    loadingMessage:'æ­£åœ¨åŠ è½½...',
                    buttons: [{
                        text: 'æäº¤',
                        iconCls: 'icon-ok',
                        handler: function () {
                            ajaxEdit();
                        }
                    }, {
                        text: 'å–æ¶ˆ',
                        handler: function () {
                            $('#e_dlg').dialog('close');
                        }
                    }]
                });
            }).dialog('open');
        }
    }

    //å¼‚æ­¥æ–°å»ºæäº¤
    function ajaxAdd() {
        $('#c_WName').attr("value", $('#c_WId').combogrid("getText"));
        $('#c_form').form('submit', {
            url: '@Url.Action("Create", "StockOut")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                 
                    if (!result.IsSuccess) {
                        $.messager.show({
                            title: 'æç¤º',
                            msg: 'ä¿å­˜å¤±è´¥:' + result.ErrorMsg,
                            timeout: 0,
                            showType: 'slide'
                        });
                    } else {
                        $('#c_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title: 'æç¤º',
                            msg: 'ä¿å­˜æˆåŠŸ',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                }
            });
        }
        //å¼‚æ­¥ä¿®æ”¹æäº¤
    function ajaxEdit() {
        $('#e_WName').attr("value", $('#e_WId').combogrid("getText"));
            $('#e_form').form('submit', {
                url: '@Url.Action("Edit", "StockOut")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    if (!result.IsSuccess) {
                        $.messager.show({
                            title: 'æç¤º',
                            msg: 'ä¿å­˜å¤±è´¥:' + result.ErrorMsg,
                            timeout: 0,
                            showType: 'slide'
                        });
                    } else {
                        $('#e_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title: 'æç¤º',
                            msg: 'ä¿å­˜æˆåŠŸ',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                }
            });
        }
   

        //åˆ é™¤
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                $.messager.confirm('ç¡®è®¤', 'ç¡®å®šåˆ é™¤?', function (r) {
                    if (r) {
                        var url = '@Url.Action("Delete", "StockOut")/' + id;
                    $.post(url, function () {
                    }).success(function (data) {
                        var msgstr = "åˆ é™¤æˆåŠŸ";
                        if (!data.IsSuccess){
                            msgstr = "åˆ é™¤å¤±è´¥" + data;
                            $.messager.show({
                                title: 'æç¤º',
                                msg: msgstr,
                                timeout: 0,
                                showType: 'slide'
                            });
                        }else{
	                        $.messager.show({
	                            title: 'æç¤º',
	                            msg: msgstr,
	                            timeout: 3000,
	                            showType: 'slide'
	                        });
                    }

                        $('#dg').datagrid('reload');
                }) .error(function () {
                    $.messager.alert('é”™è¯¯', 'åˆ é™¤å‘ç”Ÿé”™è¯¯');
                });

            }
            });
    }
    }

    //è·å–é€‰ä¸­è¡
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: 'æç¤º',
            msg: 'è¯·é€‰æ‹©è¡,
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
    function doSearch() {
        search = $('#StartDate').datebox("getValue") + "&" + $('#EndDate').datebox("getValue") + "$" + $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
        $("#dg").datagrid("load", {
            search: search

        });
    }
    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" pagination="true" fit="true">
            <thead>
                <tr>
                    @*            <th field="Id" width="100">
                ä¸»é”®
            </th>*@

                    <th field="OrderNo" width="100" sortable="true">è®¢å•ç¼–å·
                    </th>

                    <th field="SKU" width="100" sortable="true">SKU
                    </th>

                    <th field="Qty" width="100" sortable="true">æ•°é‡
                    </th>

                    <th field="SourceQty" width="100" sortable="true">åŸæœ‰åº“å­˜
                    </th>

            <th field="WName" width="100" sortable="true">
                ²Ö¿â
                    </th>

                    <th field="CreateBy" width="100" sortable="true">å‡ºåº“äº
                    </th>

                    <th field="CreateOn" width="100" formatter="getDate" sortable="true">å‡ºåº“æ—¶é—´
                    </th>
            <th field="Memo" width="100" sortable="true">
                ±¸Íü
            </th>

                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">æ–°å»º</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_dlg()">ç¼–è¾‘</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">åˆ é™¤</a>
         ¿ªÊ¼Ê±¼ä:<input id="StartDate" />
         ½áÊøÊ±¼ä:<input id="EndDate"/>&nbsp&nbsp
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'OrderNo'">è®¢å•ç¼–å·</div>
            <div data-options="name:'SKU'">SKU</div>
            <div data-options="name:'CreateBy'">å‡ºåº“äº/div>
        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>

    </div>
</body>
