@model KeWeiOMS.Domain.PermissionScopeType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值

        $('#e_StartDate').datebox();


        $('#e_EndDate').datebox();


        $('#e_CreateOn').datebox();

        $('#e_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        $('#e_ModifiedOn').datebox();

        $('#e_ModifiedBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        //表单校验
        $("#e_form").validate({
			submitHandler: function (form) {
                        ajaxEdit();
			}
		});


    });
</script>
@using (Html.BeginForm("Edit", "PermissionScope", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ResourceCategory,"什么类型的(主体):")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ResourceCategory,new{@id="e_ResourceCategory"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ResourceId,"什么资源(主体):")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ResourceId,new{@id="e_ResourceId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.TargetCategory,"对什么类型的:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TargetCategory,new{@id="e_TargetCategory"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.TargetId,"对什么资源:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.TargetId,new{@id="e_TargetId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PermissionId,"有什么操作权限:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PermissionId,new{@id="e_PermissionId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PermissionConstraint,"权限约束表达式:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PermissionConstraint,new{@id="e_PermissionConstraint"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.StartDate,"开始生效日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.StartDate,new{@id="e_StartDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EndDate,"结束生效日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EndDate,new{@id="e_EndDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Enabled,"有效:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Enabled,new{@id="e_Enabled"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.DeletionStateCode,"删除标记:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DeletionStateCode,new{@id="e_DeletionStateCode"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Description,"备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Description,new{@id="e_Description"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"创建日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"创建用户:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateUserId,"创建用户主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateUserId,new{@id="e_CreateUserId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedOn,"修改日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedOn,new{@id="e_ModifiedOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedBy,"修改用户:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedBy,new{@id="e_ModifiedBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedUserId,"修改用户主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedUserId,new{@id="e_ModifiedUserId"})
		</td>
	</tr>


    
</table>
</fieldset>
}
