@model KeWeiOMS.Domain.UserType
@{
    Layout = null;
}

<script type="text/javascript">

    $.extend($.fn.validatebox.defaults.rules, {
        /*必须和某个字段相等*/
        equalTo: {
            validator: function (value, param) {
                return $(param[0]).val() == value;
            },
            message: '字段不匹配'
        }
    });

    $(function () {
        $('#c_Birthday').datetimebox();
        $('#c_RoleId').combobox({
            url: '/Role/RootList',
            valueField: 'Id',
            textField: 'Realname',
            required: true,
            onSelect: function (n, o) {
                $('#c_RoleName').val($('#c_RoleId').combobox("getText"));
            }
        });
        $('#c_CId').combobox({
            url: '/Organize/RootList',
            valueField: 'Id',
            textField: 'FullName',
            required: true

        });
        $('#c_DId').combotree();
        $('#c_RoleId').combobox("setValue", "销售职员");
        $('#c_CId').combobox("setValue", "飞度贸易商行");
        $('#c_DId').combotree({
            url: '/Organize/BuMenList/1',
            required: true,
            width: 200
        });
    });

    function showBuMen(id) {
        $('#c_DId').combotree({
            url: '/Organize/BuMenList/' + id,
            required: true
        });
    }

</script>

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "c_form" }))
{
    <fieldset>
        <table class="editForm">
            <tr>

                <td>
                    @Html.LabelFor(model => model.Username, "登录名:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Username, new { @id = "c_Username", })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Password, "用户密码:")
                </td>
                <td>
                    @Html.PasswordFor(model => model.Password, new { @id = "c_Password" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Realname, "真实姓名:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Realname, new { @id = "c_Realname" })
                </td>

            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Mobile, "手机:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Mobile, new { @id = "c_Mobile" })
                </td>

            </tr>

             <tr>
                <td>
                    @Html.LabelFor(model => model.HomeAddress, "地址:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.HomeAddress, new { @id = "c_HomeAddress" })
                </td>

            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Description, "备注:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { @id = "c_Description" })
                </td>
            </tr>
        </table>
    </fieldset>
}
