@model KeWeiOMS.Domain.UserType
@{
    Layout = null;
}

<script type="text/javascript">

    $.extend($.fn.validatebox.defaults.rules, {
        /*必须和某个字段相等*/
        equalTo: {
            validator: function (value, param) {
                return $(param[0]).val() == value;
            },
            message: '字段不匹配'
        }
    });

    $(function () {
        $('#c_Birthday').datetimebox();
    })

    $(function () {
        $('#c_ParentId').combotree({
            url: '/Organize/ParentList',
            valueField: 'Id',
            textField: 'FullName',
            required: true
        });
    });


</script>

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "c_form" }))
{
    <fieldset>
        <table class="editForm">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Code, "编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @id = "c_Code" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Username, "登录名:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Username, new { @id = "c_Username", })
                </td>
            </tr>

            <tr>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Password, "用户密码:")
                </td>
                <td>
                    @Html.PasswordFor(model => model.Password, new { @id = "c_Password" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Password, "确认密码")
                </td>
                <td>
                    <input type="password" name="repassword" id="repassword" required="true" class="easyui-validatebox" validtype="equalTo['#Password']" invalidmessage="两次输入密码不匹配" />
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.Realname, "真实姓名:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Realname, new { @id = "c_Realname" })
                </td>
                <td>
                    @Html.LabelFor(model => model.RoleId, "角色:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.RoleId, new { @id = "c_RoleId" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.DId, "部门:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.DId, new { @id = "c_DId" })
                    @Html.HiddenFor(model => model.DepartmentName, new { @id = "c_DepartmentName" })
                </td>
                <td>
                    @Html.LabelFor(model => model.CId, "公司:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CId, new { @id = "c_CId" })
                    @Html.HiddenFor(model => model.CompanyName, new { @id = "c_CompanyName" })
                </td>
            </tr>




            <tr>
                <td>
                    @Html.LabelFor(model => model.Gender, "性别:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Gender, new { @id = "c_Gender" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Birthday, "出生日期:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Birthday, new { @id = "c_Birthday" })
                </td>

            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.Mobile, "手机:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Mobile, new { @id = "c_Mobile" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Telephone, "电话:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Telephone, new { @id = "c_Telephone" })
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.Email, "电子邮件:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Email, new { @id = "c_Email" })
                </td>
                <td>
                    @Html.LabelFor(model => model.HomeAddress, "家庭住址:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.HomeAddress, new { @id = "c_HomeAddress" })
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.Description, "备注:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.Description, new { @id = "c_Description" })
                </td>
            </tr>
        </table>
    </fieldset>
}
