@model KeWeiOMS.Domain.UserType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值

        $('#e_ChangePasswordDate').datebox();


        $('#e_AllowStartTime').datebox();


        $('#e_AllowEndTime').datebox();


        $('#e_LockStartDate').datebox();


        $('#e_LockEndDate').datebox();


        $('#e_FirstVisit').datebox();


        $('#e_PreviousVisit').datebox();


        $('#e_LastVisit').datebox();


        $('#e_CreateOn').datebox();

        $('#e_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        $('#e_ModifiedOn').datebox();

        $('#e_ModifiedBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


        //表单校验
        $("#e_form").validate({
			submitHandler: function (form) {
                        ajaxEdit();
			}
		});


    });
</script>
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Code,"编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Code,new{@id="e_Code"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Username,"登录名:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Username,new{@id="e_Username"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Password,"用户密码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Password,new{@id="e_Password"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Realname,"姓名:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Realname,new{@id="e_Realname"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.RoleId,"默认角色主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.RoleId,new{@id="e_RoleId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SecurityLevel,"安全级别:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SecurityLevel,new{@id="e_SecurityLevel"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CId,"公司代码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CId,new{@id="e_CId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CompanyName,"公司:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CompanyName,new{@id="e_CompanyName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.DId,"部门主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DId,new{@id="e_DId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.DepartmentName,"部门名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DepartmentName,new{@id="e_DepartmentName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.WorkgroupId,"工作组主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.WorkgroupId,new{@id="e_WorkgroupId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.WorkgroupName,"工作组名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.WorkgroupName,new{@id="e_WorkgroupName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Gender,"性别:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Gender,new{@id="e_Gender"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Telephone,"电话:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Telephone,new{@id="e_Telephone"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Mobile,"手机:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Mobile,new{@id="e_Mobile"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Birthday,"出生日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Birthday,new{@id="e_Birthday"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Duty,"岗位:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Duty,new{@id="e_Duty"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ChangePasswordDate,"最后修改密码日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ChangePasswordDate,new{@id="e_ChangePasswordDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OICQ,"QQ号码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OICQ,new{@id="e_OICQ"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Email,"电子邮件:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Email,new{@id="e_Email"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.HomeAddress,"家庭住址:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.HomeAddress,new{@id="e_HomeAddress"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.AllowStartTime,"允许登录时间开始:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AllowStartTime,new{@id="e_AllowStartTime"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.AllowEndTime,"允许登录时间结束:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AllowEndTime,new{@id="e_AllowEndTime"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LockStartDate,"暂停用户开始日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LockStartDate,new{@id="e_LockStartDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LockEndDate,"暂停用户结束日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LockEndDate,new{@id="e_LockEndDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.FirstVisit,"第一次访问时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.FirstVisit,new{@id="e_FirstVisit"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PreviousVisit,"上一次访问时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PreviousVisit,new{@id="e_PreviousVisit"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LastVisit,"最后访问时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LastVisit,new{@id="e_LastVisit"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LogOnCount,"登录次数:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LogOnCount,new{@id="e_LogOnCount"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.AuditStatus,"审核状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AuditStatus,new{@id="e_AuditStatus"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.IsVisible,"是否显示:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.IsVisible,new{@id="e_IsVisible"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.UserOnLine,"在线状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.UserOnLine,new{@id="e_UserOnLine"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.IPAddress,"IP地址:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.IPAddress,new{@id="e_IPAddress"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MACAddress,"MAC地址:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MACAddress,new{@id="e_MACAddress"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OpenId,"单点登录标识:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OpenId,new{@id="e_OpenId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.DeletionStateCode,"删除标志:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.DeletionStateCode,new{@id="e_DeletionStateCode"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Enabled,"有效:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Enabled,new{@id="e_Enabled"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SortCode,"排序码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SortCode,new{@id="e_SortCode"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Description,"备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Description,new{@id="e_Description"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"创建日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateUserId,"创建用户主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateUserId,new{@id="e_CreateUserId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"创建用户:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedOn,"修改日期:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedOn,new{@id="e_ModifiedOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedUserId,"修改用户主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedUserId,new{@id="e_ModifiedUserId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ModifiedBy,"修改用户:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ModifiedBy,new{@id="e_ModifiedBy"})
		</td>
	</tr>


    
</table>
</fieldset>
}
