@model KeWeiOMS.Domain.EmailReturnType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
        $('#c_CreateOn').datebox();


        $('#c_CreateBy').datebox();

        $('#c_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


    });
    
</script>

@using (Html.BeginForm("Create", "EmailReturn", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.REmail,"回复邮箱:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.REmail,new{@id="c_REmail"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Subject,"主机:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Subject,new{@id="c_Subject"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Content,"内容:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Content,new{@id="c_Content"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MyEmail,"我们的邮箱:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MyEmail,new{@id="c_MyEmail"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EId,"回复的邮件Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EId,new{@id="c_EId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"回复时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="c_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"回复人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="c_CreateBy"})
		</td>
	</tr>


</table>
</fieldset>
}
