@model KeWeiOMS.Domain.EmailReturnType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
        $('#e_CreateOn').datebox();


        $('#e_CreateBy').datebox();

        $('#e_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


    });
</script>
@using (Html.BeginForm("Edit", "EmailReturn", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.REmail,"回复邮箱:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.REmail,new{@id="e_REmail"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Subject,"主机:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Subject,new{@id="e_Subject"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Content,"内容:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Content,new{@id="e_Content"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MyEmail,"我们的邮箱:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MyEmail,new{@id="e_MyEmail"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EId,"回复的邮件Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EId,new{@id="e_EId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"回复时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"回复人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="e_CreateBy"})
		</td>
	</tr>


    
</table>
</fieldset>
}
