@model KeWeiOMS.Domain.AccountEmailType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
    });
    
</script>

@using (Html.BeginForm("Create", "AccountEmail", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">

	<tr>
		<td>
            @Html.LabelFor(model => model.AccountId,"账户ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AccountId,new{@id="c_AccountId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.AccountName,"账户名:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AccountName,new{@id="c_AccountName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Email,"邮箱名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Email,new{@id="c_Email"})
		</td>
	</tr>


</table>
</fieldset>
}
