@model KeWeiOMS.Domain.ProductType
<link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kindeditor/kindeditor-min.js")"></script>

<script type="text/javascript">
    $(function () {
        $('#dg_zu').datagrid({
            url: '@Url.Action("ZuList", "Product")',
            width: 300,
            toolbar: [{
                id: 'btnadd',
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    addp();
                }
            }, {
                id: 'btndel',
                text: '删除',
                iconCls: 'icon-add',
                handler: function () {
                    if (editIndex == undefined) {
                        return;
                    }
                    $('#dg_zu').datagrid('cancelEdit', editIndex)
                            .datagrid('deleteRow', editIndex);
                    editIndex = undefined;
                }
            }, {
                id: 'btnsave',
                text: '保存',
                iconCls: 'icon-save',
                handler: function () {
                    accept();
                }
            }],
            onClickRow: onClickRow
        });

        $('#c_IsInfraction').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });
        $('#c_IsElectronic').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });

        $('#c_HasBattery').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });
        $('#c_IsZu').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });
        $('#c_Purchaser').combobox({
            url: '/User/QList/' + Purchaser,
            valueField: 'Id',
            textField: 'Realname',
            required: true,
            width: 200,
            panelHeight: 'auto'
        });
        $('#c_Examiner').combobox({
            url: '/User/QList/' + Examiner,
            valueField: 'Id',
            textField: 'Realname',
            required: true,
            width: 200,
            panelHeight: 'auto'
        });
        $('#c_Packer').combobox({
            url: '/User/QList/' + Packer,
            valueField: 'Id',
            textField: 'Realname',
            required: true,
            width: 200,
            panelHeight: 'auto'
        });
        $('#c_Status').combobox({
            url: '/Home/ProductStatus/',
            valueField: 'id',
            textField: 'text',
            required: true,
            width: 200,
            panelHeight: 'auto'
        });
        $('#c_Category').combotree({
            url: '/ProductCategory/PList',
            required: true,
            width: 200
        });
        $('#c_Location').combogrid({
            panelWidth: 360,
            idField: 'PositionsName',
            textField: 'PositionsName',
            url: '/WarehouseLocation/QList',
            fit: true,
            mode: 'remote',
            columns: [[
               { field: 'PositionsName', title: '库位', width: 150 },
               { field: 'Warehouse', title: '仓库', width: 200 }
            ]]
        });
        $('#c_IsScan').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            required: true,
            data: checks
        });
        $('#up_file').uploadify({
            'auto': false,
            'buttonText': '请选择图片',
            'swf': '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
            'uploader': '/Home/SaveFile/',
            'multi': false,
            'onUploadSuccess': function (file, data, response) {
                eval("data=" + data);
                $('#c_PicUrl').val(data.SaveName);
                if (endEditing()) {
                    $('#dg_zu').datagrid('acceptChanges');
                }
                $("#rows").val(JSON.stringify($('#dg_zu').datagrid("getRows")));
                formPost('c_form', '@Url.Action("Create", "Product")', 'c_dlg', 'dg', 'a');
            }
        });
    });

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) {
            return true;
        }
        if ($('#dg_zu').datagrid('validateRow', editIndex)) {
            $('#dg_zu').datagrid('endEdit', editIndex);

            editIndex = undefined;

            return true;

        } else {
            return false;
        }
    }
    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#dg_zu').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#dg_zu').datagrid('selectRow', editIndex);
            }
        }
    }
    function addp() {
        if (endEditing()) {
            $('#dg_zu').datagrid('appendRow', { Qty: 1, Price: 0 });
            editIndex = $('#dg_zu').datagrid('getRows').length - 1;
            $('#dg_zu').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
        }
    }
    function accept() {
        if (endEditing()) {
            $('#dg_zu').datagrid('acceptChanges');
        }
    }
    function addProduct() {
        $.ajax({
            type: "POST",
            url: "/Product/HasExist/",
            data: "sku=" + $('#c_SKU').val(),
            success: function (msg) {
                if (msg.IsSuccess) {
                    $('#up_file').uploadify('upload');
                }
                else {
                    $.messager.show({
                        title: '提示',
                        msg: '编号已经存在',
                        timeout: 0,
                        showType: 'slide'
                    });
                }
            }
        });
    }
</script>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { id = "c_form" }))
{
    <input type="button" value="保存" onclick="addProduct();" />

    <fieldset>
        <legend>产品信息</legend>
        <table class="editForm">
            <tr>
                <td>
                    <input type="hidden" id="rows" name="rows" />
                    @Html.LabelFor(model => model.SKU, "商品编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.SKU, new { @id = "c_SKU", @class = "easyui-validatebox", @required = "true" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Category, "类别:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Category, new { @id = "c_Category" })
                </td>
                <td>

                    @Html.LabelFor(model => model.SKU, "主编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.OldSKU, new { @id = "c_OldSKU", @class = "easyui-validatebox", @required = "true" })
                </td>

            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.ProductName, "商品名称:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ProductName, new { @id = "c_ProductName", @class = "easyui-validatebox", @required = "true" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Status, "状态:")
                </td>
                <td>@Html.TextBoxFor(model => model.Status, new { @id = "c_Status" })
                <td rowspan="2">
                    @Html.LabelFor(model => model.PicUrl, "大图片网址:")
                </td>
                <td rowspan="2">
                    <input id="up_file" type="file" name="up_file" />
                    @Html.HiddenFor(model => model.PicUrl, new { @id = "c_PicUrl" })
                </td>

            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IsScan, "配货扫描:")
                </td>
                <td colspan="5">
                    @Html.TextBoxFor(model => model.IsScan, new { @id = "c_IsScan" })
                </td>


            </tr>

        </table>
    </fieldset>
    <div id="tt" class="easyui-tabs" style="width: 1180px; height: 300px;">
        <div title="仓库信息" style="padding: 20px;">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Price, "商品价格:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Price, new { @id = "c_Price", @class = "easyui-validatebox", @required = "true" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Standard, "规格:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Standard, new { @id = "c_Standard" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Weight, "重量:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Weight, new { @id = "c_Weight", @class = "easyui-validatebox", @required = "true" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Long, "长×宽×高:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Long, new { @id = "c_Long", @style = "width:50px" })×
                   
                    @Html.TextBoxFor(model => model.Wide, new { @id = "c_Wide", @style = "width:50px" })×
                   
                    @Html.TextBoxFor(model => model.High, new { @id = "c_High", @style = "width:50px" })
                    </td>

                    <td>
                        @Html.LabelFor(model => model.DayByStock, "库存天数:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DayByStock, new { @id = "c_DayByStock", @class = "easyui-numberbox", @required = "true" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Brand, "品牌:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Brand, new { @id = "c_Brand" })
                    </td>

                    <td>
                        @Html.LabelFor(model => model.Model, "型号:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Model, new { @id = "c_Model" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Location, "库位:")
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.Location, new { @id = "c_Location" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PackCoefficient, "包装系数:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PackCoefficient, new { @id = "c_PackCoefficient" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.IsElectronic, "电子:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.IsElectronic, new { @id = "c_IsElectronic" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.HasBattery, "电池:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.HasBattery, new { @id = "c_HasBattery" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Purchaser, "采购人:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Purchaser, new { @id = "c_Purchaser" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Examiner, "验货人:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Examiner, new { @id = "c_Examiner" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Packer, "包装人:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Packer, new { @id = "c_Packer" })
                    </td>
                </tr>

            </table>
        </div>
        <div title="是否侵权" style="overflow: auto; padding: 20px;">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.IsInfraction, "是否侵权:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.IsInfraction, new { @id = "c_IsInfraction" })
                    </td>
                </tr>
            </table>
        </div>
        <div title="组合产品" style="overflow: auto; padding: 20px;">
            <table id="dg_zu" class="easyui-datagrid" rownumbers="true" singleselect="true" fit="true">
                <thead>
                    <tr>
                        <th field="SrcSKU" width="80" data-options="editor:'text'">SKU
                        </th>
                        <th field="SrcQty" width="100" data-options="editor:'text'">Qty
                        </th>
                </thead>
            </table>
        </div>

        <div title="备注信息" style="overflow: auto; padding: 20px;">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Summary, "简单描述:")
                    </td>
                    <td colspan="5">
                        @Html.TextAreaFor(model => model.Summary, new { @id = "c_Summary", @style = "width:700px;height:100px;resize:none" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PackMemo, "包装注意事项:")
                    </td>
                    <td colspan="5">
                        @Html.TextAreaFor(model => model.PackMemo, new { @id = "c_PackMemo", @style = "width:700px;height:100px;resize:none" })
                    </td>
                </tr>
            </table>
        </div>
    </div>
   
}
