@model KeWeiOMS.Domain.ProductType
<link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kindeditor/kindeditor-min.js")"></script>
<script type="text/javascript">
    var editor;
    var editor2;
    KindEditor.ready(function (K) {
        editor = K.create('#e_Summary', {
            resizeType: 1,
            allowPreviewEmoticons: false,
            allowImageUpload: false,
            items: [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
            afterBlur: function () { this.sync(); }
        });
        editor2 = K.create('#e_PackMemo', {
            resizeType: 1,
            allowPreviewEmoticons: false,
            allowImageUpload: false,
            items: [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
            afterBlur: function () { this.sync(); }
        });
    });
    $(function () {
        $('#dg_record').datagrid({
            url: '@Url.Action("Record", "Product")/@ViewData["id"]',
            width: 1200,
            height: 280
        });
        $('#dg_zu').datagrid({
            url: '@Url.Action("ZuList", "Product")/@Model.SKU',
            width: 300,
            toolbar: [{
                id: 'btnadd',
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    addp();
                }
            }, {
                id: 'btndel',
                text: '删除',
                iconCls: 'icon-add',
                handler: function () {
                    if (editIndex == undefined) {
                        return;
                    }
                    $('#dg_zu').datagrid('cancelEdit', editIndex)
                            .datagrid('deleteRow', editIndex);
                    editIndex = undefined;
                }
            }, {
                id: 'btnsave',
                text: '保存',
                iconCls: 'icon-save',
                handler: function () {
                    accept();
                }
            }],
            onClickRow: onClickRow
        });
        $('#dg_pl').datagrid({
            url: '@Url.Action("PlList", "Product")/@Model.SKU',
            width: 300,
            toolbar: [{
                id: 'btnsave',
                text: '保存',
                iconCls: 'icon-save',
                handler: function () {
                    acceptl();
                }
            }],
            onClickRow: onClickRowl
        });


        $('#e_IsInfraction').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });
        $('#e_IsElectronic').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });

        $('#e_HasBattery').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });
        $('#e_IsScan').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });
        $('#e_IsZu').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 50,
            data: checks
        });
        $('#e_Purchaser').combobox({
            url: '/User/QList/' + Purchaser,
            valueField: 'Id',
            textField: 'Realname',

            width: 200,
            panelHeight: 'auto'
        });
        $('#e_Examiner').combobox({
            url: '/User/QList/' + Examiner,
            valueField: 'Id',
            textField: 'Realname',

            width: 200,
            panelHeight: 'auto'
        });
        $('#e_Packer').combobox({
            url: '/User/QList/' + Packer,
            valueField: 'Id',
            textField: 'Realname',
            required: true,
            width: 200,
            panelHeight: 'auto'
        });
        $('#e_Status').combobox({
            url: '/Home/ProductStatus/',
            valueField: 'id',
            textField: 'text',

            width: 200,
            panelHeight: 'auto'
        });
        $('#e_Category').combotree({
            url: '/ProductCategory/PList',
            required: true,
            width: 200
        });
        $('#e_Location').combogrid({
            panelWidth: 360,
            idField: 'PositionsName',
            textField: 'PositionsName',
            url: '/WarehouseLocation/QList',
            fit: true,
            mode: 'remote',
            columns: [[
               { field: 'PositionsName', title: '库位', width: 150 },
               { field: 'Warehouse', title: '仓库', width: 200 }
            ]]
        });

    });

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) {
            return true;
        }
        if ($('#dg_zu').datagrid('validateRow', editIndex)) {
            $('#dg_zu').datagrid('endEdit', editIndex);

            editIndex = undefined;

            return true;

        } else {
            return false;
        }
    }
    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#dg_zu').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#dg_zu').datagrid('selectRow', editIndex);
            }
        }
    }
    function addp() {
        if (endEditing()) {
            $('#dg_zu').datagrid('appendRow', { Qty: 1, Price: 0 });
            editIndex = $('#dg_zu').datagrid('getRows').length - 1;
            $('#dg_zu').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
        }
    }
    function accept() {
        if (endEditing()) {
            $('#dg_zu').datagrid('acceptChanges');
        }
    }


    function addProduct() {

        if (endEditing()) {
            $('#dg_zu').datagrid('acceptChanges');
        }
        $("#rows").val(JSON.stringify($('#dg_zu').datagrid("getRows")));

        if (endEditingl()) {
            $('#dg_pl').datagrid('acceptChanges');
        }
        $("#rows2").val(JSON.stringify($('#dg_pl').datagrid("getRows")));
        formPost('e_form', '@Url.Action("Edit", "Product")', 'e_dlg', 'dg', 'a');

    }


    var editIndexl = undefined;
    function endEditingl() {
        if (editIndexl == undefined) {
            return true;
        }
        if ($('#dg_pl').datagrid('validateRow', editIndexl)) {
            $('#dg_pl').datagrid('endEdit', editIndexl);

            editIndexl = undefined;

            return true;

        } else {
            return false;
        }
    }
    function onClickRowl(index) {
        if (editIndexl != index) {
            if (endEditingl()) {
                $('#dg_pl').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndexl = index;
            } else {
                $('#dg_pl').datagrid('selectRow', editIndexl);
            }
        }
    }
    function addpl() {
        if (endEditingl()) {
            $('#dg_pl').datagrid('appendRow', { Qty: 1, Price: 0 });
            editIndexl = $('#dg_pl').datagrid('getRows').length - 1;
            $('#dg_pl').datagrid('selectRow', editIndexl)
                    .datagrid('beginEdit', editIndexl);
        }
    }
    function acceptl() {
        if (endEditingl()) {
            $('#dg_pl').datagrid('acceptChanges');
        }
    }
    function Ispl(value) {
        if (value == "1") {
            return "是"
        }
        else
            return "否";
    }
</script>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { id = "e_form" }))
{
    


    <fieldset>
        <legend>产品信息
           
            <input type="button" value="保存" onclick="addProduct();" /></legend>
        <table class="editForm" style="height: 150px">
            <tr>
                <td>
                    @Html.LabelFor(model => model.SKU, "商品编号:")
                </td>
                <td>
                    <input type="hidden" id="rows" name="rows" />
                    <input type="hidden" id="rows2" name="rows2" />
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreateOn)


                    @Html.HiddenFor(model => model.CreateBy)
                    @Html.HiddenFor(model => model.SPicUrl)
                    @Html.HiddenFor(model => model.PicUrl)
                    @Html.HiddenFor(model => model.SevenDay)
                    @Html.HiddenFor(model => model.ThirtyDay)
                    @Html.HiddenFor(model => model.Fifteen)
                    @Html.TextBoxFor(model => model.SKU, new { @id = "e_SKU", @class = "easyui-validatebox", @required = "true" })
                </td>

                <td>
                    @Html.LabelFor(model => model.Category, "类别:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Category, new { @id = "e_Category" })
                </td>
                <td>
                    @Html.LabelFor(model => model.SKU, "是否扫描:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.IsScan, new { @id = "e_IsScan", @required = "true" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ProductName, "商品名称:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ProductName, new { @id = "e_ProductName", @class = "easyui-validatebox", @required = "true" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Status, "状态:")
                </td>
                <td>@Html.TextBoxFor(model => model.Status, new { @id = "e_Status" })

                </td>
                <td>
                    @Html.LabelFor(model => model.SKU, "主编号:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.OldSKU, new { @id = "e_OldSKU", @class = "easyui-validatebox", @required = "true" })
                </td>


            </tr>
        </table>
    </fieldset>

    <div id="tt" class="easyui-tabs" style="width: 1350px; height: 350px;">
        <div title="仓库信息" style="padding: 20px;">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Price, "商品价格:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Price, new { @id = "e_Price", @class = "easyui-validatebox", @required = "true" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Standard, "规格:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Standard, new { @id = "e_Standard" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Weight, "重量:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Weight, new { @id = "e_Weight", @class = "easyui-validatebox", @required = "true" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Long, "长×宽×高:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Long, new { @id = "e_Long", @style = "width:50px" })×
                   
                        @Html.TextBoxFor(model => model.Wide, new { @id = "e_Wide", @style = "width:50px" })×
                   
                        @Html.TextBoxFor(model => model.High, new { @id = "e_High", @style = "width:50px" })
                    </td>

                    <td>
                        @Html.LabelFor(model => model.DayByStock, "库存天数:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.DayByStock, new { @id = "e_DayByStock" })
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.LabelFor(model => model.Brand, "品牌:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Brand, new { @id = "e_Brand" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Model, "型号:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Model, new { @id = "e_Model" })
                    </td>

                    <td>
                        @Html.LabelFor(model => model.Location, "库位:")
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.Location, new { @id = "e_Location" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PackCoefficient, "包装系数:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PackCoefficient, new { @id = "e_PackCoefficient" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.IsElectronic, "电子:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.IsElectronic, new { @id = "e_IsElectronic" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.HasBattery, "电池:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.HasBattery, new { @id = "e_HasBattery" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Purchaser, "采购人:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Purchaser, new { @id = "e_Purchaser" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Examiner, "验货人:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Examiner, new { @id = "e_Examiner" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Packer, "包装人:")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Packer, new { @id = "e_Packer" })
                    </td>
                </tr>
            </table>
        </div>
        <div title="是否侵权" style="overflow: auto; padding: 20px;">
            <table id="dg_pl" class="easyui-datagrid" rownumbers="true" singleselect="true" fit="true">
                <thead>
                    <tr>
                        <th field="Platform" width="80">平台
                        </th>
                        <th field="Isinfraction" width="100" data-options="formatter:Ispl,editor:{
						          type:'combobox',	
                                  options:{
							      valueField: 0,
                                   textField: 1,
                                   panelHeight: 50,
                                   data: checks,
							      }    
						}">是否侵权
                        </th>
                        <th field="Remark" width="400" data-options="editor:'text'">备注
                        </th>
                </thead>
            </table>
        </div>
        <div title="组合产品" style="overflow: auto; padding: 20px;">
            <table id="dg_zu" class="easyui-datagrid" rownumbers="true" singleselect="true" fit="true">
                <thead>
                    <tr>
                        <th field="SrcSKU" width="80" data-options="editor:'text'">SKU
                        </th>
                        <th field="SrcQty" width="100" data-options="editor:'text'">Qty
                        </th>
                </thead>
            </table>
        </div>
        <div title="备注信息" style="overflow: auto; padding: 20px;">
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Summary, "简单描述:")
                    </td>
                    <td colspan="5">
                        @Html.TextAreaFor(model => model.Summary, new { @id = "e_Summary", @style = "width:700px;height:50px;resize:none" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PackMemo, "包装注意事项:")
                    </td>
                    <td colspan="5">
                        @Html.TextAreaFor(model => model.PackMemo, new { @id = "e_PackMemo", @style = "width:700px;height:50px;resize:none" })
                    </td>
                </tr>
            </table>
        </div>
        <div title="商品日志" style="padding: 20px;">
            <table id="dg_record" class="easyui-datagrid" rownumbers="true" singleselect="true">
                <thead>
                    <tr>
                        <th field="RecordType" width="150">类型
                        </th>
                        <th field="Content" width="700">内容
                        </th>
                        <th field="CreateBy" width="60">处理人
                        </th>
                        <th field="CreateOn" width="200" formatter="getDate">处理时间
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
}
