@model KeWeiOMS.Domain.ProductType
@{
   
}
<link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#up_file').uploadify({
            'auto': false,
            'buttonText': '请选择文件',
            'swf': '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
            'uploader': '/Home/SaveFile/',
            'multi': false,
            'onUploadSuccess': function (file, data, response) {
                eval("data=" + data);
                $('#fileName').val(data.SaveName);
                formPost('c_form', '@Url.Action("ImportProduct", "Product")',null, null, null, '@Url.Action("Result", "Product")');
            }
        });
    });
</script>
@using (Html.BeginForm("ImportProduct", "Product", FormMethod.Post, new { id = "c_form" }))
{
    <fieldset>
        <legend>商品批量上传</legend>
        <tble class="editForm">
            <tr>
                <td>选择文件</td>
                <td>
                    <input type="file" name="up_file" id="up_file" />
                    <input type="hidden" name="fileName" id="fileName" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="上传" onclick="$('#up_file').uploadify('upload', '*');" /></td>
            </tr>
        </tble>
    </fieldset>
}

