@model KeWeiOMS.Domain.MachinType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {
        $("#e_Code").validatebox({
            required: true
        });
        $("#e_Name").validatebox({
            required: true
        });

        $('#e_Status').combobox({
            url: '@Url.Action("GetMachine","Dictionary")',
            valueField: 'FullName',
            textField: 'FullName',
            panelHeight: 'auto',
            editable: true,
            required: true
        });
        $('#e_StatusOld').combobox({
            url: '@Url.Action("GetMachine","Dictionary")',
            valueField: 'FullName',
            textField: 'FullName',
            panelHeight: 'auto',
            editable: true
        });
        $('#e_UserName').combobox({
            url: 'User/UserSrc',
            editable: true,
        });
        $('#e_UserNameOld').combobox({
            url: 'User/UserSrc',
            editable: true,
        });

        $('#e_StartDate').datebox();


        $('#e_EndDate').datebox();


        $('#e_StartDateOld').datebox();


        $('#e_EndDateOld').datebox();


    });

</script>

@using (Html.BeginForm("Edit", "Machin", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		@*<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Code,"编号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Code,new{@id="e_Code"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Name,"名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Name,new{@id="e_Name"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="e_Status"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.UserName,"使用人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.UserName,new{@id="e_UserName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.StartDate,"开始时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.StartDate,new{@id="e_StartDate"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EndDate,"结束时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EndDate,new{@id="e_EndDate"})
		</td>
	</tr>
	<tr>
		<td>
            @Html.LabelFor(model => model.UserNameOld,"过去使用人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.UserNameOld,new{@id="e_UserNameOld"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.StatusOld,"过去状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.StatusOld,new{@id="e_StatusOld"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.StartDateOld,"开始时:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.StartDateOld,new{@id="e_StartDateOld"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.EndDateOld,"结束时:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EndDateOld,new{@id="e_EndDateOld"})
		</td>
	</tr>


</table>
</fieldset>
}
