@model KeWeiOMS.Domain.EbayMessageReType
@{
    //Layout = null;
}
<script src="@Url.Content("~/Scripts/easyUI/datagrid-detailview.js")"></script>
<script type="text/javascript">
    $(function () {
        $('#c_MessageId').attr("value", '@ViewData["mid"]');
        $('#dg').datagrid({
            singleSelect: true,
            onClickRow: function (index, row) {
                $.getJSON("/Email/getEmailTempDetail/" + row.Id, function (json) {
                    $('#c_BodyRe').prop('value', json[0].Content);
                });
            }
        });
        $('#order').datagrid({
            url: '@Url.Action("GetOrder", "EbayMessageRe")/@ViewData["mid"]',
            nowrap: false,
            view: detailview,
            detailFormatter: function (index, row) {
                var html = '<div id="ddv-' + index + '" style="padding:5px 0"></div>';
                html += '<div  style="padding:5px 0"><b>留言:' + row.BuyerMemo + '</b></div>';
                return html;
            },
            onDblClickRow: function (i, r) {
                window.open('@Url.Action("Edit", "Order")/' + r.Id);
            },
            onExpandRow: function (index, row) {
                $('#ddv-' + index).panel({
                    border: false,
                    cache: false,
                    href: '@Url.Action("GetProduct", "OrderProduct")' + "/" + row.Id,
                    onLoad: function () {
                        $('#order').datagrid('fixDetailRowHeight', index);
                    }
                });
                $('#order').datagrid('fixDetailRowHeight', index);
            }
        });

        $('#oldmail').datagrid({
            url: '@Url.Action("GetOldMail", "EbayMessageRe")/@ViewData["buyer"]'

        });

        $('#dd').dialog('close');
    });
    function send() {
        if ($('#c_BodyRe').attr("value") == "") {
            alert('@Html.Language("回复顶不能为空！")');
        }
        else {

            $.ajax({
                url: '@Url.Action("IsRead", "EbayMessage")/@ViewData["mid"]',
                success: function (result) {
                    if (result) {
                        if (result.Msg != '0') {
                            $.messager.confirm('@Html.Language("确认")', '@Html.Language("该邮件已经回复过，是否进入再次回复")?', function (r) {
                                if (r) {
                                    $('#c_form').form('submit', {
                                        url: '@Url.Action("Create", "EbayMessageRe")',
                                        onSubmit: function () {
                                            return $(this).form('validate');
                                        },
                                        success: function (msg) {
                                            var result = $.parseJSON(msg);
                                            if (result.IsSuccess) {
                                                $.ajax({
                                                    url: '@Url.Action("GetNext", "EbayMessageRe")/@ViewData["mid"]',
                                                    success: function (result) {
                                                        if (result) {
                                                            if (result.Msg != '0') {
                                                                $.messager.show({
                                                                    title: '@Html.Language("提示")',
                                                                    msg: '@Html.Language("已进入下一封未读")！',
                                                                    timeout: 2000,
                                                                    showType: 'slide'
                                                                });
                                                                window.location = "/EbayMessageRe/Create/" + result.Msg;
                                                            } else {
                                                                alert('@Html.Language("已经到最后一封未读，点击“确定”关闭！")');
                                                                window.close();
                                                            }
                                                        }
                                                    }
                                                });
                                            } else {
                                                alert("@Html.Language("保存失败")!");
                                            }
                                        }
                                    });
                                }
                            });
                        } else {
                            $('#c_form').form('submit', {
                                url: '@Url.Action("Create", "EbayMessageRe")',
                                onSubmit: function () {
                                    return $(this).form('validate');
                                },
                                success: function (msg) {
                                    var result = $.parseJSON(msg);
                                    if (result.IsSuccess) {
                                        $.ajax({
                                            url: '@Url.Action("GetNext", "EbayMessageRe")/@ViewData["mid"]',
                                            success: function (result) {
                                                if (result) {
                                                    if (result.Msg != '0') {
                                                        $.messager.show({
                                                            title: '@Html.Language("提示")',
                                                            msg: '@Html.Language("已进入下一封未读")！',
                                                            timeout: 2000,
                                                            showType: 'slide'
                                                        });
                                                        window.location = "/EbayMessageRe/Create/" + result.Msg;
                                                    } else {
                                                        alert("@Html.Language("已经到最后一封未读，点击“确定”关闭")！");
                                                        window.close();
                                                    }
                                                }

                                            }
                                        });
                                    } else {
                                        alert("@Html.Language("保存失败")!");
                                    }
                                }
                            });


                        }
                    }

                }
            });

        }
    }
    function onlySend() {
        if ($('#c_BodyRe').attr("value") == "") {
            alert("@Html.Language("回复顶不能为空")！");
        }
        else {

            $.ajax({
                url: '@Url.Action("IsRead", "EbayMessage")/@ViewData["mid"]',
                success: function (result) {
                    if (result) {
                        if (result.Msg != '0') {
                            $.messager.confirm('@Html.Language("确认")', '@Html.Language("该邮件已经回复过，是否进入再次回复")?', function (r) {
                                if (r) {
                                    $('#c_form').form('submit', {
                                        url: '@Url.Action("Create", "EbayMessageRe")',
                                        onSubmit: function () {
                                            return $(this).form('validate');
                                        },
                                        success: function (msg) {
                                            var result = $.parseJSON(msg);
                                            if (result.IsSuccess) {
                                                alert("@Html.Language("回复成功")！");
                                                $('#c_BodyRe').attr("value", "")
                                            }
                                            else {
                                                alert("@Html.Language("保存失败")!");
                                            }
                                        }
                                    });
                                }
                            })
                        }
                        else {
                            $('#c_form').form('submit', {
                                url: '@Url.Action("Create", "EbayMessageRe")',
                                onSubmit: function () {
                                    return $(this).form('validate');
                                },
                                success: function (msg) {
                                    var result = $.parseJSON(msg);
                                    if (result.IsSuccess) {
                                        alert("@Html.Language("回复成功")！");
                                        $('#c_BodyRe').attr("value", "")
                                    }
                                    else {
                                        alert("@Html.Language("保存失败")!");
                                    }
                                }
                            });
                        }
                    }
                }
            })
        }
    }

    function olddetail(v, r, i) {
        return "<a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'detail(" + v + ")\'>@Html.Language("详细")</a>"
    }
    function detail(value) {

        var url_str = '@Url.Action("Edit", "EbayMessageRe")/' + value;

        window.open(url_str);
        //$('#d_dlg').load(url_str, function () {
        //    $(this).dialog({
        //        title: '详细信息',
        //        width: '800',
        //        modal: true,
        //        loadingMessage: '正在加载...',
        //        buttons: [{
        //            text: '关闭',
        //            handler: function () {
        //                $('#d_dlg').dialog('close');
        //            }
        //        }]
        //    });
        //}).dialog('open');
    }
    function getOrderDate(v, r, i) {
        var html = "";
        html += "同:<b>" + getDate(r.CreateOn) + "</b>";
        if (r.ScanningBy != "")
            html += "<br/>扫:" + getDate(r.ScanningOn);
        return html;
    }

    function GetAmount(v, r, i) {
        var html = v + ":" + r.Amount;
        return html;
    }

    function GetBuyer(v, r, i) {
        var html = v + "<br />" + r.BuyerEmail;
        return html;
    }

    function getAccount(v, r, i) {

        var html = v + "<br />" + r.Platform;
        return html;
    }

    function GetOrder(v, r, i) {
        return v + "<br/>" + r.OrderExNo;
    }

    function GeStatus(v, r, i) {
        var html = v + "<br/>";
        if (r.IsPrint >= 1)
            html += "<img src='/Content/imgs/Print.gif'> ";
        if (r.IsMerger == 1)
            html += "<img src='/Content/imgs/Merger.gif'> ";
        if (r.IsSplit == 1)
            html += "<img src='/Content/imgs/Split.gif'> ";
        if (r.IsOutOfStock == 1)
            html += "<img src='/Content/imgs/OutOfStock.gif'> ";
        if (r.IsRepeat == 1)
            html += "<img src='/Content/imgs/Repeat.gif'> ";
        return html;
    }

    function forward() {
        $('#dd').dialog({
            buttons: [{
                text: '@Html.Language("确定")',
                iconCls: 'icon-ok',
                handler: function () {
                    forwarding();
                }
            }, {
                text: '@Html.Language("取消")',
                handler: function () {
                    $('#dd').dialog('close');
                }
            }]
        });

        $('#forname').combobox({
            url: '@Url.Action("GetUsers", "EbayReplay")',
            valueField: "Realname",
            textField: "Realname",
        });
    }

    function EditProcessed() {
        $.ajax({
            type: 'post',
            url: "@Url.Action("EditProcessed", "EbayMessageRe")/",
            data: "Id=@ViewData["mid"]",
            success: function (result) {
                alert("@Html.Language("标记成功")!");
                window.close();
            }
        });
    }
    function forwarding() {
        if ($('#forname').combobox("getValue") != "" && $('#forqu').attr("value") != "") {
            $.ajax({
                type: 'post',
                url: "@Url.Action("Forward", "EbayMessage")/",
                data: "ids= @ViewData["mid"]&t=" + $('#forname').combobox("getValue") + "&m=" + $('#forqu').attr("value"),
                success: function (result) {
                    if (result) {
                        if (result.Msg != '0') {
                            $.messager.show({
                                title: '@Html.Language("提示")',
                                msg: '@Html.Language("转发出错")',
                                timeout: 2000,
                                showType: 'slide'
                            });
                        } else {
                            alert("@Html.Language("转发成功")！");
                            window.close();
                        }
                    }

                }
            });
        }
        else {
            alert("@Html.Language("回复人员、转发原因不能为空")！！");
        }
    }
</script>

<body>
    <div class="easyui-layout" style="width:100%;height:1500px;">
        <div data-options="region:'north'" style="height:400px">
            <div style="background-color:lightgray">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.Language("账号"):&nbsp;@ViewData["buyer"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>@Html.Language("提问时间"):&nbsp;@ViewData["creation"]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.Language("店铺名称"):&nbsp;@ViewData["Shop"]&nbsp; </p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>@Html.Language("标题"):&nbsp;@ViewData["sub"]</p></label>
            </div>
            <div>
                <table>

                    <tr>
                        <td valign="top">
                            &nbsp;&nbsp;<label>@Html.Language("邮件内容"):</label>
                        </td>
                        <td colspan="9" valign="top">
                            <iframe style=" height: 300px; overflow-y: auto; width: 880px; border: 0px;" id="r-div" src="@Url.Action("ReadMailBody", "EbayMessageRe")/@ViewData["mid"]"></iframe>
                            <!--<div style="height:300px;overflow-y:auto; width:880px;" id="r-div">
                                @{WriteLiteral(ViewData["bod"]);}
                            </div>-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div data-options="region:'east',split:true" style="width:250px;">
            <table id="dg" class="easyui-datagrid" style="width: 430px; height: 500px"
                   singleselect="true" data-options="url:'/Email/getEmailTemp',fitColumns:true,nowrap:false">
                <thead>
                    <tr>
                        <th data-options="field:'Id',hidden:true"></th>
                        <th data-options="field:'Title',width:150">@Html.Language("情况名称")</th>
                        <th data-options="field:'Content',width:280">@Html.Language("回复内容")</th>
                    </tr>
                </thead>
            </table>
        </div>


        <div data-options="region:'center',iconCls:'icon-ok'">
            @using (Html.BeginForm("Create", "EbayMessageRe", FormMethod.Post, new { id = "c_form" }))
            {
                <fieldset style="border: 0">
                    <table class="editForm">
                        <tr>
                            <td style="display: none">
                                @Html.TextBoxFor(model => model.MessageId, new { @id = "c_MessageId", @readOnly = "readOnly", style = "width:700px;" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.BodyRe, @Html.Language("回复内容") + ":")
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.BodyRe, new { @id = "c_BodyRe", style = "width:700px;height:150px;resize:none; font-size: 12px;" })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center">
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls='icon-ok' onclick="onlySend()">@Html.Language("回复")</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls='icon-ok' onclick="send()">@Html.Language("回复并进入下一封未读")</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls='icon-ok' onclick="forward()">@Html.Language("转发")</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls='icon-ok' onclick="EditProcessed()">@Html.Language("标记已处理")</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            }

            <fieldset>
                <legend>@Html.Language("往来邮件")</legend>
                <table id="oldmail" class="easyui-datagrid" style="width: 1000px; height:150px">
                    <thead>
                        <tr>
                            <th data-options="field:'Id',width:40" style="display: none" formatter="olddetail"></th>
                            <th data-options="field:'ItemId',width:100">@Html.Language("商品编号")</th>

                            <th data-options="field:'MessageStatus',width:100">@Html.Language("状态")</th>
                            <th data-options="field:'CreationDate',width:130" formatter="getDate">@Html.Language("时间")</th>
                        </tr>
                    </thead>
                </table>
            </fieldset>
            <fieldset>
                <legend>@Html.Language("关联订单")</legend>
                <table id="order" class="datagrid-cell" style="width: 1000px; height: 150px">
                    <thead>
                        <tr>
                            <th field="OrderNo" width="100" formatter="GetOrder">
                                @Html.Language("订单编号")
                            </th>
                            <th field="Status" width="150" formatter="GeStatus">
                                @Html.Language("订单状态")
                            </th>
                            <th field="CurrencyCode" width="100" formatter="GetAmount">
                                @Html.Language("货币")
                            </th>
                            <th field="BuyerName" width="130" formatter="GetBuyer">
                                @Html.Language("买家")
                            </th>
                            <th field="Country" width="80">
                                @Html.Language("国家")
                            </th>
                            <th field="LogisticMode" width="100">
                                @Html.Language("发货方式")
                            </th>
                            <th field="TrackCode" width="100">
                                @Html.Language("Code")
                            </th>
                            <th field="Weight" width="100">
                                @Html.Language("Weight")
                            </th>
                            <th field="GenerateOn" width="200" formatter="getDate">
                                @Html.Language("时间")
                            </th>
                        </tr>
                    </thead>
                </table>
            </fieldset>
        </div>
    </div>
    <div id="d_dlg"></div>
    <div id="dd" data-options="iconCls:'icon-save'" style="padding: 20px; width: 400px; height: 200px;">
        <table>
            <tr>
                <td>
                    <label>@Html.Language("转发给回复人")：</label>
                </td>
                <td>
                    <input id="forname" required="true" style="width:150px" />
                </td>
            </tr>
            <tr>
                -
                <td>
                    <label>@Html.Language("转发原因")：</label>
                </td>
                <td>
                    <textarea id="forqu" style="resize:none" required="true"></textarea>
                </td>
            </tr>
        </table>
    </div>
</body>
