@model KeWeiOMS.Domain.EbayMessageType
@{
    
}
    <script type="text/javascript">

    function operate(v, r, i) {
        return "<a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'de(" + v + ")\'>@Html.Language("详细")</a>"
    }
    function de(value) {
        $.getJSON('@Url.Action("GetDetail", "EbayMessageRe")/' + value, function (json) {
            $("#r_dlg").dialog({
                title: '@Html.Language("详情")',
                width: 500,
                height: 300,
                content: function () {
                    return "<textarea style='width: 472px; height: 233px;'>" + json + "</textarea>";
                },
               
                buttons: [{
                    text: '@Html.Language("关闭")',
                    handler: function () {
                        $("#r_dlg").dialog('close');
                    }
                }]
            });
        })
    }
</script>
@using (Html.BeginForm("Edit", "EbayMessageRe", FormMethod.Post, new { id = "e_form" }))
{
    <fieldset style="border:0">
<table class="editForm">
	<tr>
		<td>
            
            @Html.LabelFor(model => model.MessageType, KeWeiOMS.Web.Language.GetString("消息类型") + ":")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MessageType, new { @id = "e_MessageType", @readonly = "readonly" })
		</td>
         <td>
            @Html.LabelFor(model => model.SenderID, KeWeiOMS.Web.Language.GetString("买家Id") + ":")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SenderID, new { @id = "e_SenderID", @readonly = "readonly" })
		</td>
	</tr>



	<tr>
		<td>
            @Html.LabelFor(model => model.Subject, KeWeiOMS.Web.Language.GetString("消息主题") + ":")
		</td>
		<td colspan="3">
            @Html.TextAreaFor(model => model.Subject, new { @id = "e_Subject", @style = "width:600px;height:40px;resize:none", @readonly = "readonly" })
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Body, KeWeiOMS.Web.Language.GetString("消息内容") + ":")
		</td>
		<td colspan="3">
              <div style="height:300px;overflow-y:auto; width:600px;" id="r-div">
                                     
                                    @{WriteLiteral(Model.Body);}
</div>
           
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.MessageStatus, KeWeiOMS.Web.Language.GetString("消息状态") + ":")
		</td>
		<td>
            @Html.TextBoxFor(model => model.MessageStatus, new { @id = "e_MessageStatus", @readonly = "readonly" })
		</td>	
       	<td>
            @Html.LabelFor(model => model.ItemId, KeWeiOMS.Web.Language.GetString("商品编号") + ":")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ItemId, new { @id = "e_ItemId", @readonly = "readonly" })
		</td>
	</tr>


	<tr>
		<td>
            @Html.LabelFor(model => model.CreationDate, KeWeiOMS.Web.Language.GetString("问题创建时间") + ":")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreationDate, new { @id = "e_CreationDate", @readonly = "readonly" })
		</td>
        <td>
            @Html.LabelFor(model => model.CreateOn, KeWeiOMS.Web.Language.GetString("同步时间") + ":")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn, new { @id = "e_CreateOn", @readonly = "readonly" })
		</td>
	</tr>
</table>
</fieldset>
<fieldset>
        <legend>@Html.Language("回复信息")</legend>
        <table id="e_old"  class="easyui-datagrid" style="width:700px;height:100px"
            url='@Url.Action("GetOld", "EbayMessageRe")/@ViewData["messageid"]' >
            <thead>
            <tr>
                <th field="Id" width="60" formatter="operate">@Html.Language("操作")
                </th>

                <th field="BodyRe" width="370">@Html.Language("内容")
                </th>

                <th field="ReplayBy" width="100">@Html.Language("回复人")
                </th>

                <th field="ReplayOn" width="160" formatter="getDate">@Html.Language("回复时间")
                </th>
            </tr>
                </thead>
        </table>
</fieldset>
}
<div id="r_dlg"></div>
