
@model IEnumerable<KeWeiOMS.Domain.EbayMessageReType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","EbayMessageRe")',
            toolbar: '#toolbar',
            rownumbers: true,
            fitColumns: true,
            singleSelect: true,
            pagination: true,
            fit: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });
        $("#txtEndDate").datebox("setValue", getStartDate(0));
        $("#txtStartDate").datebox("setValue", getStartDate(7));
    });


	//新建
        function c_dlg() {
            var url_str = '@Url.Action("Create","EbayMessageRe")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            var url = '@Url.Action("Edit","EbayMessageRe")/' + id;
                if (id != undefined) {
                    showdlg(url, 'e_dlg', ajaxEdit)
                }
            }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "EbayMessageRe")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "EbayMessageRe")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "EbayMessageRe")/' + id;
                alert(1);
                delData(url, 'dg');

            }
        }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
    function toExcel() {
        search = getSearch();
        $('#dg').datagrid('loading');
        var postUrl = "/Order/ExportDown/1";
        $.ajax({
            url: '@Url.Action("ToExcel", "EbayMessageRe")/',
            type: 'post',
            data: 'search=' + encodeURIComponent(search),
            success: function (result) {
                $.messager.show({
                    title: '提示',
                    msg: result.ErrorMsg,
                    timeout: 0,
                    showType: 'slide'
                });
                location.href = postUrl;
                $('#dg').datagrid('reload');
            }
        });
    }

    function doSearch() {
        search = getSearch();
        $("#dg").datagrid("load", {
            search: search
        });
    }

    function getSearch() {
        search = "ReplayOn_st&" + $('#txtStartDate').datebox("getValue") + "^ReplayOn_et&" + $('#txtEndDate').datebox("getValue") + "^" + $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
        return search;
    }

     function replay(v, r, i) {
         return "回复时间：<br>" + getDate(v) + "<br>回复人：<br>" + r.ReplayBy;
     }

     function upload() {
         $('#dg').datagrid("loading");
         $.ajax({
             url: '@Url.Action("Syn", "EbayMessageRe")',
            success: function (result) {
                if (result.IsSuccess) {
                    $.messager.show({
                        title: '提示',
                        msg: result.Msg,
                        timeout: 0,
                        showType: 'slide'
                    })
                }
                else {
                    $.messager.show({
                        title: '提示',
                        msg: result.Msg,
                        timeout: 0,
                        showType: 'slide'
                    })
                }
                $('#dg').datagrid('reload');
            }
        })
    }
</script>
<div region="center">
<table id="dg">  
        <thead>  
        <tr>
            <th field="EbayId" width="100">
                回复消息Id
            </th>

            <th field="SubjectRe" width="100">
                回复主题
            </th>

            <th field="BodyRe" width="100">
                回复内容
            </th>

            <th field="ReplayOn" width="100"  formatter="replay">
                回复时间
            </th>

            <th field="UploadTime" width="100"  formatter="getDate">
                同步时间
            </th>

    	</tr>
		</thead>
		</table>
        <div id="toolbar">
@*                   <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="upload();">上传邮件</a>  *@
                开始时间：<input type="text" id="txtStartDate" class="easyui-datebox" style="width:100px"  />&nbsp;
                结束时间：<input type="text" id="txtEndDate" class="easyui-datebox" style="width:100px"/>&nbsp;&nbsp;
		  <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
            <a href="#" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="toExcel();">导出数据</a>
        </div> 
		<div id="mm" style="width: 120px">
            <div data-options="name:'SubjectRe'">回复主题</div>
            <div data-options="name:'BodyRe'">回复内容</div>
            <div data-options="name:'ReplayOn'">回复时间</div>
            <div data-options="name:'ReplayBy'">回复人</div>

        </div>
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>

</div>
</body>
