@model IEnumerable<KeWeiOMS.Domain.WarehouseType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "Warehouse")'
        });

    });

    //新建
    function c_dlg() {
        var url_str = '@Url.Action("Create", "Warehouse")';

        $('#c_dlg').load(url_str, function () {
            $(this).dialog({
                title: '新建',
                modal: true,
                loadingMessage: '正在加载...',
                buttons: [{
                    text: '提交',
                    iconCls: 'icon-ok',
                    handler: function () {
                        ajaxAdd();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#c_dlg').dialog('close');
                    }
                }]
            });
        }).dialog('open');;
    }

    //编辑框
    function e_dlg() {
        var id = getselectedRow();
        if (id != undefined) {
            var url = '@Url.Action("Edit", "Warehouse")/' + id;
            $('#e_dlg').load(url, function () {
                $(this).dialog({
                    title: '编辑',
                    modal: true,
                    loadingMessage: '正在加载...',
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
                            ajaxEdit();
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#e_dlg').dialog('close');
                        }
                    }]
                });
            }).dialog('open');
        }
    }

    //异步新建提交
    function ajaxAdd() {
        $('#c_form').form('submit', {
            url: '@Url.Action("Create", "Warehouse")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.errorMsg) {
                        $.messager.show({
                            title: '提示',
                            msg: '保存失败:' + result.errorMsg,
                            timeout: 0,
                            showType: 'slide'
                        });
                    } else {
                        $('#c_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title: '提示',
                            msg: '保存成功',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                }
            });
        }
        //异步修改提交
        function ajaxEdit() {
            $('#e_form').form('submit', {
                url: '@Url.Action("Edit", "Warehouse")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.errorMsg) {
                        $.messager.show({
                            title: '提示',
                            msg: '保存失败:' + result.errorMsg,
                            timeout: 0,
                            showType: 'slide'
                        });
                    } else {
                        $('#e_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title: '提示',
                            msg: '保存成功',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                }
            });
        }


        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                $.messager.confirm('确认', '确定删除?', function (r) {
                    if (r) {
                        var url = '@Url.Action("Delete", "Warehouse")/' + id;
                    $.post(url, function () {
                    }).success(function (data) {
                        var msgstr = "删除成功";
                        if (data != true) {
                            msgstr = "删除失败" + data;
                            $.messager.show({
                                title: '提示',
                                msg: msgstr,
                                timeout: 0,
                                showType: 'slide'
                            });
                        } else {
                            $.messager.show({
                                title: '提示',
                                msg: msgstr,
                                timeout: 3000,
                                showType: 'slide'
                            });
                        }

                        $('#dg').datagrid('reload');
                    }).error(function () {
                        $.messager.alert('错误', '删除发生错误');
                    });

                }
            });
        }
    }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
    function doSearch() {
        search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
        $("#dg").datagrid("load", {
            search: search,

        });
    }
    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" fit="true">
            <thead>
                <tr>

                    <th field="WCode" width="100" sortable="true" sortable="true">仓库代码
                    </th>

                    <th field="WName" width="100" sortable="true" sortable="true">仓库名称
                    </th>

                    <th field="Address" width="100" sortable="true" sortable="true">仓库地址
                    </th>


                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'WCode'">仓库代码</div>
            <div data-options="name:'WName'">仓库名称</div>
            <div data-options="name:'Address'">仓库地址</div>
        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>

    </div>
</body>
