@model KeWeiOMS.Domain.DictionaryClassType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
	
    });
</script>
@using (Html.BeginForm("Edit", "DictionaryClas", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ClassName,"分类:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ClassName,new{@id="e_ClassName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Code,"代码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Code,new{@id="e_Code"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.AllowDelete,"系统内置:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.AllowDelete,new{@id="e_AllowDelete"})
		</td>
	</tr>


    
</table>
</fieldset>
}
