@model KeWeiOMS.Domain.SupplierType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $("#c_SuppliersName").validatebox({
            required: true,
        });
        $('#dg_zu').datagrid({
            width: 600,
            toolbar: [{
                id: 'btnadd',
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    addp();
                }
            }, {
                id: 'btndel',
                text: '删除',
                iconCls: 'icon-add',
                handler: function () {
                    if (editIndex == undefined) {
                        return;
                    }
                    $('#dg_zu').datagrid('cancelEdit', editIndex)
                            .datagrid('deleteRow', editIndex);
                    editIndex = undefined;
                }
            }, {
                id: 'btnsave',
                text: '保存',
                iconCls: 'icon-save',
                handler: function () {
                    accept();
                }
            }],
            onClickRow: onClickRow
        });
    })
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) {
            return true;
        }
        if ($('#dg_zu').datagrid('validateRow', editIndex)) {
            $('#dg_zu').datagrid('endEdit', editIndex);

            editIndex = undefined;

            return true;

        } else {
            return false;
        }
    }
    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#dg_zu').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#dg_zu').datagrid('selectRow', editIndex);
            }
        }
    }
    function addp() {
        if (endEditing()) {
            $('#dg_zu').datagrid('appendRow', { Qty: 1, Price: 0 });
            editIndex = $('#dg_zu').datagrid('getRows').length - 1;
            $('#dg_zu').datagrid('selectRow', editIndex)
                    .datagrid('beginEdit', editIndex);
        }
    }
    function accept() {
        if (endEditing()) {
            $('#dg_zu').datagrid('acceptChanges');
        }
    }
</script>
@using (Html.BeginForm("Create", "Supplier", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
    <legend>供应商信息</legend>
<table class="editForm">
@*	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>*@
    
	<tr>
		<td>
            <input type="hidden" id="rows" name="rows" />
            @Html.LabelFor(model => model.SuppliersName,"供应商:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SuppliersName,new{@id="c_SuppliersName"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.QQ,"QQ:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.QQ,new{@id="c_QQ"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.WW,"旺旺:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.WW,new{@id="c_WW"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Phone,"电话:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Phone,new{@id="c_Phone"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Tel,"手机:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Tel,new{@id="c_Tel"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Web,"网址:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Web,new{@id="c_Web"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Memo,"备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Memo,new{@id="c_Memo"})
		</td>
	</tr>
</table>
</fieldset>
<fieldset>
        <legend>产品信息</legend>
        <table id="dg_zu" class="easyui-datagrid" rownumbers="true" singleselect="true">
            <thead>
                <tr>
                    <th field="SKU" width="80" data-options="editor:'text'">
                        SKU
                    </th>

                    <th field="Price" width="200" data-options="editor:'text'">
                        价格
                    </th>

                    <th field="Web"  width="200" data-options="editor:'text'">
                        Web
                    </th>
                </tr>
            </thead>
        </table>
</fieldset>
}
