@model IEnumerable<KeWeiOMS.Domain.SupplierType>
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/easyUI/datagrid-detailview.js")"></script>
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","Supplier")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100],
            view: detailview,
            detailFormatter: function (index, row) {
                return '<div id="ddv-' + index + '" style="padding:5px 0"></div>';
            },
            onExpandRow: function (index, row) {
                $('#ddv-' + index).panel({
                    border: false,
                    cache: false,
                    href: '@Url.Action("GetProduct", "SuppliersProduct")' + "/" + row.Id,
                        onLoad: function () {
                            $('#dg').datagrid('fixDetailRowHeight', index);
                        }
                    });
                    $('#dg').datagrid('fixDetailRowHeight', index);
                }
        });
        $("#txtEndDate").datebox("setValue", getStartDate(-1));
        $("#txtStartDate").datebox("setValue", getStartDate(30));

    });
    //新建
    function c_dlg() {
        var url_str = '@Url.Action("Create","Supplier")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            var url = '@Url.Action("Edit","Supplier")/' + id;
        if (id != undefined) {
            showdlg(url, 'e_dlg', ajaxEdit)
        }
    }

    //异步新建提交
    function ajaxAdd() {
        formPost('c_form', '@Url.Action("Create", "Supplier")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Supplier")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Delete", "Supplier")/' + id;
                delData(url, 'dg');

            }
        }
    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }

  function toExcel() {
      search = getSearch();
      $('#dg').datagrid('loading');
      var postUrl = "/Order/ExportDown/1";
      $.ajax({
          url: '@Url.Action("ToExcel", "Supplier")/',
            type: 'post',
            data: 'search=' + encodeURIComponent(search),
            success: function (result) {
                $.messager.show({
                    title: '提示',
                    msg: result.ErrorMsg,
                    timeout: 0,
                    showType: 'slide'
                });
                location.href = postUrl;
                $('#dg').datagrid('reload');
            }
        });
    }

    function doSearch() {
        search = getSearch();
        $("#dg").datagrid("load", {
            search: search
        });
    }
    function getSearch() {
        search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
        return search;
    }
</script>
<div region="center">
<table id="dg" class="easyui-datagrid" 
           toolbar="#toolbar"  
           rownumbers="true" fitColumns="true" singleSelect="true" pagination="true" fit="true">  
        <thead>  
        <tr>
@*         <th field="Id" width="100">
                主键
            </th>*@

            <th field="SuppliersName" width="100" sortable="true">
                供应商
            </th>

            <th field="QQ" width="100" sortable="true">
                QQ
            </th>

            <th field="WW" width="100" sortable="true">
                旺旺
            </th>

            <th field="Phone" width="100" sortable="true">
                电话
            </th>

            <th field="Tel" width="100" sortable="true">
                手机
            </th>

            <th field="Web" width="100" sortable="true">
                网址
            </th>

            <th field="Memo" width="100" sortable="true">
                备注
            </th>


    	</tr>
		</thead>
		</table>
        <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del();">删除</a> 
@*                开始时间：<input type="text" id="txtStartDate" class="easyui-datebox" style="width:100px" readonly="readonly"  />&nbsp;
                结束时间：<input type="text" id="txtEndDate" class="easyui-datebox" readonly="readonly" style="width:100px"/>&nbsp;&nbsp;*@
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        <a href="#" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="toExcel();">导出数据</a>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'SuppliersName'">供应商</div>
            <div data-options="name:'QQ'">QQ</div>
            <div data-options="name:'WW'">旺旺</div>
            <div data-options="name:'Phone'">电话</div>
            <div data-options="name:'Tel'">手机</div>
            <div data-options="name:'Memo'">备注</div>
        </div>
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>

</div>
</body>
