@model IEnumerable<KeWeiOMS.Domain.SupplierType>
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/easyUI/datagrid-detailview.js")"></script>
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("List","Supplier")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100],
            view: detailview,
            detailFormatter: function (index, row) {
                return '<div id="ddv-' + index + '" style="padding:5px 0"></div>';
            },
            onExpandRow: function (index, row) {
                $('#ddv-' + index).panel({
                    border: false,
                    cache: false,
                    href: '@Url.Action("GetProduct", "SuppliersProduct")' + "/" + row.Id,
                        onLoad: function () {
                            $('#dg').datagrid('fixDetailRowHeight', index);
                        }
                    });
                    $('#dg').datagrid('fixDetailRowHeight', index);
                }
        });

    });

    //新建
    function c_dlg() {
        var url_str = '@Url.Action("Create","Supplier")';
            $('#c_dlg').load(url_str, function () {
            $(this).dialog({
                title: '新建',
                modal: true,
                loadingMessage: '正在加载...',
                onClose: function () {
                    $.ajax({
                        url: '/SuppliersProduct/DelSession'
                    })
                },
                buttons: [{
                    text: '提交',
                    iconCls: 'icon-ok',
                    handler: function () {
                        addSupliersProduct();
                        $('#c_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#c_dlg').dialog('close');
                    }
                }]
            });
        }).dialog('open');;
    }

    //编辑框
    function e_dlg() {
        var id = getselectedRow();
        if (id != undefined)
        { 
            var url_str = '@Url.Action("Edit","Supplier")/' + id;
            $('#e_dlg').load(url_str, function () {
                $(this).dialog({
                    title: '编辑',
                    modal: true,
                    loadingMessage: '正在加载...',
                    onClose: function () {
                        $.ajax({
                            url: '/SuppliersProduct/EDelSession'
                        })
                    },
                    buttons: [{
                        text: '提交',
                        iconCls: 'icon-ok',
                        handler: function () {
                            editSupliersProduct();
                            $('#e_dlg').dialog('close');
                            $('#dg').datagrid('reload');
                        }
                    }, {
                        text: '取消',
                        handler: function () {
                            $('#e_dlg').dialog('close');
                        }
                    }]
                });
            }).dialog('open');;
        }
        }

@*	//异步新建提交
        function ajaxAdd() {
            $('#c_form').form('submit', {
                url: '@Url.Action("Create","Supplier")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                 
                    if (!result.IsSuccess) {
                       $.messager.show({
							title: '提示',
							msg: '保存失败:' + result.ErrorMsg,
							timeout: 0,
							showType: 'slide'
						});
                    } else {
                        $('#c_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title: '提示',
                            msg: '保存成功',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                }
            });
           
        }
		//异步修改提交
        function ajaxEdit() {
            $('#e_form').form('submit', {
                url: '@Url.Action("Edit","Supplier")',
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                 
                    if (!result.IsSuccess) {
                       $.messager.show({
							title: '提示',
							msg: '保存失败:' + result.ErrorMsg,
							timeout: 0,
							showType: 'slide'
						});
                    } else {
                        $('#e_dlg').dialog('close');
                        $('#dg').datagrid('reload');
                        $.messager.show({
                            title: '提示',
                            msg: '保存成功',
                            timeout: 2000,
                            showType: 'slide'
                        });
                    }
                    $('#dg').datagrid('reload');
                }
            });
            
        }*@
   

    //删除
    function del() {
        var id = getselectedRow();
        if (id != undefined) {
            $.messager.confirm('确认', '确定删除?', function (r) {
                if (r) {
                    var url = '@Url.Action("Delete","Supplier")/' + id;
                    $.post(url, function () {
                    }).success(function (data) {
                        var msgstr = "删除成功";
                      if (!data.IsSuccess){
                            msgstr = "删除失败" + data;
							$.messager.show({
	                            title: '提示',
	                            msg: msgstr,
								 timeout: 0,
	                            showType: 'slide'
                        	});
                        }else{
	                        $.messager.show({
	                            title: '提示',
	                            msg: msgstr,
	                            timeout: 3000,
	                            showType: 'slide'
	                        });
						}

                        $('#dg').datagrid('reload');
                    }) .error(function () {
                            $.messager.alert('错误', '删除发生错误');
                        });

                }
            });
        }
    }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }
    function doSearch() {
        search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
        $("#dg").datagrid("load", {
            search: search

        });
    }
</script>
<div region="center">
<table id="dg" class="easyui-datagrid" 
           toolbar="#toolbar"  
           rownumbers="true" fitColumns="true" singleSelect="true" pagination="true" fit="true">  
        <thead>  
        <tr>
@*         <th field="Id" width="100">
                主键
            </th>*@

            <th field="SuppliersName" width="100" sortable="true">
                供应商
            </th>

            <th field="QQ" width="100" sortable="true">
                QQ
            </th>

            <th field="WW" width="100" sortable="true">
                旺旺
            </th>

            <th field="Phone" width="100" sortable="true">
                电话
            </th>

            <th field="Tel" width="100" sortable="true">
                手机
            </th>

            <th field="Web" width="100" sortable="true">
                网址
            </th>

            <th field="Memo" width="100" sortable="true">
                备注
            </th>


    	</tr>
		</thead>
		</table>
        <div id="toolbar">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="c_dlg();">新建</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>  
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del();">删除</a>  
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'SuppliersName'">供应商</div>
            <div data-options="name:'QQ'">QQ</div>
            <div data-options="name:'WW'">旺旺</div>
            <div data-options="name:'Phone'">电话</div>
            <div data-options="name:'Tel'">手机</div>
            <div data-options="name:'Memo'">备注</div>
        </div>
    <div id="c_dlg"></div>
    <div id="e_dlg"></div>

</div>
</body>
