@{
    ViewBag.Title = "ScanCount";
}

<script>

    $(function () {
        $("#cc").datebox({
            parser: myparser
        });
        $("#cc2").datebox({
            parser: myparser
        });
        $('#cc').datebox("setValue", getStartDate(7));
        $('#cc2').datebox("setValue", getStartDate(0));
        $('#dg').datagrid({
            title: "扫描统计",
            rownumbers: true,
            singleselect: true,
            url: '@Url.Action("ScanCount", "Statistics")',
            queryParams: { "st": $('#cc').combobox("getValue"), "et": $('#cc2').combobox("getValue") },
            showFooter: true,

            width: 1200,
            striped: true

        });
        $('#dg2').datagrid({
            title: "配货统计",
            rownumbers: true,
            singleselect: true,
            url: '@Url.Action("PeiCount", "Statistics")',
            queryParams: { "st": $('#cc').combobox("getValue"), "et": $('#cc2').combobox("getValue") },
            showFooter: true,
            width: 1200,
            striped: true
        });
        $('#dg3').datagrid({
            title: "计件统计",
            rownumbers: true,
            singleselect: true,
            url: '@Url.Action("JiCount", "Statistics")',
            queryParams: { "st": $('#cc').combobox("getValue"), "et": $('#cc2').combobox("getValue") },
            showFooter: true,
            width: 1200,
            striped: true

        });

        $('#dg4').datagrid({
            title: "验货统计",
            rownumbers: true,
            singleselect: true,
            url: '@Url.Action("ValiCount", "Statistics")',
            queryParams: { "st": $('#cc').combobox("getValue"), "et": $('#cc2').combobox("getValue") },
            showFooter: true,
            width: 1200,
            striped: true

        });

    });


    function myparser(s) {
        if (!s) return new Date();
        var ss = s.split('-');
        var y = parseInt(ss[0], 10);
        var m = parseInt(ss[1], 10);
        var d = parseInt(ss[2], 10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
            return new Date(y, m - 1, d);
        } else {
            return new Date();
        }
    }
    function onSelect1() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetColumns", "Statistics")',
            data: "st=" + $('#cc').combobox("getValue") + "&et=" + $('#cc2').combobox("getValue"),
            success: function (data) {
                var arr = new Array();
                arr[0] = data.columns;
                var options = $("#dg").datagrid("options");                   //取出当前datagrid的配置 
                var options2 = $("#dg2").datagrid("options");
                var options3 = $("#dg3").datagrid("options");
                var options4 = $("#dg4").datagrid("options");
                options.columns = arr;
                options2.columns = arr;
                options3.columns = arr;       //添加服务器端返回的columns配置信息
                options4.columns = arr;
                //添加查询参数  
                $("#dg").datagrid(options);

                $('#dg').datagrid("load", {
                    st: $('#cc').combobox("getValue"),
                    et: $('#cc2').combobox("getValue")
                });

                $("#dg2").datagrid(options2);
                $('#dg2').datagrid("load", {
                    st: $('#cc').combobox("getValue"),
                    et: $('#cc2').combobox("getValue")
                });
                $("#dg3").datagrid(options3);
                $('#dg3').datagrid("load", {
                    st: $('#cc').combobox("getValue"),
                    et: $('#cc2').combobox("getValue")

                });
                $("#dg4").datagrid(options4);
                $('#dg4').datagrid("load", {
                    st: $('#cc').combobox("getValue"),
                    et: $('#cc2').combobox("getValue")

                });
            }
        });

    }
</script>

开始<input id="cc" type="text">
结束<input id="cc2" type="text">
<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="onSelect1();">查询</a>
<table>
    <tr>
        <td>
            <table id="dg">
                <thead>
                    <tr>
                    </tr>
                </thead>
            </table>
        </td>

    </tr>
    <tr>
        <td>
            <table id="dg2">
                <thead>
                    <tr>
                    </tr>
                </thead>
            </table>
        </td>

    </tr>
    <tr>
        <td>
            <table id="dg3">
                <thead>
                    <tr>
                    </tr>
                </thead>
            </table>
        </td>

    </tr>
    <tr>
        <td>
            <table id="dg4">
                <thead>
                    <tr>
                    </tr>
                </thead>
            </table>
        </td>

    </tr>
</table>

