@{
    ViewBag.Title = "GetSellCount";
}
<script src="@Url.Content("~/Scripts/easyUI/datagrid-detailview.js")"></script>
<script>
    $(function () {
        var dt = new Date().getFullYear() + '/' + (new Date().getMonth() + 1) + '/' + new Date().getDate();
        $('#dg').datagrid({
            url: '@Url.Action("SellCount", "Statistics")',
            queryParams: { "st": dt, "et": dt, "p": "ALL", "a": "ALL" },
            showFooter: true,
            title:"订单数量统计",
            height: 430,
            nowrap: false,
            width: 1200,
            striped: true,
            view: detailview,
            detailFormatter: function (index, row) {
                return '<div style="padding:2px"><table id="ddv-' + index + '" style="padding:5px 0"></table></div>';
            },
            onExpandRow: function (index, row) {
                var search =row.SKU+"$" + $('#cc').combobox("getValue") + "$" + $('#cc2').combobox("getValue") + "$" + $('#pp').combobox("getText") + "$" + $('#aa').combobox("getText");

                $('#ddv-' + index).datagrid({
                    fitColumns: true,
                    singleSelect: true,
                    rownumbers: true,
                    loadMsg: '',
                    height: 'auto',
                    url: '@Url.Action("GetOrder", "Statistics")' + "/" + search,
                        columns: [[
                                {
                                    field: 'CreateOn', title: '日期', width: 200, formatter: function (value) {
                                            return getDate(value);
                                    }
                                },
                                { field: 'OrderNo', title: '订单号', width: 200 },
                                { field: 'Country', title: '国家', width: 100 },
                                { field: 'qty', title: '数量', width: 50},
                                {
                                    field: 'Amount', title: '金额', width: 100, formatter: function (v, r, i) {
                                        return  r.CurrencyCode+ "<br>" + v;
                                    }
                                },
                                {
                                    field: 'BuyerEmail', title: '买家', width: 200, formatter: function (v, r, i) {
                                        return r.BuyerName + "<br>" + v;
                                    }
                                },
                                {
                                    field: 'Account', title: '账号', width: 200, formatter: function (v, r, i) {
                                        return r.Platform + "<br>" + v;
                                    }
                                },
                                {
                                    field: 'LogisticMode', title: '物流方式', width: 200, formatter: function (v, r, i) {
                                        return  v+ "<br>" + r.TrackCode;
                                    }
                                }
                        ]],
                        onResize: function () {
                            $('#dg').datagrid('fixDetailRowHeight', index);
                        },
                        onLoadSuccess: function () {
                            setTimeout(function () {
                                $('#dg').datagrid('fixDetailRowHeight', index);
                            }, 0);
                        }
                    });
                    $('#dg').datagrid('fixDetailRowHeight', index);
                }

  @*            detailFormatter: function (index, row) {
                return '<div id="ddv-' + index + '" style="padding:5px 0"></div>';
            },
            onExpandRow: function (index, row) {
                              $.ajax({
                    type: 'post',
                    url: '@Url.Action("GetOrder", "SuppliersProduct")/',
                    data: "st=" + $('#cc').combobox("getValue") + "&et=" + $('#cc2').combobox("getValue") + "&p=" + $('#pp').combobox("getText") + "&a=" + $('#aa').combobox("getText") + "ss=" + $('#ss').combobox("getText")
                })
                var search ="st=" + $('#cc').combobox("getValue") + "$et=" + $('#cc2').combobox("getValue") + "$p=" + $('#pp').combobox("getText") + "$a=" + $('#aa').combobox("getText") + "$ss=" + $('#ss').combobox("getText");
                $('#ddv-' + index).panel({
                    border: false,
                    cache: false,
                    href: '@Url.Action("GetOrder", "Statistics")/'+encodeURIComponent(search),
                    onLoad: function () {
                        $('#dg').datagrid('fixDetailRowHeight', index);
                    }
                });
                $('#dg').datagrid('fixDetailRowHeight', index);
            }*@
        });
        $("#cc").datebox({
            parser: myparser
        });
        $("#cc2").datebox({
            parser: myparser
        });
        $('#cc').datebox("setValue", getStartDate(0));
        $('#cc2').datebox("setValue", getStartDate(0));
        $('#pp').combobox({
            url: '/Account/Platform/1',
            valueField: 'id',
            textField: 'text',
            width: 100,
            panelHeight: 'auto',
            onChange: changePlatform
        });
        $('#pp').combobox("setValue", "ALL");

        $('#ss').combogrid({
            panelWidth: 430,
            mode: 'remote',
            idField: 'SKU',
            textField: 'SKU',
            url: '/Product/ListQ',
            fit: true,
            columns: [[
                { field: 'SKU', title: 'SKU', width: 100 },
                { field: 'ProductName', title: 'Title', width: 200 },
                { field: 'Standard', title: '规格', width: 100 }
            ]]
        });
        $('#ss').combogrid("setValue", "ALL");
    });
    function onSelect1() {
        $('#dg').datagrid("load", {
            st: $('#cc').combobox("getValue"),
            et: $('#cc2').combobox("getValue"),
            p: $('#pp').combobox("getText"),
            a: $('#aa').combobox("getText"),
            ss: $('#ss').combobox("getText")
        });
    }
    function changePlatform(n, o) {

        $('#aa').combotree({
            url: '/Account/AccountList/' + n,
            valueField: 'id',
            textField: 'text',
            width: 150
        });
        $('#aa').combotree("setValue", "ALL");

    }
    function myparser(s) {
        if (!s) return new Date();
        var ss = s.split('-');
        var y = parseInt(ss[0], 10);
        var m = parseInt(ss[1], 10);
        var d = parseInt(ss[2], 10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
            return new Date(y, m - 1, d);
        } else {
            return new Date();
        }
    }
    function ExportOut() {
        $('#dg').datagrid("loading");
        var postUrl = "/Order/ExportDown/1";
        jQuery.ajax({
            url: "/Statistics/ExportSellCount",
            type: "post",
            data: "a=" + $('#aa').combobox("getText") + "&p=" + $('#pp').combobox("getText") + "&st=" + $('#cc').combobox("getValue") + "&et=" + $('#cc2').combobox("getValue") + "&ss=" + $('#ss').combogrid("getText"),
            success: function (sss) {
                location.href = postUrl;
                $('#dg').datagrid("reload");
            }
        });
    }
</script>
开始<input id="cc" type="text">
结束<input id="cc2" type="text">
平台<input id="pp" type="text">
账户<input id="aa" type="text">
SKU<input id="ss" type="text">
<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="onSelect1();">查询</a>
<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="ExportOut();">导出</a>
<table>
    <tr>
        <td>
            <table id="dg">
                <thead>
                    <tr>
                        <th field="Title" width="200">标题
                        </th>
                        <th field="SKU" width="150">SKU
                        </th>
                        <th field="PicUrl" width="100" formatter="GetPic">图片
                        </th>
                        <th field="Category" width="190">分类
                        </th>
                        <th field="Qty" width="100">数量
                        </th>
                        <th field="OQty" width="100">订单
                        </th>
                        <th field="Price" width="100">价格
                        </th>
                        <th field="TotalPrice" width="100">总价
                        </th>
                    </tr>
                </thead>
            </table>
        </td>

    </tr>
</table>

