@{
    
}

<link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/uploadify/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    var type = 0;
    $(function () {

        $('#up_file').uploadify({
            'auto': false,
            'buttonText': '请选择订单文件',
            'swf': '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
            'uploader': '/Home/SaveFile/',
            'multi': false,
            'onUploadSuccess': function (file, data, response) {
                eval("data=" + data);
                $('#hfile').val(data.SaveName);
                if (type == 1) {
                    formPost('c_Import', '@Url.Action("ImportAmount", "Order")');
                } else {
                    formPost('c_Import', '@Url.Action("Import", "Order")');
                }

                $('c_Import').clear();
            }
        });
        $('#up_file2').uploadify({
            'auto': false,
            'buttonText': '请选择Gmarket文件',
            'swf': '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
            'uploader': '/Home/SaveFile/',
            'multi': false,
            'onUploadSuccess': function (file, data, response) {
                eval("data=" + data);
                $('#hfile2').val(data.SaveName);

                var postUrl = "/Order/ExportDown/1";
                jQuery.ajax({
                    url: "/Order/GExport/",
                    type: "post",
                    data: "f=" + data.SaveName,
                    success: function (sss) {
                        location.href = postUrl;

                    }
                });



            }
        });
        $('#Platform').combobox({
            url: '/Account/Platform',
            valueField: 'id',
            textField: 'text',
            required: true,
            width: 150,
            panelHeight: 'auto',
            onChange: changePlatform
        });
        $('#Platform2').combobox({
            url: '/Account/Platform',
            valueField: 'id',
            textField: 'text',
            required: true,
            width: 150,
            panelHeight: 'auto',
            onChange: changePlatform2
        });
        var d = new Date(-1);
        $('#st').datebox({
            required: true
        });
        $('#et').datebox({
            required: true
        });
        $('#Platform').combobox("setValue", "LT");
        $('#Account').combotree("setValue", "ALL");
        $('#Platform2').combobox("setValue", "LT");
        $('#Account2').combotree("setValue", "ALL");
    });

    function changePlatform2(n, o) {
        $('#Account2').combotree({
            url: '/Account/AccountList/' + n,
            valueField: 'id',
            textField: 'text',
            required: true,
            width: 150
        });
        $('#Account2').combotree("setValue", "ALL");
    }

    function changePlatform(n, o) {
        $('#Account').combotree({
            url: '/Account/AccountList/' + n,
            valueField: 'id',
            textField: 'text',
            required: true,
            width: 150
        });
        $('#Account').combotree("setValue", "ALL");
    }
    function addOrder() {
        type = 0;
        $('#up_file').uploadify('upload', '*');
    }


    function importAmount() {
        type = 1;
        $('#up_file').uploadify('upload', '*');
    }

    function Gexport() {
        type = 1;
        $('#up_file2').uploadify('upload', '*');
    }

    function Synchronous() {
        formPost('c_Synchronous', '@Url.Action("Synchronous", "Order")');
        $('c_Synchronous').clear();
    }

</script>


<div id="tt" class="easyui-tabs" style="width: 600px; height: 400px;">
    <div title="订单导入" style="padding: 20px;">
        @using (Html.BeginForm("Import", "Order", FormMethod.Post, new { id = "c_Import" }))
        {
           
            <table class="dv-table" border="0" style="width: 400px; height: 250px;">
                <tr>
                    <td>平台:</td>
                    <td>
                        <input id="Platform" name="Platform" /></td>
                </tr>
                <tr>
                    <td>账户:</td>
                    <td>
                        <input id="Account" name="Account" /></td>
                </tr>
                <tr>
                    <td>文件:</td>
                    <td>
                        <input id="hfile" type="hidden" value="" name="hfile" />
                        <input id="up_file" type="file" name="up_file" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="导入订单" onclick="addOrder();" />
                        <input type="button" value="导入金额" onclick="importAmount();" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <div title="订单同步" style="overflow: auto; padding: 20px;">
        @using (Html.BeginForm("Synchronous", "Order", FormMethod.Post, new { id = "c_Synchronous" }))
        {
           
            <table class="dv-table" border="0" style="width: 400px; height: 250px;">
                <tr>
                    <td>平台:</td>
                    <td>
                        <input id="Platform2" name="Platform" /></td>
                </tr>
                <tr>
                    <td>账户:</td>
                    <td>
                        <input id="Account2" name="Account" /></td>
                </tr>
                <tr>
                    <td>开始时间:</td>
                    <td>
                        <input id="st" name="st" type="text"></input>
                    </td>
                </tr>
                <tr>
                    <td>结束时间:</td>
                    <td>
                        <input id="et" name="et" type="text"></input>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="保存" onclick="Synchronous();" /></td>
                </tr>
            </table>
        }
    </div>
    <div title="Gmarket追踪条码导出" style="overflow: auto; padding: 20px;">
        @using (Html.BeginForm("GExport", "Order", FormMethod.Post, new { id = "c_GExport" }))
        {
            <table class="dv-table" border="0" style="width: 400px; height: 250px;">

                <tr>
                    <td>文件:</td>
                    <td>
                        <input id="hfile2" type="hidden" value="" name="hfile" />
                        <input id="up_file2" type="file" name="up_file" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="保存" onclick="Gexport();" /></td>
                </tr>
            </table>
        }
    </div>

</div>


