@model IEnumerable<KeWeiOMS.Domain.OrderType>
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/easyUI/datagrid-detailview.js")"></script>
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "Order")',
                pageNumber: 1,
                pageSize: 20,
                pageList: [20, 40, 60, 80, 100],
                view: detailview,
                detailFormatter: function (index, row) {
                    return '<div id="ddv-' + index + '" style="padding:5px 0"></div>';
                },
                onExpandRow: function (index, row) {
                    $('#ddv-' + index).panel({
                        border: false,
                        cache: false,
                        href: '@Url.Action("GetProduct", "OrderProduct")' + "/" + row.Id,
                        onLoad: function () {
                            $('#dg').datagrid('fixDetailRowHeight', index);
                        }
                    });
                    $('#dg').datagrid('fixDetailRowHeight', index);
                }
            });
        });

        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "Order")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Order")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }
        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Order")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Order")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "Order")/' + id;
                alert(1);
                delData(url, 'dg', 't');
            }
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }

        function GetOrder(v, r, i) {
            return v + "<br/>" + r.OrderExNo;
        }

        function GeStatus(v, r, i) {
            var html = v + "<br/>";
            html += "<img src='Print" + r.IsPrint + ".png'> ";
            html += "<img src='Merger" + r.IsMerger + ".png'> ";
            html += "<img src='Split" + r.IsSplit + ".png'> ";
            html += "<img src='OutOfStock" + r.IsOutOfStock + ".png'> ";
            html += "<img src='Repeat" + r.IsRepeat + ".png'> ";
            return html;
        }

        function GetAmount(v, r, i) {
            var html = v + ":" + r.Amount;
            return html;
        }

        function GetBuyer(v, r, i) {
            var html = v + "<br />" + r.BuyerEmail;
            return html;
        }

    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true"  singleselect="true" pagination="true" >
            <thead>
                <tr>
                    <th field="OrderNo" width="100" formatter="GetOrder">订单编号
                    </th>
                    <th field="Status" width="150" formatter="GeStatus">订单状态
                    </th>
                    <th field="CurrencyCode" width="100" formatter="GetAmount">货币
                    </th>
                    <th field="TId" width="100">流水交易号
                    </th>
                    <th field="BuyerName" width="130" formatter="GetBuyer">买家
                    </th>
                    <th field="Country" width="100">国家
                    </th>
                    <th field="LogisticMode" width="100">发货方式
                    </th>
                      <th field="Weight" width="30">重量
                    </th>
                    <th field="Freight" width="30">运费
                    </th>
                    <th field="BuyerMemo" width="100" formatter="GetMemo">留言
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="o_Sync()">订单同步</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="o_Import()">订单导入</a>

            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_dlg()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
        </div>

        <div id="c_dlg"></div>
        <div id="e_dlg"></div>
        <div id="o_dlg"></div>
    </div>
</body>
