@model IEnumerable<KeWeiOMS.Domain.OrderType>
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/easyUI/datagrid-detailview.js")"></script>
<body class="easyui-layout">
    <script type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("UnHandleList", "Order")',
                pageNumber: 1,
                nowrap: false,
                pageSize: 20,
                height: 500,
                pageList: [20, 40, 60, 80, 100, 200],
                view: detailview,
                onDblClickRow: function (i, r) {
                    window.open('@Url.Action("Details", "Order")/' + r.Id);
                },
                detailFormatter: function (index, row) {
                    var html = '<div id="ddv-' + index + '" style="padding:5px 0"></div>';
                    html += '<div  style="padding:5px 0"><b>留言:' + row.BuyerMemo + '</b></div>';
                    return html;
                },
                onExpandRow: function (index, row) {
                    $('#ddv-' + index).panel({
                        border: false,
                        cache: false,
                        href: '@Url.Action("GetProduct", "OrderProduct")' + "/" + row.Id,
                        onLoad: function () {
                            $('#dg').datagrid('fixDetailRowHeight', index);
                        }
                    });
                    $('#dg').datagrid('fixDetailRowHeight', index);
                }
            });

            $('#Platform').combobox({
                url: '/Home/Platform/1',
                valueField: 'id',
                textField: 'text',
                required: true,
                width: 150,
                panelHeight: 'auto',
                onChange: changePlatform
            });
            $('#Platform').combobox("setValue", "ALL");
            $('#Account').combotree("setValue", "ALL");
        });

        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "Order")';
            showdlg(url_str, 'c_dlg', ajaxAdd);
        }
        $('#Platform').combobox({
            url: '/Home/Platform',
            valueField: 'id',
            textField: 'text',
            required: true,
            width: 150,
            panelHeight: 'auto'
        });

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Order")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit);
            }
        }
        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Order")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Order")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var ids = getselectedRows();
            if (ids != undefined) {
                if (confirm("你确定要删除吗？")) {
                    jQuery.ajax({
                        url: '@Url.Action("Delete", "Order")',
                        type: "post",
                        data: "o=" + ids.join(','),
                        success: function (sss) {
                            $('#dg').datagrid("reload");
                        }
                    });
                }

            }
        }

        function getselectedRows() {
            var s_ids = [];
            var rows = $('#dg').datagrid('getSelections');
            for (var i = 0; i < rows.length; i++) {
                s_ids.push(rows[i]["Id"]);
            }
            if (s_ids.length == 0) {
                $.messager.alert("请选择一条数据");
                return s_ids;
            }
            return s_ids;
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }

        function GetOrder(v, r, i) {
            return v + "<br/>" + r.OrderExNo;
        }

        function GeStatus(v, r, i) {
            var html = v + "<br/>";
            if (r.IsPrint == 1)
                html += "<img src='/Content/imgs/Print.gif'> ";
            if (r.IsMerger == 1)
                html += "<img src='/Content/imgs/Merger.gif'> ";
            if (r.IsSplit == 1)
                html += "<img src='/Content/imgs/Split.gif'> ";
            if (r.IsOutOfStock == 1)
                html += "<img src='/Content/imgs/OutOfStock.gif'> ";
            if (r.IsRepeat == 1)
                html += "<img src='/Content/imgs/Repeat.gif'> ";
            return html;
        }

        function GetAmount(v, r, i) {
            var html = v + ":" + r.Amount;
            return html;
        }

        function GetBuyer(v, r, i) {
            var html = v + "<br />" + r.BuyerEmail;
            return html;
        }

        function getAccount(v, r, i) {

            var html = v + "<br />" + r.Platform;
            return html;
        }

        function doSearch() {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            var a = $('#Account').combobox("getText");
            if (a != "ALL") {
                search += "Account_es&" + a + "^";
            }
            var b = $('#Platform').combobox("getText");
            if (b != "ALL") {
                search += "Platform_es&" + b + "^";
            }


            $("#dg").datagrid("load", {
                search: search
            });
        }

        function showPrint() {
            var rows = $('#dg').datagrid('getSelections');
            var ids = [];
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i]["OrderNo"]);
            }
            jQuery.ajax({
                url: "/Home/PostData",
                type: "post",
                data: "ids=" + ids.join(','),
                success: function (sss) {
                    window.open('/Home/PrintSetup/');
                }
            });
        }
        var s_ids = [];
        function showEdit() {
            s_ids = [];
            var rows = $('#dg').datagrid('getSelections');
            for (var i = 0; i < rows.length; i++) {
                s_ids.push(rows[i]["Id"]);
            }

            $('#s_dlg').show();
            $("#s_dlg").dialog({
                title: '替换',
                modal: true,
                loadingMessage: '正在加载...',
                buttons: [{
                    text: '提交',
                    iconCls: 'icon-ok',
                    handler: function () {
                        jQuery.ajax({
                            url: "/Order/EditOrderReplace/",
                            type: "post",
                            data: "ids=" + s_ids.join(',') + "&oldField=" + $('#txtOld').val() + "&newField=" + $('#txtNew').combogrid("getValue") + "&FieldName=" + $('#cc').combobox("getValue"),
                            success: function () {
                                $('#s_dlg').dialog('close');
                                $('#dg').datagrid("reload");
                            }
                        });
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#s_dlg').dialog('close');
                    }
                }]
            }).dialog('open');
        }

        function e_order() {
            var id = getselectedRow();
            window.open('@Url.Action("Edit", "Order")/' + id);
        }

        function o_vali() {
            $('#dg').datagrid("loading");
            jQuery.ajax({
                url: "/Order/EditOrderVali",
                type: "post",
                success: function (sss) {
                    alert(sss);
                    $('#dg').datagrid("reload");
                }
            });

        }

        function e_Meger() {
            jQuery.ajax({
                url: "/Order/EditOrderMerger",
                type: "post",
                success: function (sss) {
                    alert(sss);
                    $('#dg').datagrid("reload");
                }
            });
        }

        function changePlatform(n, o) {
            $('#Account').combotree({
                url: '/Home/AccountList/' + n,
                valueField: 'id',
                textField: 'text',
                required: true,
                width: 150
            });
        }

        function getOrderDate(v, r, i) {
            var html = "下:" + getDate(r.GenerateOn);
            html += "同:" + getDate(r.CreateOn);
            return html;
        }
    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar" rownumbers="true" pagination="true">
            <thead>
                <tr>
                    <th field="Id" width="60" checkbox="true"></th>

                    <th field="OrderNo" width="100" formatter="GetOrder">订单编号
                    </th>
                    <th field="Status" width="150" formatter="GeStatus">订单状态
                    </th>
                    <th field="CurrencyCode" width="100" formatter="GetAmount">货币
                    </th>

                    <th field="BuyerName" width="130" formatter="GetBuyer">买家
                    </th>
                    <th field="Country" width="80">国家
                    </th>
                    <th field="LogisticMode" width="100">发货方式
                    </th>
                    <th field="GenerateOn" width="200" formatter="getOrderDate">时间
                    </th>
                    <th field="Account" width="100" formatter="getAccount">账户
                    </th>

                    <th field="ErrorInfo" width="250">错误信息
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="o_vali()">验证订单</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_order()">编辑</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="e_Meger()">相同卖家合并订单</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="showEdit()">修改选中</a>

            平台：
            <input type="text" id="Platform" />
            账户<input type="text" id="Account" />
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'OrderNo'">订单编号</div>
            <div data-options="name:'OrderExNo'">外部编号</div>
            <div data-options="name:'TId'">流水交易号</div>
            <div data-options="name:'BuyerName'">买家</div>
            <div data-options="name:'BuyerEmail'">买家邮箱</div>
            <div data-options="name:'LogisticMode'">发货方式</div>
            <div data-options="name:'Country'">国家</div>
            <div data-options="name:'ScanningBy'">扫描人</div>
        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>
        <div id="o_dlg"></div>
        <script type="text/javascript">
            $(function () {
                $('#cc').combobox({
                    panelHeight: 'auto',
                    onChange: changeText
                });
                $('#txtNew').combogrid({
                    panelWidth: 360,
                    idField: 'ECountry',
                    textField: 'ECountry',
                    url: '/Country/ListALL',

                    columns: [[
                        { field: 'CCountry', title: '中文', width: 150 },
                        { field: 'ECountry', title: '英文', width: 100 },
                        { field: 'CountryCode', title: '简码', width: 100 }
                    ]]

                });
            });


            function changeText(n, o) {
                if (n == "Country") {
                    $('#txtNew').combogrid({
                        panelWidth: 360,
                        idField: 'ECountry',
                        textField: 'ECountry',
                        url: '/Country/ListALL',

                        columns: [[
                            { field: 'CCountry', title: '中文', width: 150 },
                            { field: 'ECountry', title: '英文', width: 100 },
                            { field: 'CountryCode', title: '简码', width: 100 }
                        ]]

                    });
                }
                if (n == "SKU") {
                    $('#txtNew').combogrid({
                        panelWidth: 410,
                        mode: 'remote',
                        idField: 'SKU',
                        textField: 'SKU',
                        url: '/Product/ListQ',

                        columns: [[
                            { field: 'SKU', title: 'SKU', width: 100 },
                            { field: 'ProductName', title: 'Title', width: 200 },
                            { field: 'Standard', title: '规格', width: 100 }

                        ]]

                    });
                }
                if (n == "LogisticMode") {
                    $('#txtNew').combogrid({
                        panelWidth: 360,
                        idField: 'LogisticsCode',
                        textField: 'LogisticsName',
                        url: '/LogisticsMode/ALLList',

                        columns: [[
                            { field: 'LogisticsName', title: '名称', width: 250 },
                            { field: 'LogisticsCode', title: '代码', width: 100 }


                        ]]

                    });
                }
                if (n == "CurrencyCode") {
                    $('#txtNew').combogrid({
                        panelWidth: 360,
                        idField: 'CurrencyCode',
                        textField: 'CurrencyCode',
                        url: '/Currency/List',
                        columns: [[
                            { field: 'CurrencyName', title: '货币', width: 150 },
                            { field: 'CurrencyCode', title: '代码', width: 100 },
                            { field: 'CurrencyValue', title: '汇率', width: 100 }
                        ]]
                    });
                }
            }

        </script>
        <div id="s_dlg" style="display: none">
            <table>
                <tr>
                    <td colspan="2">替换信息:
                        <select id="cc" style="width: 200px;">
                            <option value="Country">国家</option>
                            <option value="CurrencyCode">货币</option>
                            <option value="SKU">SKU</option>
                            <option value="LogisticMode">运输方式</option>
                        </select>

                    </td>

                </tr>
                <tr>
                    <td>原本值</td>
                    <td>替换值</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="txtOld" /></td>

                    <td>
                        <input type="text" id="txtNew" /></td>
                </tr>

            </table>
        </div>
    </div>
</body>
