@model KeWeiOMS.Domain.NewGuideType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
        $('#e_CreateOn').datebox({
            required: true,
        });
        $("#e_NewSku").validatebox({
            required: true,
        });
        $("#e_OldSku").validatebox({
            required: true,
        });
        $("#e_Pic").validatebox({
            required: true,
        });
        $("#e_Url").validatebox({
            required: true,
        });

    });
</script>
@using (Html.BeginForm("Edit", "NewGuide", FormMethod.Post, new { id = "e_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
@*		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.Id,new{@id="e_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.NewSku,"新SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.NewSku,new{@id="e_NewSku"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.OldSku,"旧SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.OldSku,new{@id="e_OldSku"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Title,"标题:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Title,new{@id="e_Title"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Pic,"图片:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Pic,new{@id="e_Pic"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Url,"网址:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Url,new{@id="e_Url"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Price,"价格:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Price,new{@id="e_Price"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ColorSize,"规格:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ColorSize,new{@id="e_ColorSize"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Remark,"备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Remark,new{@id="e_Remark"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Status,"状态:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Status,new{@id="e_Status"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.IsCheck,"采购标记:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.IsCheck,new{@id="e_IsCheck"})
		</td>
	</tr>

	<tr>
@*		<td>
            @Html.LabelFor(model => model.CreateOn,"创建时间:")
		</td>*@
		<td style="display:none">
            @Html.TextBoxFor(model => model.CreateOn,new{@id="e_CreateOn"})
		</td>
	</tr>


    
</table>
</fieldset>
}
